﻿@charset "utf-8";
/* CSS Document */

.body{
	background-color:#317ab7;
	padding-bottom: 80px;
	position: relative;
}

.cnt-inner {
	margin: 0 auto;
	padding-bottom: 30px;
	width: 960px;
	overflow: hidden;
	position: relative;
}

.illust {
	float: left;
}

.cnt-txt {
	float: right;
	width: 460px;
	margin: 120px 0 0 20px;
	color: #FFF;
	line-height: 1.6;
}

/*.cnt-txt h3 {
	padding-bottom: 60px;
}
*/

h3 img {
	width: 100%;
}

.cnt-txt h4 {
	margin: 110px 0 20px;
	font-size: 18px;
	font-weight: bold;
}

.cnt-txt p {
	line-height: 1.8;
	font-size: 13px;
	margin-bottom: 18px;
}

.txt-ttlsub2 {
	display: inline-block;
	padding: 3px 7px;
	margin: 10px 0;
	border: 1px solid;
	font-size: 12px;
	font-weight: bold;
}

.breadcrumb {
/*	margin: 40px 40px 10px;*/
	width: 980px;
	color: #FFF;
	padding-top: 35px;
	position: absolute;
	bottom: 20px;
	left: 50px;
}

.breadcrumb a {
	color: #FFF;
}

	@media screen and (max-width: 768px) {

	.body {
		padding-bottom: 40px;
		overflow: hidden;
	}

	.cnt-inner {
		margin: 0 auto;
		padding-bottom: 0px;
		width: 90%;
		overflow: hidden;
	}

	.cnt-inner img {
		width: 100%;
		max-width: 520px;
	}

	.illust {
		float: none;
		text-align: center;
	}

	.cnt-txt {
		float: none;
		width: 100%;
		max-width: 520px;
		margin: 0 auto;
		padding: 60px 0;
		font-size: 13px;
	}

	.cnt-txt h3 {
		padding-bottom: 40px;
		text-align: center;
	}

	.cnt-txt h4 {
		margin: 60px 0 20px;
	}

	.breadcrumb{
		margin-top: 0;
		padding-top: 0;
	}

	}
