@charset "UTF-8";
/* *************************************
//
//   COLUMN
//
// *********************************** */
/*
// column-main-wrapper
// ------------------------------- */
.column-main-wrapper {
  background: url(/ja/assets/images/column/bg-ttl-column.jpg) no-repeat;
  background-size: cover;
  height: 100px;
}

.column-main-ttl > img {
  width: 250px;
}

.column-main-ttl {
  text-align: center;
  padding-top: 37px;
}

.column-detail a {
  color:#317ab7;
}

@media screen and (min-width: 768px) {
  .column-main-wrapper {
    height: 200px;
  }

  .column-main-ttl > img {
    width: 546px;
  }

  .column-main-ttl {
    padding-top: 54px;
  }
}
/*
// column-list
// ------------------------------- */
.column-list > li {
  border: solid 10px #e5e5e4;
  padding: 10px;
  background-color: #fff;
}

.column-list > li + li {
  margin-top: 20px;
}

/*
// column-category-ttl
// ------------------------------- */
.column-category-ttl {
  border: solid 10px #e5e5e4;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}

.column-category-ttl > h3 {
  font-size: 20px;
  font-weight: bold;
}

/*
// column-status
// ------------------------------- */
.column-thum {
  width: 100%;
  height: 126px;
  overflow: hidden;
  text-align: center;
}

.column-thum img {
  width: 100%;
}

.column-detail .column-thum {
  max-width: 100%;
  height: auto;
  overflow: visible;
  margin-top: 25px;
}

.column-date {
  font-size: 15px;
  float: left;
}

.column-detail .column-date {
  float: left;
  margin-bottom: 5px;
}

.column-category {
  float: right;
}

.column-detail .column-category {
  float: left;
}

.column-status {
  margin-bottom: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: solid 1px #eee;
}

.column-detail .column-status {
  padding-bottom: 10px;
}

.column-title {
  font-size: 20px;
  font-weight: bold;
}

.column-detail .column-title {
  font-size: 22px;
  padding-top: 20px;
  clear: both;
}

.column-description {
  margin-top: 10px;
}

.column-detail .column-description {
  border-bottom: solid 1px #eee;
  padding:0 10px 35px;
}

.column-detail .column-description > p{
  margin-top: 25px;
}

.column-detail .img {
  text-align: center;
}

.column-detail .img > img{
  max-width: 100%;
}

.column-more-btn {
  margin-top: 15px;
  text-align: center;
}

.column-more-btn > a {
  display:block;
  text-align: center;
  margin: 10px auto;
  border: 2px solid #317ab7;
  border-radius: 3px;
  width: 85%;
  max-width: 280px;
  padding: 7px;
  color: #317ab7;
  font-weight: bold;
}

.sns-btn-set {
  float: right;
}

.sns-btn-set ul {
  margin: 0;
}

.sns-btn-set ul li {
  display: block;
  height: 20px;
  margin: 0 0 15px 10px;
  float: left;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .column-more-btn {
    text-align: right;
  }

  .column-more-btn > a {
    display: inline-block;
    width: auto;
    border-radius: 2px;
    padding: 7px 12px;
    border: solid 1px #eee;
    font-size: 12px;
    font-weight: normal;
    color: #333;
  }
  .column-more-btn > a:before {
    content: "» ";
  }

  .column-more-btn > a:hover {
    background: #317ab7;
    color: #fff;
  }
}

/* COLUMN CATEGORY STYLE*/
.column-category > span {
  padding: 5px 15px;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  border-radius: 11.5px;
}

.category-howto {
  background-color: #86D27B;
  color: #fff;
}

.category-project {
  background-color: #80c8ef;
  color: #fff;
}

.category-info {
  background-color: #f6ae54;
  color: #fff;
}

.category-people {
  background-color: #e684af;
  color: #fff;
}

.category-column {
  background-color: #6585D2;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .column-thum {
    height: 290px;
  }
}



/*
// column-detail-bottom
// ------------------------------- */
.column-detail-bottom {
  margin-top: 18px;
}

.column-detail-meta {
  font-size: 11px;
  font-weight: bold;
  border-bottom: solid 1px #eee;
  padding-bottom: 5px;
}

.column-detail-meta > li{
  margin-bottom: 5px;;
}

.column-detail-meta-list dt,
.column-detail-meta-list dd {
  display: inline;
}

@media screen and (min-width: 768px) {
  .column-detail-bottom {
    margin-top: 30px;
  }

  .column-detail-meta {
    float: left;
    border-bottom: none;
    padding-bottom: 0;
  }
}

/*
// column-social-bottom
// ------------------------------- */
.column-social-bottom-wrapper {
  padding-top: 15px;
  margin-left: -2%;
}


.column-social-bottom > li {
  float: left;
  width: 31.333%;
  margin-left: 2%;
}

.column-social-bottom > li a {
  display: block;
  color: #fff;
  height: 39px;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 20px;
  text-indent: -9999px;
}

.column-social-bottom > .fb > a {
  background:url(/ja/assets/images/sp/social-sp-fb.png) #3c5a99 50% no-repeat;
  background-size: 88px 39px;
}

.column-social-bottom > .tw > a {
  background:url(/ja/assets/images/sp/social-sp-tw.png) #12cbff 50% no-repeat;
  background-size: 88px 39px;
}

.column-social-bottom > .line > a {
  background:url(/ja/assets/images/sp/social-sp-line.png) #00c400 50% no-repeat;
  background-size: 88px 39px;
}


@media screen and (min-width: 768px) {
  .column-social-bottom-wrapper {
    float: right;
    border: none;
    padding-top: 0;
    margin-left: 0;
  }

  .column-social-bottom {
    float: right;
  }

  .column-social-bottom > li {
    float: left;
    width: auto;
    margin-left: 18px;
  }

  .column-social-bottom > li a {
    text-indent: 0;
    height: auto;
  }

  .column-social-bottom > .fb > a {
    background: #3c5a99;
  }

  .column-social-bottom > .tw > a {
    background: #12cbff;
  }

  .column-social-bottom > .line > a {
    background: #00c400;
  }
  .column-social-bottom > .line {
    display: none;
  }
}





/* *************************************
//
//   COLUMN SUB
//
// *********************************** */
/*
// column sub common
// ------------------------------- */
.column-sub a:hover {
  color: #317ab7;
}

.sub-column-box {
  margin-bottom: 30px;
}

.ttl-column-sub {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #317ab7;
  color: #317ab7;
  box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .ttl-column-sub {
    height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .ttl-column-sub {
    height: 15px;
  }
}

.sub-column-list > li {
  border-bottom: dotted 1px #d0d0d0;
  font-size: 13px;
  font-weight: bold;
}

.sub-column-list > li a:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.sub-column-list > li a {
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sub-column-list-thum {
  display: table-cell;
  width: 67px;
}

.sub-column-list-thum-radius {
  display: block;
  width: 67px;
  height: 67px;
  border-radius: 67px;
  overflow: hidden;
}
.sub-column-list-thum img {
  margin-left: -11px;
  border-radius: 67px;
  height: 67px;
}

.sub-column-list-txt {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

/*
// sub-category
// ------------------------------- */
.sub-column-category {
  margin-top: 20px;
  margin-bottom: -10px;
}

.sub-column-category > li {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 10px;
}

.sub-column-category > li:before {
  content: "- ";
  display: inline;
}

/*
// sub-column-tags
// ------------------------------- */
.sub-column-tags > li {
  display: inline-block;
  margin-top: 5px;
  margin-right: 8px;
  font-size: 13px;
  font-weight: bold;
}

/*
// sub-column-social
// ------------------------------- */
.sub-column-social > li {
  float: left;
  width: 38px;
  margin-right: 12px;
}

.sub-column-social > li img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .sub-column-social .line {
    display: none;
  }
}
/*
// column-search
// ------------------------------- */
.column-search {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px 6px 30px;
  font-size: 11px;
  line-height: 1.42857143;
  color: #555;
  background: #f7f7f7;
  background-image: none;
  border: 1px solid #eeecec;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.column-search-inner {
  position: relative;
}

.column-search-inner:after {
  content:"";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top:6px;
  left: 5px;
  background:url(/ja/assets/images/common/ico-column-search.png) no-repeat 0 0;
}

@media screen and (min-width: 768px) {
  .column-search {
    height: 32px;
    font-size: 14px;
  }
}