@charset "UTF-8";
/* *************************************
//
//   DETAIL-MAIN
//
// *********************************** */
/*
// page-ttl-info
// ------------------------------- */
.page-ttl-info {
  margin-top: 15px;
  margin-left: -20px;
  text-align: center;
}

.page-ttl-info > li {
  display: inline-block;
  font-size: 13px;
  margin-left: 20px;
  padding-left: 20px;
  background-position: 3px 2px;
}

.page-ttl-info-presenter {
  background: url(/ja/assets/images/pc/ico-user.png) no-repeat;
}

.page-ttl-info-category {
  background: url(/ja/assets/images/pc/ico-tag.png) no-repeat;
}

.page-ttl-info-location {
  background: url(/ja/assets/images/pc/ico-location.png) no-repeat;
}

@media screen and (min-width: 768px) {
  .page-ttl-info {
    float: right;
    margin-top: 30px;
    margin-bottom: -35px;
    margin-left: 0;
    text-align: left;
  }

  .page-ttl-info > li {
    display: block;
    float: left;
  }
}

/*
// local-nav
// ------------------------------- */

.local-nav-wrapper {
  margin-bottom: 20px;
}


.local-nav {
  display: table;
  width: 100%;
}

.local-nav > li {
  display: table-cell;
  width: 25%;
  border-left: solid 3px #fff;
  font-size: 10px;
  text-align: center;
  background: #8CB9DF;
  vertical-align: middle;
}

.local-nav > li:first-child {
  border-left: none;
}

.local-nav > li a {
  display: block;
  width: 100%;
  color: #fff;
}

.local-nav > .count-off a {
  padding: 14px 0;
}

.local-nav > .count-on a {
  padding: 5px 0;
}

.local-nav > .active {
  background: #317ab7;
}

.local-nav > li:first-child,
.local-nav > li:first-child > a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.local-nav > li:last-child,
.local-nav > li:last-child > a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.local-nav .count > span {
  background: #fff;
  margin-left: 5px;
  border-radius: 10px;
  padding: 2px 5px;
  color: #317ab7;
}

.project-thum{
  position: relative;
}
/*.project-thum {
  margin-top: 10px;
}*/

.project-thum .btn-play{
  position: absolute;
  cursor: pointer;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  text-indent: -9999px;
  background: url(/ja/assets/images/common/btn_play_off.png) no-repeat center center;
  z-index: 999;
}

.project-thum .btn-play:hover{
  background: url(/ja/assets/images/common/btn_play_on.png) no-repeat center center;
}

.project-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.project-thum .cover-image {
  width: 100%;
}

.movie-player {
  position: absolute;
  width: 100%;
  padding-bottom: 70.8%;
}

.movie-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .local-nav > li {
    font-size: 12px;
  }

  .local-nav > li p {
    display: inline;
  }

  .local-nav > .count-off a {
    padding: 5px 0;
  }

/*  .project-thum {
    margin-top: 23px;
  }*/
}

/*
// project-social-sp
// ------------------------------- */
.project-social-sp-wrapper {
  background-color: #fff;
  padding: 23px 20px 26px;
}

.project-social-sp-ttl {
  text-align: center;
  font-weight: bold;
}

.project-social-sp {
  padding-top: 15px;
  margin-left: -2%;
}

.project-social-sp > li {
  float: left;
  width: 31.333%;
  margin-left: 2%;
}

.project-social-sp > li a {
  display: block;
  color: #fff;
  height: 39px;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 20px;
  text-indent: -9999px;
}

.project-social-sp > .fb > a {
  background:url(/ja/assets/images/sp/social-sp-fb.png) #3c5a99 50% no-repeat;
  -webkit-background-size: 88px 39px;
          background-size: 88px 39px;
}

.project-social-sp > .tw > a {
  background:url(/ja/assets/images/sp/social-sp-tw.png) #12cbff 50% no-repeat;
  -webkit-background-size: 88px 39px;
          background-size: 88px 39px;
}

.project-social-sp > .line > a {
  background:url(/ja/assets/images/sp/social-sp-line.png) #00c400 50% no-repeat;
  -webkit-background-size: 88px 39px;
          background-size: 88px 39px;
}

@media screen and (min-width: 768px) {
  .project-social-sp-wrapper {
    display: none;
  }
}

/*
// project-social-bottom
// ------------------------------- */
.project-social-bottom-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .project-social-bottom-wrapper {
    display: block;
    margin-top: 18px;
  }

  .project-social-bottom {
    float: right;
  }

  .project-social-bottom > li {
    float: left;
    margin-left: 18px;
  }

  .project-social-bottom > li a {
    display: block;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 20px;
  }

  .project-social-bottom > .fb > a {
    background-color: #3c5a99;
  }

  .project-social-bottom > .tw > a {
    background-color: #12cbff;
  }

  .project-social-bottom > .blog > a {
    display: block;
    text-indent: -9999px;
    background: url(/ja/assets/images/pc/blog-embed.png) no-repeat;
    width: 113px;
    height: 20px;
    margin-top: 4px;
  }
}

/*
// project-description
// ------------------------------- */
.project-description {
  margin-top: 20px;
}

.project-description-ttl {
  font-size: 16px;
  font-weight: bold;
  color: #317ab7;
  padding-bottom: 7px;
  border-bottom: dotted 1px #317ab7;
}

.project-description-intro {
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-description-inner {
  display: none;
}

.project-description-inner iframe {
  max-width: 100%;
}

.project-description-inner-open {
  display: block;
}

.project-description h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}

.project-description p {
  margin-top: 10px;
}

.project-description .img{
  text-align: center;
}

.project-description img {
  max-width: 100%;
  display: block;
}

.project-description a{
  text-decoration: none;
  color: #317ab7;
}

.project-description a:link{text-decoration: none;color: #317ab7;}
.project-description a:visited{text-decoration: none;color: #317ab7;}
.project-description a:hover{text-decoration: underline;color: #317ab7;}
.project-description a:active{text-decoration: underline;color: #317ab7;}


@media screen and (min-width: 768px) {
  .project-description {
    margin-top: 70px;
  }

  .project-description-inner {
    display: block;
  }

  .project-description-ttl {
    font-size: 16px;
    font-weight: bold;
    color: #317ab7;
    padding-bottom: 7px;
    border-bottom: dotted 1px #317ab7;
  }

  .project-description-intro {
    font-size: 20px;
    margin-top: 40px;
  }
}

/*
// project-invest-box
// ------------------------------- */
.project-invest-box {
  display: none;
  margin-top: 40px;
  margin-right: -25px;
  margin-left: -25px;
  padding-top: 35px;
  padding-bottom: 35px;
  background: url(/ja/assets/images/common/bg-slant-gray.png);
}

.project-description + .project-invest-box {
  display: none;
}

.sub-ticketlist .project-invest-box {
  display: block;
  margin-top: 10px;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.btn-project-invest > a {
  display: block;
  width: 254px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 3px;
  background-color: #ff9c00;
  margin: 0 auto;
  background: #ff9c00;
  color: #fff;
  text-align: center;
}

.sub-ticketlist .btn-project-invest > a {
  min-width: 194px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .project-invest-box {
    display: block;
  }

  .sub-ticketlist .project-invest-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*
// project-detail
// ------------------------------- */
.btn-project-detail-open > a,
.btn-project-detail-close > a {
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  background: #317ab7;
  width: 254px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
}

.btn-project-detail-close {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .project-detail {
    display: none;
  }
}


/*
// tickets-bottom
// ------------------------------- */
.tickets-bottom {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .tickets-bottom {
    margin: 40px 0;
    padding-right: 50px;
    padding-left: 50px;
  }
}


/*
// whats-motion-gallery
// ------------------------------- */
.whats-motion-gallery {
  padding: 15px;
  text-align: center;
}

.logo-motion-gallery > img{
  width: 164.5px;
}

.whats-motion-gallery-description {
  margin-top: 18px;
}

.whats-motion-gallery-ttl {
  font-size: 12px;
  font-weight: bold;
}

.whats-motion-gallery-txt {
  font-size: 10px;
  margin-top: 7px;
}

@media screen and (min-width: 768px) {
  .whats-motion-gallery-ttl {
    font-size: 16px;
  }

  .whats-motion-gallery-txt {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .whats-motion-gallery {
    padding: 0;
  }

  .logo-motion-gallery {
    float: left;
    margin-top: 28px;
    margin-left: 25px;
  }

  .logo-motion-gallery,
  .logo-motion-gallery > img{
    width: 234px;
  }

  .whats-motion-gallery-description {
    float: left;
    width: 530px;
    text-align: left;
    margin-top: 0;
    margin-left: 50px;
  }
}

/*
// ticketlist
// ------------------------------- */
.ticketlist > li {
  font-size: 14px;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin-bottom: 15px;
  border: solid 10px #e5e5e4;
}

.ticketlist > li label {
  display: block;
  cursor: pointer;
  padding: 10px;
}

.ticketlist > li.checked {
  border-color: #317ab7;
}

.ticketlist > li.checked .ticketlist-fund {
  background-position: 0 8px;
}

.ticketlist-fund {
  line-height: 1;
  font-size: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  border-bottom: dotted 1px #317ab7;
  position: relative;
  background: url(/ja/assets/images/common/ladio-image.png) no-repeat 0 -54px;
  -webkit-background-size: 20px 20px;
          background-size: 20px;
}

.ticketlist-fund > span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin-right: 5px;
}

.ticketlist-return {
  margin-top: 10px;
}

.ticketlist-return > li {
  padding-left: 15px;
  position: relative;
  font-weight: bold;
  font-size: 10px;
}

.ticketlist-return > li + li {
  margin-top: 3px;
}

.ticketlist-return > li:before {
  content: "■";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ticketlist-return-ttl {
  font-size: 11px;
  display: inline-block;
  color: #fff;
  background: #ffac4a;
  border-radius: 2px;
  padding: 2px 5px;
  letter-spacing: 2px;
}

.ticketlist-delivery {
  font-size: 12px;
  text-align: right;
  color: #797979;
  font-weight: bold;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
.ticketlist-delivery {
  font-size: 10px;
  margin: 10px 0 5px;
}
}

input[type=radio] {

}

.ticket-ttl-sp {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .ticketlist > li{
    margin-bottom: 20px;
    border: solid 14px #e5e5e4;
  }

  .ticketlist > li label {
    padding: 14px;
  }

  .ticketlist-fund {
    padding-left: 50px;
    -webkit-background-size: auto auto;
            background-size: auto;
    background-position: 0 -108px;
  }

  .ticketlist > li.checked .ticketlist-fund {
    background-position: 0 7px;
  }

  .ticketlist-fund > span {
    font-size: 50px;
    margin-right: 5px;
  }

  .ticketlist-return > li {
    font-size: 14px;
  }

  .ticket-ttl-sp {
    display: none;
  }
}

/*
// collector
// ------------------------------- */
.collector-wrapper {
  margin-top: 60px;
}

.collector > li {
  display: table;
  width: 100%;
  padding-bottom: 37px;
  border-bottom: dotted 1px #317ab7;
}

.collector > li + li {
  padding-top: 37px;
}

.collector-thum {
  display: table-cell;
  width: 104px;
  height: 104px;
  overflow: hidden;
  vertical-align: top;
}

.collector-thum > img {
  width: 100%;
}

.collector-comment {
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}

.collector-name {
  color: #317ab7;
  font-size: 18px;
  line-height: 1;
}

.collector-txt {
  margin-top: 14px;
}

.collector-comment-meta {
  font-size: 10px;
  color: #9f9f9f;
  margin-top: 14px;
}


/*
// Walls
// ------------------------------- */
.updateBox {
  border-bottom: 2px #D5D5D5 dotted;
  margin: 30px 0 0;
  padding-bottom: 40px;
}

h3.title {
  font-weight: bold;
  font-size: 1.5em;
}

ul.updataMeta{
  overflow: hidden;
  float: left;
  margin: 10px 0 0;
}

ul.updataMeta li {
  float: left;
  margin-right: 10px;
}

li.vol {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #ff9c00;
  line-height: 1.5;
}

li.date {
  font-weight: bold;
  line-height: 2;
  color: #9f9f9f;
}

.sns-btn-set {
  float: right;
}

.sns-btn-set ul {
  margin: 15px 0 0 0;
}

.sns-btn-set ul li {
  margin: 0 0 15px 15px;
}

.updatebody {
  clear: both;
}

.updatebody p{
  padding:10px 0;
  line-height: 1.7;
}

.updatebody p img{
  width: 100%;
  margin: 0 auto;
  display: block;
}

.readMore {
  text-align: left;
  padding: 0 0 0 16px;
  background: #FFF url(/ja/assets/images/common/icon_arrow_s.gif) no-repeat left center;
}

.readMore a:link { color: #317ab7; text-decoration:none; }
.readMore a:visited { color: #317ab7; text-decoration:none; }
.readMore a:hover { color: #333; text-decoration:underline; }
.readMore a:active { color: #333; text-decoration:underline; }


.project-social-wrapper {
  display: block;
  margin-top: 0px;
  overflow: hidden;
}

ul.project-social.cf {
  float: right;
}

.project-social li {
  display: inline-block;
  height: 21px;
  margin: 0 5px 10px;
  vertical-align: top;
  font-size: 0;
}

.limitedBoxCover{
  background-image: url(/ja/assets/images/common/bg_blue.gif);
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.limitedBoxCover p{
  padding: 5px 0;
}

.LtdTtl {
  font-weight: bold;
  font-size: 1.3em;
}

.BtnLock a {
  display: block;
  color: #317ab7;
  text-align: center;
  margin: 10px auto;
  background: #FFF url(/ja/assets/images/common/icon_lock.gif) no-repeat 60px center;
  border-radius: 3px;
  width: 190px;
  padding: 10px 0 10px 20px;
  font-weight: bold;
}

.fb-comments {
  margin: 50px 0 20px;
  display: block !important;
}

@media screen and (max-width: 768px) {

  h3.title {
    font-size: 1.3em;
  }

  ul.updataMeta {
    margin: 7px 0 0;
  }

  .updatebody p{
    padding:15px 0;
  }

  .updatebody p img{
    max-width:100%;
  }

  .project-social-wrapper {
    display: block;
    margin: 25px 0 0;
  }

  .project-social li {
    float: left;
    margin: 0 0 0 10px;
  }

  .readMore{
    padding: 0;
    font-weight: bold;
    background: none;
  }

  .readMore a {
    display:block;
    text-align: center;
    margin: 10px auto;
    border: 2px solid #317ab7;
    border-radius: 3px;
    width: 85%;
    max-width: 280px;
    padding: 7px;
  }

  .readMore a:link { color: #317ab7; text-decoration:none; }
  .readMore a:visited { color: #317ab7; text-decoration:none; }
  .readMore a:hover { color: #317ab7; text-decoration:none; }
  .readMore a:active { color: #317ab7; text-decoration:none; }

  .limitedBoxCover p{
  padding: 5px 0;
  font-size: 11px;
  }

  .limitedBoxCover p.LtdTtl {
  font-size: 16px;
  }
}


/*
// coments
// ------------------------------- */

.leadMessage {
  font-size: 16px;
  font-weight: bold;
  color: #317ab7;
  margin: 20px 0;
  padding-bottom: 7px;
  border-bottom: dotted 1px #317ab7;
}


/* *************************************
//
//   SUB DETAIL
//
// *********************************** */
/*
// sub-puroject
// ------------------------------- */
.sub-puroject {
  display: none;
}

.sub-puroject .current-project {
  font-size: 12px;
  color: #317ab7;
  margin-bottom: 5px;
}

.sub-puroject .project-box {
  padding-right: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .sub-puroject {
    display: block;
    margin-bottom: 20px;
    border: solid 14px #e5e5e4;
    padding: 14px;
    font-size: 14px;
    position: relative;
    background-color: #fff;
    width: 100%;
    margin-bottom: 15px;
    border: solid 10px #e5e5e4;
    padding: 10px;
  }
}

/*
// sub-project-status
// ------------------------------- */
.sub-project-status-label {
  font-size: 20px;
  color: #656565;
}

.sub-project-status-var {
  line-height: 1;
  font-size: 20px;
}

.sub-project-status-var span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 45px;
}

.sub-project-status {
  margin-top: -20px;
}

.sub-project-status-collector {
  float: left;
  margin-right: 15px;
  margin-top: 20px;
}

.sub-project-status-last {
  float: left;
  margin-top: 20px;
}

.sub-project-status-fund {
  clear: both;
  padding-top: 35px;
}

.sub-project-status-per {
  margin-top: 25px;
}

.sub-project-status-target {
  margin-top: 5px;
  padding-left: 5px;
  color: #317ab7;
}

.sub-project-status-collector > .sub-project-status-label {
  background: url(/ja/assets/images/pc/ico-collector.png) no-repeat 0 3px;
  padding-left: 30px;
}

.sub-project-status-fund > .sub-project-status-label {
  background: url(/ja/assets/images/pc/ico-coin.png) no-repeat 0 4px;
  padding-left: 26px;
}

.sub-project-status-last > .sub-project-status-label {
  background: url(/ja/assets/images/pc/ico-clock.png) no-repeat 0 4px;
  padding-left: 26px;
}

.sub-project-status-per > .sub-project-status-label {
  color: #000;
  line-height: 1;
}

.sub-project-status-per > .sub-project-status-label span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.project-notes {
  color: #797979;
  font-size: 12px;
  margin-bottom: 15px;
}

/*
// sub-attention-wrapper
// ------------------------------- */
.sub-attention-wrapper {
  margin-top: 40px;
}

.sub-attention > dt {
  font-weight: bold;
  border-bottom: dotted 1px #737373;
  margin-top: 40px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.sub-attention > dd {
  font-size: 12px;
}

/*@media screen and (max-width: 767px) {
  .sub-attention-wrapper {
    display: none;
  }
}*/

/*
// sub-ticketlist
// ------------------------------- */
.sub-ticketlist > li {
  background-color: #fff;
  width: 100%;
  margin-top: 30px;
  border: solid 10px #e5e5e4;
}

.sub-ticketlist-fund {
  line-height: 1;
  font-size: 20px;
  padding: 10px 15px;
  position: relative;
}

.sub-ticketlist-fund:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url(/ja/assets/images/sp/arrow-sub-ticketlist.png) no-repeat 0 -38px;
  -webkit-background-size: 28px 28px;
          background-size: 28px;
}

.sub-ticketlist-fund-open:after {
  background: url(/ja/assets/images/sp/arrow-sub-ticketlist.png) no-repeat 0 0;
  -webkit-background-size: 28px 28px;
          background-size: 28px;
}

.sub-ticketlist-fund > span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 50px;
}

.sub-ticketlist-inner {
  display: none;
  padding: 0 15px 15px 15px;
  border-top: solid 1px #e5e5e5;
}

.sub-ticketlist-inner-open {
  display: block;
}
.returnTitle {
	font-size: 16px;
	line-height: 1.4;
	color: #797979;
	font-weight: bold;
	padding-bottom: 10px;
}
.sub-ticketlist-return-ttl {
  font-size: 11px;
  display: inline-block;
  color: #fff;
  background: #317ab7;
  border-radius: 2px;
  padding: 2px 5px;
  letter-spacing: 2px;
}

.sub-ticketlist-return {
  margin-top: 5px;
}

.sub-ticketlist-return > li {
  font-size: 12px;
  color: #797979;
  padding-left: 15px;
  position: relative;
}

.sub-ticketlist-return > li + li {
  margin-top: 8px;
}

.sub-ticketlist-return > li:before {
  content: "■";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.sub-ticketlist-collector {
  text-align: right;
  font-size: 16px;
}

.sub-ticketlist-collector-label {
  color: #317ab7;
  font-size: 14px;
}

.sub-ticketlist-collector-var {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
}

.sub-ticketlist-delivery {
  font-size: 11px;
  text-align: right;
  color: #797979;
  font-weight: bold;
  margin-bottom: 10px;
}

.limitedTicket {
  padding: 2px;
  margin: 15px auto 0;
  border: 1px solid #4286c0;
  width: 90%;
  display: block;
  font-size: 0.8em;
  color: #4286c0;
  text-align: center;
}

.soldoutTicket {
  padding: 2px;
  margin: 15px auto 0;
  border: 1px solid #666;
  width: 90%;
  display: block;
  font-size: 0.8em;
  color: #666;
  text-align: center;
}

.soldout{
  color: #666;
  opacity: 0.7;
}

.soldout .sub-ticketlist-return-ttl{
  background: #999;
}

.soldout .sub-ticketlist-collector-label{
  color: #666;
}

.soldout .limitedTicket{
  color: #666;
  border: 1px solid #666;
}

@media screen and (min-width: 768px) {
  .sub-ticketlist-fund:after {
    content: none;
    display: none;
  }

  .sub-ticketlist-inner {
    display: block;
    border: none;
  }
}

/*
// sub-presenter
// ------------------------------- */
.sub-presenter-ttl {
  font-size: 20px;
  padding-left: 24px;
  line-height: 1;
  background: url(/ja/assets/images/pc/ico-presenter.png) no-repeat;
}

.sub-presenter-profile {
  margin-top: 15px;
}

.sub-presenter-thum {
  float: left;
  margin-right: 14px;
  width: 90px;
  height: 90px;
  border: solid 1px #eaeaea;
  overflow: hidden;
}

.sub-presenter-thum img {
  width: 100%;
}

.sub-presenter-name {
  font-size: 19px;
  font-weight: bold;
}

.sub-presenter-meta {
  padding-left: 105px;
}

.sub-presenter-location {
  font-size: 12px;
  padding-left: 14px;
  line-height: 1;
  margin-top: 5px;
  background: url(/ja/assets/images/pc/ico-location.png) no-repeat;
}

.sub-presenter-link {
  background: #f5f5f5;
  border-radius: 4px;
  text-align: center;
  margin-top: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.sub-presenter-link > a {
  font-size: 10px;
  padding-left: 15px;
  background: url(/ja/assets/images/pc/ico-chain.png) no-repeat 0 5px;
}

.sub-presenter-detail {
  margin-top: 15px;
  font-size: 12px;
}

.sub-presenter-detail-open {
  display: inline;
}

.sub-presenter-detail-more-open,
.sub-presenter-detail-more-close {
  text-align: right;
  margin-top: 10px;
}

.sub-presenter-detail-more-open > a,
.sub-presenter-detail-more-close > a {
  font-size: 12px;
  color: #317ab7;
  padding-left: 14px;
  line-height: 1;
  position: relative;
}

.sub-presenter-detail-more-open > a:before,
.sub-presenter-detail-more-close > a:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 0;
  background: url(/ja/assets/images/pc/arrow-read-more.png) no-repeat 0 -10px;
}

.sub-presenter-detail-more-close > a:before {
  background: url(/ja/assets/images/pc/arrow-read-more.png) no-repeat 0 0;
}

.btn-presenter-question {
  margin-top: 22px;
}

.btn-presenter-question > a {
  display: block;
  border-radius: 3px;
  background: #8CB9DF;
  width: 254px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
