@charset "UTF-8";

#drafting {
	width: 100%;
	max-width: 1280px;
	margin: 80px auto;
	color: #645D5B;
	position: relative;
}
#drafting:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#drafting > div:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

#drafting #ui-tab {
	width: 100%;
	padding: 20px 20px;
	background: #fff;
	margin-bottom: 30px;
	border-bottom: solid 3px #DBDBDB;
}
#drafting .draftingLeft {
	width: 72%;
	float: left;
	margin-right: 3%;
	border: solid 10px #E5E5E4;
	padding: 35px 20px;
}
#drafting .applied {
	width: 100%;
	border: solid 10px #E5E5E4;
	padding: 85px 20px;
}
#drafting .applied h2 {
	text-align: center;
}
#drafting .applied p {
	padding-top: 25px;
	text-align: center;
	font-weight: bold;
}
#drafting .applied p span {
	font-size: 13px;
	font-weight: normal;
}
#drafting .applied p a {
	display: inline-block;
	padding: 14px 35px;
	background: #045E9A;
	line-height: 1.4;
	color: #fff;
	border-radius: 4px;
}
#drafting .draftingLeft h3 {
	padding: 0 18px 0 0;
	font-size: 16px;
	font-weight: bold;
	border-bottom: solid 3px #045E9A;
	margin-top: 25px;
	margin-bottom: 10px;
}
#drafting .draftingLeft h3:first-child {
	margin-top: 0;
}
#drafting .draftingLeft h3 span {
	background:#045E9A;
	padding: 5px 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	margin-right: 10px;
	display: inline-block;
}
#drafting .draftingLeft p {
	padding-bottom: 10px;
}
#drafting .draftingLeft ul {
	padding: 0 0 10px;
}
#drafting .draftingLeft .cautionMini {
	font-size: 12px;
	color:  #787878;
}
#drafting .draftingLeft form input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
}
#drafting .draftingLeft form input[type="text"]#movieURL {
	margin-top: 10px;
}
#drafting .draftingLeft form input[type="file"] {
	border: none;
}
#drafting .draftingLeft form textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#drafting .draftingLeft .formStep {
	padding: 20px 0 0;
}
#drafting .draftingLeft .formStep:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#drafting .draftingLeft .formStep .formPrev {
	float: left;
}
#drafting .draftingLeft .formStep .formNext {
	float: right
}
#drafting .draftingLeft .formStep input {
	border: none;
	color: #fff;
	padding: 10px 30px;
	background: #045E9A;
	display: inline-block;
}
#drafting .draftingLeft .formStep a {
	border: none;
	color: #fff;
	padding: 10px 30px;
	background: #045E9A;
	display: inline-block;
}

#fragment-6 .formStep {
	padding-top: 20px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#fragment-6 .formStep:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#fragment-6 .formStep .formPrev {
	float: left;
}
#fragment-6 .formStep .formNext {
	float: right
}
#fragment-6 .formStep input {
	border: none;
	color: #fff;
	padding: 10px 30px;
	background: #045E9A;
	display: inline-block;
}
#fragment-6 .formStep a {
	border: none;
	color: #fff;
	padding: 10px 30px;
	background: #045E9A;
	display: inline-block;
}
.border-10px {
	border: solid 10px #E5E5E4;
}
#drafting .draftingLeft #return2,
#drafting .draftingLeft #return3,
#drafting .draftingLeft #return4,
#drafting .draftingLeft #return5,
#drafting .draftingLeft #return6,
#drafting .draftingLeft #return7,
#drafting .draftingLeft #return8,
#drafting .draftingLeft #return9,
#drafting .draftingLeft #return10,
#drafting .draftingLeft #return11,
#drafting .draftingLeft #return12,
#drafting .draftingLeft #return13,
#drafting .draftingLeft #return14,
#drafting .draftingLeft #return15,
#drafting .draftingLeft #return16,
#drafting .draftingLeft #return17,
#drafting .draftingLeft #return18,
#drafting .draftingLeft #return19,
#drafting .draftingLeft #return20,
#drafting .draftingLeft #return21,
#drafting .draftingLeft #return22,
#drafting .draftingLeft #return23,
#drafting .draftingLeft #return24,
#drafting .draftingLeft #return25,
#drafting .draftingLeft #return26,
#drafting .draftingLeft #return27,
#drafting .draftingLeft #return28,
#drafting .draftingLeft #return29,
#drafting .draftingLeft #return30 {
	padding-top:30px;
	display: none;
}
#drafting .draftingLeft #add2,
#drafting .draftingLeft #add3,
#drafting .draftingLeft #add4,
#drafting .draftingLeft #add5,
#drafting .draftingLeft #add6,
#drafting .draftingLeft #add7,
#drafting .draftingLeft #add8,
#drafting .draftingLeft #add9,
#drafting .draftingLeft #add10,
#drafting .draftingLeft #add11,
#drafting .draftingLeft #add12,
#drafting .draftingLeft #add13,
#drafting .draftingLeft #add14,
#drafting .draftingLeft #add15,
#drafting .draftingLeft #add16,
#drafting .draftingLeft #add17,
#drafting .draftingLeft #add18,
#drafting .draftingLeft #add19,
#drafting .draftingLeft #add20,
#drafting .draftingLeft #add21,
#drafting .draftingLeft #add22,
#drafting .draftingLeft #add23,
#drafting .draftingLeft #add24,
#drafting .draftingLeft #add25,
#drafting .draftingLeft #add26,
#drafting .draftingLeft #add27,
#drafting .draftingLeft #add28,
#drafting .draftingLeft #add29,
#drafting .draftingLeft #add30 {
	color: #fff;
	padding: 10px 0;
	width: 250px;
	background: #045E9A;
	border-radius: 4px;
	cursor: pointer;
	margin: 30px auto 0;
	text-align: center;
}
#drafting .draftingLeft .cautionRed {
	color: #E97375;
	display: inline-block;
	font-size: 12px;
	line-height: 120%;
	padding: 5px 0;
}
#drafting .draftingLeft table {
	margin: 20px 0 0;
}
#drafting .draftingLeft table th {
	background: #F5F5F5;
	border-bottom: solid 2px #fff;
	padding: 20px;
	text-align: left;
}
#drafting .draftingLeft table td {
	padding: 20px;
}
#drafting .draftingLeft .htmlEditor {
	border: solid 1px #bbb;
	border-radius: 4px;
}
#drafting .draftingLeft .htmlEditor h1,
#drafting .draftingLeft .htmlEditor h2,
#drafting .draftingLeft .htmlEditor h3,
#drafting .draftingLeft .htmlEditor h4,
#drafting .draftingLeft .htmlEditor h5,
#drafting .draftingLeft .htmlEditor h6 {
	padding: 0;
	margin: 0 ;
	border: none;
}
#drafting .draftingLeft .yourUrl li {
	margin-bottom: 8px;
}
/* draftingRight */
#drafting .draftingRight {
	float: left;
	width: 25%;
}
#drafting .draftingRight h3 {
	padding: 10px 20px;
	background: #231815;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: solid 4px #045E9A;
	border-right: solid 3px #045E9A;
}
#drafting .draftingRight h3:first-child {
	margin-top: 0;
}
#drafting .draftingRight .project-list-index li {
	width: auto;
}
#drafting .draftingRight p {
	padding-bottom: 10px;
}
#drafting .draftingRight p img {
	width: 100%;
	max-width: 306px;
	height: auto;
}
#drafting .draftingRight ul {
	padding: 0 0 10px;
	color: #666;
}
#drafting .draftingRight h4 {
	padding: 10px 20px;
	background: #231815;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: solid 2px #CD1F21;
	border-right: solid 2px #CD1F21;
}
#drafting .draftingRight .movieLink {
	width: auto;
}

@media screen and (max-width: 768px){
.wrapper {
	width: 100%;
	min-width: 320px;
	overflow: hidden;
	padding: 0;
}
#drafting {
	width: 100%;
	min-width: 320px;
	margin: 40px auto;
	color: #645D5B;
	position: relative;
}
#drafting:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#drafting > div:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.ui-tabs-panel {
	border-top: none !important;
}
#drafting #ui-tab {
	width: 100%;
	padding: 20px 0;
	background: #fff;
	margin-bottom: 30px;
	border-bottom: solid 3px #DBDBDB;
	box-sizing: border-box;
}
.ui-tabs-nav li {
	width: 33%;
	box-sizing: border-box;
	margin: 0 !important;
	padding: 0 1px;
}
.ui-tabs-nav li:last-child {
	width: 99%;
}
.ui-tabs-nav a {
	font-size: 12px;
	border-radius: 0 !important;
	padding: 9px 0 !important;
	display: inline-block;
	text-align: center;
}
.ui-tabs-nav .ui-tabs-selected a {
	margin-bottom: 1px;
}

#drafting .draftingLeft {
	width: 100%;
	border: solid 10px #E5E5E4;
	padding: 35px 15px;
	display: block;
	float: none;
}
#drafting .draftingLeft h3 {
	padding: 0 14px 0 0;
	font-size: 14px;
	font-weight: bold;
	border-bottom: solid 3px #045E9A;
	margin-top: 20px;
	margin-bottom: 10px;
}
#drafting .draftingLeft h3:first-child {
	margin-top: 0;
}
#drafting .draftingLeft h3 span {
	background:#045E9A;
	padding: 4px 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	margin-right: 10px;
	display: inline-block;
}
#drafting .draftingLeft p {
	padding-bottom: 10px;
}
#drafting .draftingLeft ul {
	padding: 0 0 10px;
}
#drafting .draftingLeft .cautionMini {
	font-size: 12px;
	color:  #787878;
}
#drafting .draftingLeft form input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
}
#drafting .draftingLeft form input[type="text"]#targetMoney,
#drafting .draftingLeft form input[type="text"]#returnMoney {
	width: 60%;
}
#drafting .draftingLeft form input[type="text"]#movieURL {
	margin-top: 10px;
}
#drafting .draftingLeft form input[type="text"]#returnTitle,
#drafting .draftingLeft form input[type="text"]#returnMax,
#drafting .draftingLeft form input[type="text"]#twitterAccount {
	width: 80%;
}
#drafting .draftingLeft form input[type="text"]#period01,
#drafting .draftingLeft form input[type="text"]#period02 {
	width: 40%;
}
#drafting .draftingLeft form input[type="text"] {
	width: 100%;
}
#drafting .draftingLeft form input[type="file"] {
	border: none;
}
#drafting .draftingLeft form textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 100%;
}
#drafting .draftingLeft .formStep {
	padding: 20px 0 0;
}
#drafting .draftingLeft .formStep:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#drafting .draftingLeft .formStep .formPrev {
	float: left;
}
#drafting .draftingLeft .formStep .formNext {
	float: right
}
#drafting .draftingLeft .formStep input {
	border: none;
	color: #fff;
	padding: 10px 30px;
	background: #045E9A;
	display: inline-block;
}

#drafting .draftingLeft .cautionRed {
	color: #E97375;
	display: inline-block;
	font-size: 12px;
	line-height: 120%;
	padding: 5px 0;
}
#drafting .draftingLeft table {
	margin: 20px 0 0;
}
#drafting .draftingLeft table th {
	background: #F5F5F5;
	border-bottom: solid 2px #fff;
	padding: 10px;
	text-align: left;
	display: block;
	box-sizing: border-box;
}
#drafting .draftingLeft table td {
	padding: 10px 0;
	display: block;
}
#drafting .draftingLeft .htmlEditor {
	border: solid 1px #bbb;
	padding: 20px;
	border-radius: 4px;
}
#drafting .draftingLeft .htmlEditor h1,
#drafting .draftingLeft .htmlEditor h2,
#drafting .draftingLeft .htmlEditor h3,
#drafting .draftingLeft .htmlEditor h4,
#drafting .draftingLeft .htmlEditor h5,
#drafting .draftingLeft .htmlEditor h6 {
	padding: 0;
	margin: 0 ;
	border: none;
}
#drafting .draftingLeft .yourUrl li {
	margin-bottom: 8px;
}
/* draftingRight */
#drafting .draftingRight {
	width: 100%;
	float: none;
}
#drafting .draftingRight h3 {
	padding: 10px 20px;
	background: #231815;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: solid 4px #045E9A;
	border-right: solid 3px #045E9A;
}
#drafting .draftingRight h3:first-child {
	margin-top: 0;
}
#drafting .draftingRight .project-list-index li {
	width: auto;
}
#drafting .draftingRight p {
	padding-bottom: 10px;
}
#drafting .draftingRight p img {
	width: 100%;
	max-width: 306px;
	height: auto;
}
#drafting .draftingRight ul {
	padding: 0 0 10px;
	color: #666;
}
#drafting .draftingRight h4 {
	padding: 10px 20px;
	background: #231815;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: solid 2px #CD1F21;
	border-right: solid 2px #CD1F21;
}
#drafting .draftingRight .movieLink {
	width: auto;
}
}
/*
#cke_30 {
	display: none;
}
*/
#drafting .tab {
	font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #978e83;
}

#drafting .tab li a {
    background: #DBDBDB;

	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #999;
    cursor: pointer;
    float: left;
	line-height: 1.2;
	font-weight: bold;
    margin-right: 4px;
    padding:10px 20px;
    text-align: center;
	white-space: nowrap;
    transition: all 0.25s ease 0s;
	outline: 0;
}

#drafting .tab li a:hover{
	background-color:#1A6CA3;
	border-color:#1A6CA3;
	color:#FFF;
}

#drafting .focus{color:#999;line-height:22px;*line-height:20px;}
#drafting .null,#drafting .error{color:red;line-height:22px;*line-height:20px;}

#drafting .htmlEditor ul {list-style: disc;}
#drafting .htmlEditor ol {list-style: decimal;}
#drafting .htmlEditor b,strong {font-weight:bold;}
#drafting .htmlEditor em {font-style:italic;}
#drafting h3 {
	padding-bottom: 10px;
}
/*publish*/
#myProject {
	box-sizing: border-box;
	padding: 20px;
	position: relative;
}
#myProject:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#myProject #myProjectThumb {
background-color: #fff;
    border: 10px solid #e5e5e4;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    vertical-align: top;
    width: 25%;
	float: left;
}
#myProject #myProjectThumb img {
height: auto;
    width: 100%;
}
#myProject #projectDescription {
	float: left;
	width: 75%;
	box-sizing: border-box;
	padding: 20px;
}
#myProject #projectDescription h2 {
	margin-bottom: 20px;
	color: #333;
}
#myProject #projectDescription p {
	line-height: 1.8;
}
#drafting #fragment-1 {
	position: relative;
}
#drafting table.draftingTable {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	text-align: left;
}
#drafting table.draftingTable th {
	background: #E6E6E6;
	font-size: 12px;
	color: #8D8D8D;
	padding: 6px 10px;
	text-align: left;
	border-bottom: solid 1px #C4C4C4;
}
#drafting table.draftingTable th a {
	color: #317ab7;
}
#drafting table.draftingTable td {
	padding: 10px 10px;
	border-bottom: solid 1px #C4C4C4;
}
#drafting table.draftingTable .collectorName {
	width: 20%;
}
#drafting table.draftingTable .collectorThumb {
	width: 50px;
}
#drafting table.draftingTable .collectorThumb img {
	width: 50px;
	height: auto;
}
#drafting table.draftingTable .cheer {
	width: 10%;
}
#drafting table.draftingTable .return {
	width: 15%;
}
#drafting table.draftingTable .cheerDate {
	width: 10%;
}
#drafting table.draftingTable .collectorMemo {
	width: 35%;
}
#drafting table.draftingTable .collectorMail {
	width: 10%;
}
#drafting table.draftingTable .collectorMail img {
	margin-right: 5px;
	width: 20px;
	height: 14px;
}
#drafting #fragment-2 {
	position: relative;
}
#drafting .draftingUtilityBtn {
	position: absolute;
	top: -2px;
	right: 3%;
}
#drafting .draftingUtilityBtn a {
	display: inline-block;
	padding: 3px 10px;
	background: #317AB7;
	color: #fff;
	border-radius: 4px;
}
#drafting table.upDateTable {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	text-align: left;
	clear: both;
}
#drafting table.upDateTable th {
	background: #E6E6E6;
	font-size: 12px;
	color: #8D8D8D;
	padding: 6px 10px;
	border-bottom: solid 1px #C4C4C4;
	text-align:center !important;
}
#drafting table.upDateTable th a {
	color: #317ab7;
}
#drafting table.upDateTable td {
	padding: 10px 10px;
	border-bottom: solid 1px #C4C4C4;
	text-align:center;
}
#drafting table.upDateTable .upDateTitle {
	width: 60%;
	text-align: left !important;
}
#drafting table.upDateTable .vol {
	width: 40px;
	text-align: left !important;
}
#drafting table.upDateTable .upDateDate {
	width: 10%;
}
#drafting table.upDateTable .upDateScale {
	width: 20%;
}
#drafting table.upDateTable .upDateEdit {
	width: 10%;
}
#drafting table.upDateTable .upDateEdit a {
	display: inline-block;
	padding: 2px 4px;
	box-sizing: border-box;
	border: solid 1px #aaa;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
}
.tL {
	text-align: left !important;
}
#drafting table.myMailBox {
	position: relative;
}
#drafting table.myMailBox  {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
#drafting table.myMailBox tr:nth-child(2n+1) {
	background: #F3F3F3;
}
#drafting table.myMailBox th {
	background: #E6E6E6;
	font-size: 12px;
	color: #8D8D8D;
	padding: 6px 20px;
	text-align: left;
	border-bottom: solid 1px #C4C4C4;
}
#drafting table.myMailBox th.mAdd {
	width: 20%;
}
#drafting table.myMailBox th.subject {
	width: 52%;
}
#drafting table.myMailBox th.create_time {
	width: 20%;
}
#drafting table.myMailBox th.reply {
	width: 8%;
	text-align: center !important;
}
#drafting table.myMailBox td {
	padding: 10px 20px;
}
#drafting table.myMailBox .replybtn {
	text-align: center;
}
#drafting table.myMailBox .replybtn a {
	display: inline-block;
	padding: 2px 4px;
	box-sizing: border-box;
	border: solid 1px #aaa;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
}
#drafting #upDateEdit {
	box-sizing: border-box;
	padding: 20px;
	position: relative;
	background: #fff;
}
#drafting #updateArea {
	box-sizing: border-box;
	border-top: 1px solid #97a5b0;
    padding: 20px;
}
#drafting #upDateEdit form dl dt {
	font-weight: bold;
	padding: 30px 20px 0 0;
	font-size: 15px;
	float: left;
	clear:both;
	width: 15%;
	box-sizing: border-box;
}
#drafting #upDateEdit form dl dd {
	float: left;
	padding: 30px 0 0;
	width: 85%;
	box-sizing: border-box;
}
#drafting #upDateEdit form input[type="text"] {
	border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    width: 300px;
}
#drafting #upDateEdit form .actions {
	padding: 30px 0 0 15%;
}
#drafting #upDateEdit form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
#drafting .mypageBack {
	text-align: right;
	padding: 10px 20px 0 0;
}
#drafting .mypageBack a {
	display: inline-block;
	padding: 4px 10px;
	background: #666;
	color: #fff;
	border-radius: 4px;
}
@media screen and (max-width: 768px){
#drafting h3 {
	padding-bottom: 10px;
	text-align: center;
}
/*publish*/
#tab03 {
	width: 33%;
}
#myProject {
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	width: 100%;
	min-width: 320px;
}
#myProject #myProjectThumb {
background-color: #fff;
    border: 10px solid #e5e5e4;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    vertical-align: top;
    width: 100%;
	float: none;
}
#myProject #projectDescription {
	float: none;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}
#myProject #projectDescription h2 {
	margin-bottom: 20px;
	color: #333;
}
#myProject #projectDescription p {
	line-height: 1.8;
}
#drafting table.draftingTable {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	text-align: left;
}
#drafting table.draftingTable th {
	display: none;
}
#drafting table.draftingTable td {
	padding: 10px 10px;
	border-bottom: solid 1px #C4C4C4;
	display: block;
	box-sizing: border-box;
	width: 100%;
	text-align:center;
}
#drafting table.draftingTable .collectorName {
	width: 100%;
	border-bottom: none;
	font-weight: bold;
	background: #E6E6E6;
}
#drafting table.draftingTable .collectorThumb {
	display: none;
}
#drafting table.draftingTable .cheer {
	width: 100%;
}
#drafting table.draftingTable .cheer:before {
	content: "【応援額】";
}
#drafting table.draftingTable .return {
	width: 100%;
}
#drafting table.draftingTable .return:before {
	content: "【リターン】";
}
#drafting table.draftingTable .cheerDate {
	width: 100%;
}
#drafting table.draftingTable .cheerDate:before {
	content: "【応援日】";
}
#drafting table.draftingTable .collectorMemo {
	width: 100%;
}
#drafting table.draftingTable .collectorMemo:before {
	content: "【メモ】";
}
#drafting table.draftingTable .collectorMail {
	width: 100%;
}
#drafting table.draftingTable .collectorMail:before {
	content: "【メール】";
}
#drafting table.draftingTable .collectorMail img {
	margin-right: 5px;
	width: 20px;
	height: 14px;
}
#drafting #fragment-2 {
	position: relative;
	width: 100%;
}
#drafting .draftingUtilityBtn {
	position: relative;
	width: 100%;
	right: 0;
	top: 0;
	text-align: center;
	margin-bottom: 15px;
}
#drafting .draftingUtilityBtn a {
	display: block;
	padding: 5px 0;
	background: #317AB7;
	color: #fff;
	border-radius: 4px;
	width: 100%;
}
#drafting table.upDateTable {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	text-align: left;
	clear: both;
}
#drafting table.upDateTable th {
	display: none;
}
#drafting table.upDateTable td {
	padding: 10px 10px;
	border-bottom: solid 1px #C4C4C4;
	text-align:center;
	width: 100%;
	display: block;
}
#drafting table.upDateTable .upDateTitle {
	width: 100%;
	text-align: left;
}
#drafting table.upDateTable .vol {
	width: 100%;
	border-bottom: none;
	font-weight: bold;
	background: #E6E6E6;
	text-align: center;
}
#drafting table.upDateTable .tL {
	text-align: center !important;
}
#drafting table.upDateTable .upDateDate {
	width: 100%;
}
#drafting table.upDateTable .upDateDate:before {
	content: "【投稿日】";
}
#drafting table.upDateTable th.upDateIine {
	color: #8D8D8D;
}
#drafting table.upDateTable .upDateScale {
	width: 100%;
}
#drafting table.upDateTable .upDateScale:before {
	content: "【公開範囲】";
}
#drafting table.upDateTable .upDateEdit {
	width: 100%;
}
#drafting table.upDateTable .upDateEdit a {
	display: inline-block;
	padding: 4px 0;
	box-sizing: border-box;
	border: solid 1px #aaa;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
	width: 100%;
}
.tL {
	text-align: left !important;
}
/*
#drafting table.myMailBox {
	position: relative;
}
#drafting table.myMailBox  {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
#drafting table.myMailBox tr:nth-child(2n+1) {
	background: #F3F3F3;
}
#drafting table.myMailBox th {
	background: #E6E6E6;
	font-size: 12px;
	color: #8D8D8D;
	padding: 6px 20px;
	text-align: left;
	border-bottom: solid 1px #C4C4C4;
}
#drafting table.myMailBox th.mAdd {
	width: 20%;
}
#drafting table.myMailBox th.subject {
	width: 50%;
}
#drafting table.myMailBox th.create_time {
	width: 20%;
}
#drafting table.myMailBox th.reply {
	width: 10%;
	text-align: center !important;
}
#drafting table.myMailBox td {
	padding: 10px 20px;
}
*/
#drafting table.myMailBox {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	text-align: left;
	clear: both;
}
#drafting table.myMailBox th {
	display: none;
}
#drafting table.myMailBox td {
	padding: 10px 10px;
	border-bottom: solid 1px #C4C4C4;
	text-align:center;
	width: 100%;
	display: block;
}
#drafting table.myMailBox .mAdd {
	text-align: center !important;
}
#drafting table.myMailBox .create_time {
	width: 100%;
}
#drafting table.myMailBox .create_time:before {
	content: "【送信日時】";
}
#drafting table.myMailBox .subject {
	width: 100%;
}
#drafting table.myMailBox .subject:before {
	content: "【件名】";
}
#drafting table.myMailBox .reply {
	width: 100%;
}
#drafting table.myMailBox .replybtn a {
	display: inline-block;
	padding: 4px 0;
	box-sizing: border-box;
	border: solid 1px #aaa;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
	width: 100%;
}
#drafting #upDateEdit {
	box-sizing: border-box;
	padding: 20px;
	position: relative;
	background: #fff;
}
#drafting #updateArea {
	box-sizing: border-box;
	border-top: 1px solid #97a5b0;
    padding: 20px;
}
#drafting #upDateEdit form dl dt {
	font-weight: bold;
	padding: 20px 0 0 0;
	font-size: 15px;
	float: none;
	clear:both;
	width: 100%;
	box-sizing: border-box;
}
#drafting #upDateEdit form dl dd {
	float: none;
	padding: 20px 0 0;
	width: 100%;
	box-sizing: border-box;
}
#drafting #upDateEdit form input[type="text"] {
	border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    width: 300px;
}
#drafting #upDateEdit form .actions {
	padding: 30px 0 0 0;
	margin: 0 auto;
	width: 50%;
}
#drafting #upDateEdit form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
}