/* *************************************
//
//   FORM
//
// *********************************** */
/*
// project-new-step
// ------------------------------- */
.body{
	padding-top: 40px;
	padding-bottom: 40px;
	background: none;
}

@media screen and (min-width: 768px){
	.container-single .col-inner {
		padding: 30px 50px 10px;
	}

	.container-single .col-inner-thxBtn {
		padding-bottom: 60px;
	}
}


.project-new-step {
	margin: 5px auto 20px;
	width: 304px;
	height: 52px;
	text-indent: -9999px;
}

.project-new-step.step1 {
	background: url(/ja/assets/images/sp/project-new-st1.png) no-repeat;
	-webkit-background-size: 304px 304px;
	        background-size: 304px;
}

.project-new-step.step2 {
	background: url(/ja/assets/images/sp/project-new-st2.png) no-repeat;
	-webkit-background-size: 304px 304px;
	        background-size: 304px;
}

.project-new-step.step3 {
	background: url(/ja/assets/images/sp/project-new-st3.png) no-repeat;
	-webkit-background-size: 304px 304px;
	        background-size: 304px;
}

@media screen and (min-width: 768px) {
	.project-new-step {
		margin-top: 15px;
		margin-bottom: 25px;
		width: 735px;
		height: 73px;
	}

	.project-new-step.step1 {
		background: url(/ja/assets/images/pc/project-new-st1.png) no-repeat;
	}

	.project-new-step.step2 {
		background: url(/ja/assets/images/pc/project-new-st2.png) no-repeat;
	}

	.project-new-step.step3 {
		background: url(/ja/assets/images/pc/project-new-st3.png) no-repeat;
	}
}
/*
// TTL
// ------------------------------- */
.h3 {
	font-size: 18px;
	border-bottom: dotted 1px #d0d0d0;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.h3 span {
	font-size: 11px;
	color: #317ab7;
	padding-right: 5px;
}

.read {
	font-size:13px;
	border-bottom: dotted 1px #d0d0d0;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.read br{
	display: none;
}

@media screen and (min-width: 768px) {
	.h3 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.h3 span {
		font-size: 24px;
	}

	.read {
		font-size:20px;
		padding-bottom: 20px;
		margin-bottom: 25px;
	}

	.read br{
		display: block;
	}
}

/*
// error-message
// ------------------------------- */
.error-message-wrapper {
	margin: 20px 0;
}

.error-message > li {
	color:#fe454c;
	font-size: 11px;
	font-weight: bold;
}

.error-message > li + li {
	margin-top: 3px;
}

.error-message > li:before {
	content: "・";
}

@media screen and (min-width: 768px) {
	.error-message > li {
		font-size: 14px;
	}
}

/*
// input-form
// ------------------------------- */
.input-form-inner > dt {
	background-color: #8CB9DF;
	font-size: 10px;
	color:#fff;
	padding: 7px;
}

.input-form-inner > dd {
	padding: 15px 10px;
	vertical-align: middle;
}

.input-form-inner > dd span {
	vertical-align: bottom;
	line-height: 1;
}

.input-goal-amount .form-control {
	width: 55%;
	display: inline-block;
}

.input-goal-amount .en {
	margin-right: 3px;
	margin-left: 8px;
	font-size: 16px;
	font-weight: bold;
}

.caution {
	font-size: 10px;
	color: #999;
	display: block;
	margin-top: 5px;
}

.check-term {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.check-term a {
	color: #ff9000;
	text-decoration: underline;
}

.check-term a:hover {
	text-decoration: none;
}

.check-term .checkbox {
	position: relative;
	top: -2px;
}

.atn-txt {
	font-size: 10px;
}

@media screen and (min-width: 768px) {
	.input-form > li + li {
		margin-top: 2px;
	}

	.confirm.input-form > li + li {
		margin-top: 0;
		border-top: solid 2px #f2f2f2;
	}

	.input-form-inner {
		display: table;
		width: 100%;
	}

	.input-form-inner > dt {
		font-size: 18px;
		color:#fff;
		padding: 25px 20px;
		width: 217px;
		display: table-cell;
	}

	.input-form-inner > dd {
		display: table-cell;
		padding: 15px 15px 15px 36px;
	}

	.input-applicant .form-control,
	.input-email .form-control,
	.input-facebook .form-control,
	.input-name .form-control {
		width: 70.03%;
	}

	.input-category-id .form-control,
	.input-goal-amount .form-control {
		width: 40.86%;
	}

	.caution {
		font-size: 12px;
	}

	.check-term {
		margin-top: 40px;
	}

	.atn-txt {
		font-size: 15px;
	}

}

/*
// contact-done project-new-done
// ------------------------------- */
.contact-done-wrapper {
	margin-top: 25px;
	margin-bottom: 25px;
}

.project-new-done-wrapper {
	border-bottom: dotted 1px #d0d0d0;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 30px;
}

.contact-done-message,
.project-new-done-message {
	font-size: 16px;
	color: #317ab7;
	text-align: center;
}
.project-new-done-message {
	margin-bottom: 25px;
}
.project-new-done-txt br {
	display: none;
}

@media screen and (min-width: 768px) {
	.contact-done-wrapper {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.project-new-done-wrapper {
		margin-top: 50px;
		margin-bottom: 50px;
		padding-bottom: 60px;
	}

	.contact-done-message,
	.project-new-done-message {
		font-size: 24px;
	}
	.project-new-done-message {
		margin-bottom: 50px;
	}

	.project-new-done-txt br {
		display: block;
	}

	.sp-br {
		display: none;
	}
}

/*
// project-flow
// ------------------------------- */
.project-flow img {
	width: 100%;
}