/* *************************************
//
//   CF
//
// *********************************** */


/* pc-sp　common
// ------------------------------- */

.clrboth{
  clear: both;
}

.col-blue{
  color: #274396;
}

.bold{
  font-weight: bold;
}

.bydb {
  font-size: 10px;
  text-align: left;
  width: 980px;
  display: block;
  margin: 20px auto;
}

/* navi-cont
// ------------------------------- */
.mgn30{
  margin-top: 30px;
}

.mgn40{
  margin-top: 40px;
}

.cf-container{
  background-color: #ffffff;
  margin: 0 auto;
  width: 980px;
  padding: 50px;
  overflow: hidden;
}

.cf-container p{
  line-height: 1.8em;
}

.cf-container h3{
 font-size: 32px;
 border-bottom: dotted 1px #444;
 padding-bottom: 10px;
 margin: 80px auto 25px auto;
 text-align: center;
}


.cf-container h4{
  font-size: 16px;
  color: #274396;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}


#navi-panel{
  border-top: solid 4px #e5e5e5;
  border-bottom: solid 4px #e5e5e5;
  overflow: hidden;
  padding: 20px 0;
}



#navi-panel li a:hover {
  color: #317ab7;
}


#navi-panel li{
  float: left;
  margin: 5px 28px;
  padding-left: 25px;
  background: url(/ja/assets/images/guide/list_mark.gif) no-repeat 2px 3px;
  list-style-position: inside;
  font-weight: bold;
}


#navi-panel li.over {
  background: url(/ja/assets/images/guide/list_mark_on.gif) no-repeat 2px 3px;
  color: #317ab7;
  cursor:pointer;/*forIE7*/
}


#navi-panel .size-s{
  width: 290px;
  margin-right: 90px;
}

#navi-panel .size-m{
}

.index{
  text-align: center;
  font-size: 30px;
  border-bottom:dotted 1px #cccccc;
  padding-bottom: 10px;
  margin-bottom:25px;
}


/* #area01
// ------------------------------- */
#area01{
  text-align: center;
  overflow: hidden;
}

#area01 img{
  margin : 0 auto;
  width: 430px;
}

#area01 .cf-img{
  margin: 40px auto 30px;

}

#area01 .apch-box{
  width: 830px;
  overflow: hidden;
  margin: 40px 0 0 25px;
}

#area01 .apch-box .apch-left{
  display: block;
  float: left;
  width: 400px;
}

#area01 .apch-box .apch-right{
  display: block;
  float: right;
  width: 400px;
}


/* #area02
// ------------------------------- */
 #area02 {
  overflow: hidden;
}

#area02 .img{
  float: left;
}

#area02 .tx{
  float: right;
  width: 430px
}

#area02 .bydb{
  font-size:10px;
  margin-top: 12px;
}


/* #area03
// ------------------------------- */
#area03{
  text-align: center;
}

#area03 .point{
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  width:728px
}

#area03 ul{
  overflow: hidden;
}

#area03 li{
  float: left;
  width: 200px;
  margin: 30px 9px;
}

#area03 ul li img {
  width: 100%;
}


/* #area04
// ------------------------------- */
#area04{
  overflow: hidden;
}

#area04 .img{
  float: right;
  width: 274px;
}

#area04 .tx{
  float: left;
  width: 570px;
  margin-bottom: 25px;
}

#area04 .more-left{
  float: left;
  width: 420px;
}

#area04 .more-right{
  float: right;
  width: 420px;
}


/* #area05
// ------------------------------- */
#area05 .img{
  float: right;
}

#area05 .tx{
  width: 710px;
  margin: 0 auto;
  text-align: center;
}


/* #area06
// ------------------------------- */
#area06 .more-left{
  float: left;
  width: 420px;
}

#area06 .more-right{
  float: right;
  width: 420px;
}

#area06 {
  overflow: hidden;
}

#area06 h3 {
  margin-top: 20px;
}


/* accordion
// ------------------------------- */

#area05 .ac-wrap{
  margin: 0 auto 40px auto;
  padding-top: 50px;
  width: 740px;
  clear: both;
  }

#area05 dl{
  margin: 0 0 45px 0;
  background: url(/ja/assets/images/guide/stripe.gif) repeat 0 0;
  }

#area05 dl dt{
  display: block;
  cursor: pointer;
  padding: 20px 45px 20px 58px;
  background: url(/ja/assets/images/guide/open.gif) no-repeat 96% center;
  position: relative;
  text-indent: 1em;
  font-weight: bold;
  color: #FFF;
  font-size: 21px;
  }

#area05 dl dt.active{
  background: url(/ja/assets/images/guide/close.gif) no-repeat 96% center;
}

#area05 dl dd{
  display: none;
  margin: 0 auto 2px;
  padding:20px;
  border: solid 3px #4186c1;
  background-color: #ffffff;
  font-size: 14px;
  }


#area05 .acMenu .subttl{
  color: #e60056;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

#area05 .icon-01{
  position: absolute;
  top: -20px;
  left: -20px;
}

#area05 .icon-02{
  position: absolute;
  top: -20px;
  left: -20px;
}

#area05 .icon-03{
  position: absolute;
  top: -20px;
  left: -20px;
}

#area05 .icon-04{
  position: absolute;
  top: -20px;
  left: -20px;
}

#area05 .icon-05{
  position: absolute;
  top: -20px;
  left: -20px;
}


.txt-set1{
  display: inline-block;
  text-align: left;
  width: 730px;
}

.txt-set2{
  display: inline-block;
  text-align: left;
  width: 700px;
}



@media screen and (max-width: 768px) {

/* pc-sp
// ------------------------------- */
.mgn30{
  margin-top: 3%;
}

.mgn40{
  margin-top: 5%;
}

.cf-container{
  background-color: #ffffff;
  margin: 0 auto;
  width: 94%;
  padding: 5% 4%;
}

.cf-container img{
  display: block;
  width:100%;
  max-width: 500px;
  height:auto;
  margin: 0 auto;
}

.cf-container h3{
  font-size: 30px;
  border-bottom: dotted 1px #444;
  padding-bottom: 10px;
  margin: 60px auto 15px;
  text-align: center;
}


.cf-container h4{
  font-size: 1em;
  color: #274396;
  font-weight: bold;
  margin: 20px 0 12px;
}

#navi-panel {
  padding: 5px 0 18px;
}

#navi-panel li {
  padding: 0px 0px 0 24px;
  margin: 8px 0 0 0;
  background: url(/ja/assets/images/guide/sp_list_mark.gif) no-repeat 7px 4px;
  background-size:12px 13px;
}

#navi-panel li.over {
  background: url(/ja/assets/images/guide/sp_list_mark_on.gif) no-repeat 7px 4px;
  background-size:12px 13px;
}

#navi-panel .size-s{
    width: 100%;
}

#navi-panel .size-m{
    width: 100%;
}

.index{
  text-align: center;
  font-size: 2em;
  border-bottom:dotted 1px #cccccc;
  padding-bottom: 2px;
  margin-bottom: 12px;
}

.bydb {
  width: 90%;
}



/* #area01-sp
// ------------------------------- */
#area01{
  text-align: left;
  overflow: hidden;
}

#area01 img{
  margin : 0 auto;
  width: 100%;
}

#area01 .cf-img{
  margin: 20px auto;
  width:90%;

}

#area01 .apch-box{
  width: 100%;
  height:auto;
  overflow: hidden;
  margin: 5% 0 0 0;
}

#area01 .apch-box .apch-left{
  display: block;
  float: none;
  width: 100%;
  height: auto;
}

#area01 .apch-box .apch-right{
  display: block;
  float: none;
  width: 100%;
  height: auto;
  margin-top: 5%;
}


/* #area02-sp
// ------------------------------- */
 #area02 {
  overflow: hidden;
}

#area02 .img{
  float: none;
  width: 90%;
  margin: 0 auto;
  padding: 16px 0;
}

#area02 .tx{
  float: none;
  width: 100%;
}

#area02 .bydb{
  font-size: 10px;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 0;
}


/* #area03-sp
// ------------------------------- */
#area03{
  text-align: left;
  margin-top: 3%;
}

#area03 .point{
  margin-top: 1.5%;
  width: 100%;
}

#area03 ul {
  margin: 15px auto;
  max-width: 500px;
  overflow: hidden;
}

#area03 li{
  float: left;
  height: auto;
  width: 46%;
  margin: 2%;
}


/* #area04-sp
// ------------------------------- */
#area04{
  overflow: hidden;
}

#area04 .img{
  float: none;
  width: 90%;
  margin: 10px auto;
  padding: 15px 0;
}

#area04 .tx{
  float: none;
  width: 100%;
}

#area04 .more-left{
  float: none;
  width: 100%;
}

#area04 .more-right{
  float: none;
  width: 100%;
}


/* #area05-sp
// ------------------------------- */
#area05 .img{
  float: none;
  margin-top:3%;
}

#area05 .tx{
  text-align: left;
  width: 100%;
}


/* #area06-sp
// ------------------------------- */
#area06 .more-left{
  float: none;
  width: 100%;
}

#area06 .more-right{
  float: none;
  width: 100%;
  margin-top: 3%;
}


/* accordion-sp
// ------------------------------- */

#area05 .ac-wrap{
  margin: 0 auto 30px;
  padding-top: 5%;
  width: 100%;
  clear: both;
  }


#area05 dl{
  margin: 0 0 5% 0;
  background: url(/ja/assets/images/guide/stripe.gif) repeat 0 0;
  }

#area05 dl dt {
  display: table-cell;
  width: 1000px;
  height: 65px;
  vertical-align: middle;
  padding: 0 42px 0 52px;
  font-size: 1.3em;
  text-indent: 0;
}

#area05 dl dt.active{
  background: url(/ja/assets/images/guide/close.gif) no-repeat 96% center;
}

#area05 dl dd{
  display: none;
  margin: 0 auto;
  padding:5%;
  border: solid 3px #4186c1;
  background-color: #ffffff;
  font-size: 1em;
  }

#area05 .acMenu .subttl{
  color: #e60056;
  font-size: 1em;
  margin-bottom: 2%;
}

#area05 .icon-01{
  position: absolute;
  top: 15px;
  left: 10px;
  width: 35px;
}

#area05 .icon-02{
  position: absolute;
  top: 15px;
  left: 10px;
  width: 35px;
}

#area05 .icon-03{
  position: absolute;
  top: 15px;
  left: 10px;
  width: 35px;
}

#area05 .icon-04{
  position: absolute;
  top: 15px;
  left: 10px;
  width: 35px;
}

#area05 .icon-05{
  position: absolute;
  top: 15px;
  left: 10px;
  width: 35px;
}

.txt-set1{
  width: 100%;
}

.txt-set2{
  width: 100%;
}

  }




@media screen and (max-width: 767px) {

  .cf-container h3{
  font-size: 14px;
  font-weight: bold;
  border-bottom: dotted 1px #444;
  padding-bottom: 10px;
  margin: 45px auto 15px;
  text-align: center;
}

#area05 dl dt{
  display: table-cell;
  width: 1000px;
  height: 65px;
  vertical-align: middle;
  padding: 0 42px 0 50px;
  font-size: 1em;
  text-indent: 0;
  }

}