/* *************************************
//
//   INDEX
//
// *********************************** */
/*
// project-nav
// ------------------------------- */
.project-nav-wrapper {
  background: url(/ja/assets/images/common/bg-slant.png);
}

.project-nav-inner {
  padding: 25px 0;
}

.project-nav > li img {
  width: 100%;
}

.project-nav > li a:hover {
  opacity: 0.9;
}

@media screen and (max-width: 767px) {
  .project-nav-inner {
    width: 77.3%;
    margin: 0 auto;
  }

  .project-nav > li + li {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .body-top {
    padding-top: 45px;
  }

  .project-nav-inner {
    padding: 67px 0;
  }

  .project-nav {
    font-size: 0;
    text-align: center;
    margin-left: -30px;
  }

  .project-nav > li {
    font-size: 14px;
    display: inline-block;
    margin-left: 30px;
    width: 230px;
  }
}
@media screen and (min-width: 992px) {
  .project-nav {
    margin-left: -47px;
  }

  .project-nav > li {
    margin-left: 47px;
    width: 295px;
  }
}
@media screen and (min-width: 1281px) {
  .project-nav {
    margin-left: -67px;
  }

  .project-nav > li {
    margin-left: 67px;
    width: 309px;
  }
}
/*
// recommend category
// ------------------------------- */
.recommend-category-wrapper {
  padding: 28px 0 20px;
  background: #fff;
}

.recommend-category-inner {
  margin-top: 20px;
}

.recommend-category {
	overflow:hidden;
  margin-right: -1%;
  margin-left: -1%;
}

.recommend-category-ttl {
  width: 190px;
  margin: 0 auto 30px auto;
}

.recommend-category-ttl img {
  width: 100%;
}

.recommend-category > li {
  width: 50%;
  float: left;
  margin: 0 0 15px;
}

.recommend-category > li img {
  width: 100%;
}

.recommend-category > li a:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .recommend-category-wrapper {
    padding: 35px 0 50px;
  }

  .recommend-category-inner {
    width: 100%;
    max-width: 980px;
    margin: 20px auto 0;
  }

  .recommend-category {
    margin: 0 auto;
  }

  .recommend-category-ttl {
    width: 237px;
  }

  .recommend-category > li {
    width: 25%;
    float: left;
    margin: 0;
  }

  .recommend-category > li img {
    width: 100%;
  }
}
/*
// partner-list
// ------------------------------- */
.partner-list-wrapper {
  padding: 35px 0 0;
}

.partner-list {
  font-size: 0;
  text-align: center;
  margin-left: -20px;
}

.partner-list-ttl {
  width: 189px;
  margin: 0 auto;
}

.partner-list-ttl img {
  width: 100%;
}

.partner-list > li {
  font-size: 14px;
  border: solid 1px #d4dfe5;
  display: inline-block;
}

.partner-list > li img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .partner-list {
    margin-left: -10px;
  }

  .partner-list > li {
    margin-top: 10px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .partner-list {
    margin-left: -20px;
  }

  .partner-list-ttl {
    width: 118px;
  }

  .partner-list > li {
    width: 372px;
    margin-top: 20px;
    margin-left: 20px;
  }
}



/*
// support-list
// ------------------------------- */
.support-list-wrapper {
  padding: 20px 0 0 0;
  margin: 40px 0 0;
  border-top: 2px solid #FFF;
}

.support-list {
  font-size: 0;
  text-align: center;
}

.support-list-ttl {
  width: 95px;
  margin: 0 auto;
}

.support-list-ttl img {
  width: 100%;
}

.support-list > li {
  font-size: 14px;
  border: solid 1px #d4dfe5;
  display: inline-block;
  background-color:#fff;
}

.support-list > li .supportLogo{
  display: inline-block;
  padding-right:10px;
  vertical-align:top;
}

.support-list > li .supportTxt{
  display: inline-block;
  font-size:12px;
  width:340px;
  padding-top:15px;
  text-align:left;
  vertical-align:top;
}


.support-list > li img {
  width: 100%;
}

@media screen and (max-width: 767px) {

  .support-list {
    margin-left: -10px;
  }

  .support-list > li {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
  }

  .support-list > li .supportTxt{
  font-size:12px;
  text-align:center;
  width:90%;
  padding:0 0 5px 0;
  }

  .support-list-wrapper {
  padding: 25px 0 15px;
  }

}

@media screen and (min-width: 768px) {

  .support-list-ttl {
    width: 95px;
  }

  .support-list > li {
    width: 640px;
    margin-top: 20px;
    padding: 15px;
  }
}





