/* *************************************
//
//   LIST
//
// *********************************** */
.list-main-wrapper {
  display: none;
}

img.pc {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
.page-ttl-wrapper{
  background: #317ab7;
  color: #FFF;
}
}

@media screen and (min-width: 768px) {
.list-main-wrapper {
  display: block;
}
.list-main-wrapper-sp {
  display: none;
}
}

@media screen and (min-width: 992px){
.main-inner {
  min-height: 260px;
  padding-top: 10px;
  padding-top: 10px;
}
}

@media screen and (min-width: 1281px){
  .main-inner {
  min-height: 260px;
  padding-top: 10px;
  }
}


  /*
  // local-nav-sort
  // ------------------------------- */
.local-nav-sort {
  display: table;
  width: 100%;
}

.local-nav-sort > li {
  display: table-cell;
  width: 33.3%;
  border-left: solid 3px #fff;
  font-size: 12px;
  text-align: center;
  background: #8CB9DF;
  vertical-align: middle;
}

.local-nav-sort > li:first-child {
  border-left: none;
}

.local-nav-sort > li a {
  display: block;
  width: 100%;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}

.local-nav-sort-new,
.local-nav-sort-new > a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.local-nav-sort-fund,
.local-nav-sort-fund > a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (min-width: 768px) {
  .local-nav-sort > li {
    font-size: 18px;
  }

  .local-nav-sort > li a {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .local-nav-sort > li a:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 10px;
  }

  .local-nav-sort-fund a:before {
    background: url(/ja/assets/images/pc/ico-money.png) no-repeat;
    width: 22px;
    height: 21px;
  }

  .local-nav-sort-new a:before {
    background: url(/ja/assets/images/pc/ico-new.png) no-repeat;
    width: 24px;
    height: 24px;
  }

  .local-nav-sort-day a:before {
    background: url(/ja/assets/images/pc/ico-calender.png) no-repeat;
    width: 23px;
    height: 19px;
  }

  .local-nav-sort-progress a:before {
    background: url(/ja/assets/images/pc/ico-flag.png) no-repeat;
    width: 17px;
    height: 17px;

  }

}


/*
// local-nav-category
// ------------------------------- */
.local-nav-category-wrapper {
  margin-top: 10px;
  background: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .local-nav-category {
    display: none;
  }

  .local-nav-category-open .local-nav-category {
    display: block;
  }

  .local-nav-category > li a,
  .local-nav-category-ttl a {
    display: block;
    padding: 12px 44px 12px 18px;
    position: relative;
    border-top: solid 1px #e5e5e5;
  }

  .local-nav-category-ttl a {
    border-top: none;
    padding: 11px 44px 11px 18px;
  }

  .local-nav-category > li a:after {
    content: "";
    display: block;
    width: 8px;
    height: 15px;
    background: url(/ja/assets/images/sp/arrow-link.png) no-repeat;
    -webkit-background-size: 8px 8px;
            background-size: 8px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 18px;
  }

  .local-nav-category-ttl a:after {
    content: "";
    display: block;
    width: 15px;
    height: 8px;
    background: url(/ja/assets/images/sp/arrow-toggle.png) no-repeat;
    -webkit-background-size: 15px 15px;
            background-size: 15px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 18px;
  }

  .local-nav-category-open .local-nav-category-ttl a:after {
    background-position: 0 -39px;
  }
}


@media screen and (min-width: 768px) {
  .local-nav-category {
    font-size: 0;
    text-align: center;
    padding: 0 20px 20px;
  }

  .local-nav-category > li {
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    margin-top: 20px;
    padding-left: 15px;
    margin-right: 30px;
    background: url(/ja/assets/images/pc/ico-tag.png) no-repeat;
  }

  .local-nav-category-ttl {
    display: none;
  }

}




/*
// project-list-ttl
// ------------------------------- */
.project-list-ttl-wrapper {
  display: none;
}

.project-list-ttl {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  padding-left: 25px;
  background: url(/ja/assets/images/common/bled.png) no-repeat 0 8px;
}

.project-list-number {
  display: none;
  float: right;
  margin-top: 10px;
}

.project-list-number > span {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .project-list-ttl-wrapper {
    display: block;
    border-bottom: dotted 1px #000;
    margin-top: 40px;
    padding-bottom: 5px;
  }
  .project-list-number {
    display: inline-block;
  }
}
