@charset "UTF-8";

.aLittleAfter {
	padding-bottom: 20px;
}
.aLittleAfter h2 {
	background: rgba(0, 0, 0, 0) url("/ja/assets/images/bled.png") no-repeat scroll 0 8px;
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding-left: 25px;
	border-bottom: 1px dotted #000;
    padding-bottom: 5px;
	margin-bottom: 30px;
}
.news {
	width: 60%;
	padding: 40px 20%;
	position: relative;
	background: #fff;
	box-sizing: content-box;
	border-bottom: 1px dotted #c3c3c3;
}
.news .newsInner {
	background: #F5F5F5;
	padding: 5%;
	border: 1px dotted #c3c3c3;
	box-sizing: border-box;
}
.news h2 {
	width: 100%;
	background: rgba(0, 0, 0, 0) url("/ja/assets/images/icon_news.png") no-repeat scroll 0 8px;
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding-left: 25px;
	border-bottom: 1px dotted #000;
    padding-bottom: 5px;
	margin-bottom: 30px;
}
.news dl {
	border-bottom: 1px dotted #c3c3c3;
	padding-bottom: 14px;
	margin-bottom: 14px;
}
.news dl:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}
.news dl dt {
	font-size: 11px;
	color: #888;
}
.news dl dd {
	font-size: 12px;
}
.news dl dd.newsTitle {
	color: #4D87C2;
	padding: 4px 0;
	font-size: 14px;
}

.ribbon {
	width: 85px;
	height: 85px;
	position: absolute;
	left: 0;
	top: 0;
	background:url(/ja/assets/images/ribbon.png) no-repeat left top;
	background-size: 85px 85px;
}
.seal {
	width: 46px;
	height: 46px;
	position: absolute;
	right: 2px;
	top: 2px;
	background:url(/ja/assets/images/icon_newseal.png) no-repeat left top;
	background-size: 46px 46px;
}

.fixedStartProject {
	display: none;
}
@media screen and (min-width: 768px){
.fixedStartProject {
	display: block;
	position: fixed;
	right: 0;
	top: 20%;
	z-index: 99999;
	width: 56px;
	height: 292px;
}
.fixedStartProject img {
	width: 56px;
	height: 292px;
}
}

.fixedSns {
	display: none;
}
@media screen and (min-width: 768px){
.fixedSns {
	display: block;
	position: fixed;
	right: 1%;
	top: 20%;
	z-index: 9999;
	width: 90px;
	padding: 10px;
	border-top: solid 1px #DBDBDB;
	border-bottom: solid 10px #045E9A;
	background: #fff;
	box-sizing: border-box !important;
}
}