/* *************************************
//
//   START
//
// *********************************** */


.list-main-wrapper {
	display: none;
}

.container-wide {
	position: relative;
}

#ship1 {
	position: absolute;
	top: 10px;
	left: 270px;
}

#ship2 {
	position: absolute;
	top: 80px;
	left: 130px;
}

#ship3 {
	position: absolute;
	top: 130px;
	left: 340px;
}

.container-inner-set {
	float: right;
	text-align: left;
	width: 50%;
	padding-left: 20px;
}

/***PC共通***/
.body {
	padding: 0;
	text-align: center;
	background: #fff;
}

.sp-blc{
	display:none;
}

/***コンテンツトップ***/
.intro {
	max-width:1280px;
	margin:0 auto;
	padding: 5% 0 30px;
	background: #fff;
}

.intro h3 {
	margin-bottom: 25px;
	padding:0 3%;
	font-size: 30px;
	font-weight: normal;
}

.intro ul {
	width: 90%;
	margin: 0 auto;
	padding: 0 0 0 10%;
	overflow: hidden;
}

.intro ul li {
	width: 30%;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}

.intro .circle{
	width:70%;
	max-width:300px;
	margin:0 auto;
	padding:0 0%;
	text-align:center;
	z-index:9;
}

.intro .rope {
	width:30%;
	max-width:104px;
	position: absolute;
	top: 75px;
	left: 85%;
	z-index:1;
}

.intro ul li span {
	width: 90%;
	margin: 20px auto;
	display: block;
	font-size: 12px;
	text-align: left;
}

/*** アコーディオン1 ***/
.acwrap01 {
	background: #f5f5f5;
	padding: 40px 0 0px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.acwrap01 h3 {
	padding:0 3%;
	font-size: 34px;
	font-weight: normal;
}

.acwrap01 p {
	padding: 10px;
}

.acwrap01 dl dt {
	width: 206px;
	height: 43px;
	margin: 25px auto 30px;
	cursor: pointer;
	text-indent: -9999px;
	background: url(/ja/assets/images/start/btn_continue.gif) no-repeat;
}

.acwrap01 dl dt.active {
	background: url(/ja/assets/images/start/btn_continue_close.gif) no-repeat;
}

.acwrap01 dl dd {
	display: none;
	padding: 5% 0 6%;
	border-top: 1px solid #cfcfcf;
}

.acwrap01 dl dd h3 {
	width:90%;
	margin:0 auto;
	margin-bottom: 0;
	color: #2c4c9e;
}

.acwrap01 dl dd p {
	width:90%;
	margin:0 auto;
	font-size: 14px;
	line-height:1.8;
}

.acwrap01 dl dd .btn {
	width:auto;
	height:auto;
	margin: 0% auto 1%;
}

.acwrap01 dl dd .btn span {
	margin: 15px;
	display: block;
	color: #4286c0;
}

/*ふきだし*/
.acwrap01 dl dd .top-how {
	margin: 0px auto 0;
	padding: 0;
}

.acwrap01 dl dd .top-how img {
	width: 65px;
	margin: 0px auto 0;
	height: auto;
}

.acwrap01 dl dd .howto {
	max-width:980px;
	margin: -9px auto 0;
	background: #fff;
	padding: 3% 0;
	border: 9px solid #4f8fc4;
}

.acwrap01 dl dd .howto h3 {
	display: inline-block;
	margin: 2% 0 3%;
	padding-top: 0;
	font-size: 30px;
	color: #333;
}

.acwrap01 dl dd ul {
	width: 98%;
	margin: 0 auto;
	padding: 0 1% 0 1%;
	overflow: hidden;
}

.acwrap01 dl dd ul li {
	width: 25%;
	margin: 0;
	padding: 0 0 0 0;
	float: left;
}

.acwrap01 dl dd ul li img {
	width: 85%;
	margin:0 auto;
	height: auto;
	padding: 0 0%;
}

.acwrap01 dl dd ul li span {
	width: 88%;
	margin: 20px auto;
	display: block;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}

.txt18 {
	font-size: 18px!important;
	font-weight: bold !important;

}

/*** 斜線エリア ***/
.step-wrap {
	width: 980px;
	height: 1780px;
	margin: 60px auto;
	padding: 70px 0 0;
	background: url(/ja/assets/images/start/back.gif) no-repeat;
}

@media screen and (min-width: 769px) {
.step-wrap img {
	width: 60%;
}
}

.step-wrap a {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	zoom: 1;
}

/* 5つのステップ */
.step-inner .pc-blc{
	width: 100%;
	max-width:980px;
	min-height:1165px;
	margin: 40px auto 50px;
	/*margin: 20px auto 20px\9;*/
	background: url(/ja/assets/images/start/bg_ship.png) no-repeat center top;
	background-size:100%;
	position: relative;
	z-index:1;
}

.step-inner .pc-blc ol {
	margin: 0 auto 0px;
}

.pc-blc .step01 {
	position: absolute;
	top: 0px;
	left: 50px;
}

.pc-blc .step02 {
	position: absolute;
	top: 230px;
	left: 540px;
}

.pc-blc .step03 {
	position: absolute;
	top: 480px;
	left: 30px;
}

.pc-blc .step04 {
	position: absolute;
	top: 720px;
	left: 520px;
}

.pc-blc .step05 {
	position: absolute;
	top: 970px;
	left: 170px;
}

.step-inner .pc-blc img.step01 ,
.step-inner .pc-blc img.step02 ,
.step-inner .pc-blc img.step03 ,
.step-inner .pc-blc img.step04 ,
.step-inner .pc-blc img.step05{
/*	width:38%;*/
	height:auto;
	max-width:415px;
	max-height:200px;
}

.pc-blc .point01 {
	width:222px;
	height:182px;
	position: absolute;
	top: 40px;
	left: 510px;
}

.pc-blc .point02 {
	width:192px;
	height:166px;
	position: absolute;
	top: 60px;
	left: 770px;
}

.pc-blc .point03 {
	width:204px;
	height:142px;
	position: absolute;
	top: 240px;
	left: 320px;
}

.pc-blc .point04 {
	width:247px;
	height:169px;
	position: absolute;
	top: 500px;
	left: 455px;
}

.pc-blc .point05 {
	width:219px;
	height:192px;
	position: absolute;
	top: 700px;
	left: 270px;
}

.pc-blc .point06 {
	max-width:199px;
	max-height:192px;
	position: absolute;
	top: 685px;
	left: 10px;
}

/* 起案者の心構え */
.mind {
	width: 750px;
	margin: 0 auto;
	padding: 30px 20px 35px;
	background: url(/ja/assets/images/start/bg_whtcell.png) ;
	z-index:9;
}

.mind h3 {
	margin-bottom: 12px;
	font-size: 30px;
}

.mind ul {
	max-width: 640px;
	margin: 0 auto;
}

.mind ul li {
	margin-bottom: 8px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	list-style: url(/ja/assets/images/start/check.gif) inside;
}

.mind p {
	font-size: 10px;
	margin-top: 20px;
}

/*** 選べる２つの資金調達法 ***/

.typebox{
	position: relative;
	margin: 10px;
	display: inline-block;
}

.choice {
	width: 100%;
	margin: 60px auto 0;
	padding: 60px 0 50px;
	background-color: #f5f5f5;
	overflow: hidden;
}
.choice h3 {
	margin-bottom: 30px;
	font-size: 30px;
}

.choice p {
	font-size: 16px;
	font-weight: bold;
}

.tbl-wrap {
	width: 980px;
	margin: 0 auto;
	padding-top: 40px;
	position: relative;
}

.icon-a {
	position: absolute;
	top: -15px;
	left: -15px;
}

.icon-b {
	position: absolute;
	top: -15px;
	left: -15px;
}

.select-pc {
	position: absolute;
	top: 50%;
	left: 443px;
}

.choice table {
	width:418px;
	background: #fff;
	padding: 10px;
	border: 10px solid #4286c0;
}

.choice table th h4{
	margin: 20px 0 10px;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
}

.choice table td ul {
	padding: 10px 25px 20px;
}

.choice table td.funding-type-txt ul {
	width: 395px;
	border-top: 1px dotted #707070;
	padding: 5px 0px 0 !important;
	margin: 7px 24px 20px !important;
	display: inline-block;
}

.choice table td ul li {
	margin-top: 15px;
	text-align: left;
	text-indent: -1em;
	padding-left: 1em;
}

.choice table td ul li span {
	color: #e60056;
	font-size: 10px;
	position: relative;
	top: -2px;
}

.choice table td span.yel {
	display: block;
	margin: 0 30px 30px;
	padding: 10px 0;
	background: #fffa38;
	font-weight: bold;
}

/*** FAQ ***/

.faq {
	width:80%;
	max-width: 980px;
	margin: 0 auto;
	padding: 80px 0 60px;
	background-color: #fff;
	overflow: hidden;
}

.faq h3 {
	margin-bottom: 45px;
	font-size: 30px;
}

.faq table {
	width: 100%;
	max-width: 980px;
}

.faq table td {
	width: 50%;
	padding: 0 5px;
	vertical-align: top;
}

.faq dl.acMenu {
	width: 98%;
	margin: 0 0px 30px 0px;
}

.faq dl.acMenu dt {
	width: 1000px;
	height: 74px;
	padding: 0px 50px 0px 15px;
	background: #4286c0 url(/ja/assets/images/start/open.gif) no-repeat 97% center;
	cursor: pointer;
	text-align: left;
	color: #fff;
	font-size: 16px;
	font-weight:bold;
	line-height:1.3;
	display:table-cell;
	vertical-align:middle;
}

.faq dl.acMenu dt.active {
	background: #4286c0 url(/ja/assets/images/start/close.gif) no-repeat 97% center;
}

.faq dl.acMenu dd {
	padding: 15px;
	display: none;
	border-right: 4px solid #4286c0;
	border-bottom: 4px solid #4286c0;
	border-left: 4px solid #4286c0;
	font-weight: bold;
	text-align: left;
}

.faq p a{
	color:#4286c0;
	text-decoration:underline;
	background:url(/ja/assets/images/start/more.gif) no-repeat left 4px;
	background-size:12px 12px;
}

.faq p a:hover{
	text-decoration:none;
}

.faq p span{
	margin-left:16px;
	font-size:13px;
	font-weight:bold;
}

.bottom{
	width:100%;
	padding:30px 0;
	background:url(/ja/assets/images/start/bg_bottom.gif) no-repeat center top;
	background-size:cover;
}


/* *************************************
//   min-width: 768px
// *********************************** */

@media screen and (min-width: 768px) {
.pc-blc {
	display: block;
}

.list-main-wrapper {
	display: block;
}

.list-main-wrapper-sp {
	display: none;
}
}


/* *************************************
//   max-width: 1024px
// *********************************** */

@media screen and (max-width: 1024px) {
.container-inner-set .pc {
	max-width: 75%;
	padding-top: 10px;
}

.container-inner-set .btn-start-entry {
	max-width: 50%;
}

.funding-type-txt {
	min-height: 160px;
}
}



/* *************************************
//   min-width: 1281px
// *********************************** */

@media screen and (min-width: 1281px) {
.main-inner {
	min-height: 260px;
	padding-top: 20px;
}

.container-wide {
	width: 980px
}
}

/* *************************************
//   max-width: 992px
// *********************************** */

@media screen and (max-width: 992px) {

.s60 img {
	width: 80%;
}

#ship1 {
	position: absolute;
	top: 20px;
	left: 220px;
}

#ship2 {
	position: absolute;
	top: 70px;
	left: 120px;
}

#ship3 {
	position: absolute;
	top: 86px;
	left: 260px;
}
}


/* *************************************
//   max-width: 767px
// *********************************** */

@media screen and (max-width: 767px) {
.page-ttl-wrapper{
  background: #317ab7;
  color: #FFF;
}
}

@media screen and (max-width: 769px) {

/***スマホ・タブ共通***/

.step-wrap img{
	max-width:500px;
}

.pc-blc {
	display: none;
}

.sp-blc {
	display: block;
}

h2.page-ttl{
	font-size:20px;
	font-weight:bold;
	}

p.btn{
	width:212px;
	margin:20px auto 0;
	}

p.btn img{
	width: 220px;
}

.intro h3 ,
.acwrap01 h3 ,
.acwrap01 dl dd h3 ,
.acwrap01 dl dd .howto h3{
	font-size:20px;
	font-weight:bold;
}

/***コンテンツトップ***/

.intro ul li {
	width: 100%;
	float:none;
}

.intro ul li span {
	width: 100%;
	max-width: 460px;
}

.rope {
	display: none;
}

/*** アコーディオン1 ***/

.acwrap01 h3{
	width:95%;
	margin:0 auto;
}

.acwrap01 .lead{
	width:90%;
	margin:0 auto;
}

.acwrap01 dl dt {
	width: 228px;
	height: 41px;
	margin: 25px auto 30px;
	cursor: pointer;
	text-indent: -9999px;
	background: url(/ja/assets/images/start/btn_continue_sp.gif) no-repeat;
	background-size:100%;
}

.acwrap01 dl dt.active {
	background: url(/ja/assets/images/start/btn_continue_close_sp.gif) no-repeat;
	background-size:100%;
}

/*ふきだし*/
.acwrap01 dl dd .howto {
	width: 90%;
}

.acwrap01 dl dd .howto h3{
	width: 100%;
}

.acwrap01 dl dd ul {
	width: 90%;
	margin:0 auto;
}

.acwrap01 dl dd ul li {
	width: 100%;
	margin:2% auto 4%;
	float: none;
}

.acwrap01 dl dd ul li img {
	width: 85%;
	max-width:300px;
	height:auto;
	margin:0 auto;
	height: auto;
	padding: 0 0%;
}

.acwrap01 dl dd ul li span {
	width: 100%;
	margin: 3% auto 2%;
	display: block;
}

/*** 斜線エリア ***/

.step-wrap {
	width: 100%;
	height: auto;
	margin: 9% auto 4%;
	padding: 14% 0 9%;
	background: url(/ja/assets/images/start/back_sp.gif) no-repeat;
	background-size: cover;
}

/* 5つのステップ */
.step-wrap h3 img{
	width:90%;
	}

.step-inner .sp-blc{
	width: 100%;
	margin: 10% auto 9%;
	background: none;
	position: relative;
}

.bg-img{
	width:90%;
	margin:0 auto;
	text-align:center;
	}

.bg-img img{
	width:100%;
	height:auto;
}

.step01 {
	width:90%;
	margin-bottom:0;
	position: relative;
	top: 0px;
	left: 0px;
}

.step02 {
	width:90%;
	margin-bottom:0;
	position: relative;
	top: 0px;
	left: 0px;
}

.step03 {
	width:90%;
	margin-top:0;
	margin-bottom:0;
	position: relative;
	top: 0px;
	left: 0px;
}

.step04 {
	width:90%;
	margin-top:0;
	margin-bottom:0;
	position: relative;
	top: 0px;
	left: 0px;
}

.step05 {
	width:90%;
	margin-bottom:0;
	position: relative;
	top: 0px;
	left: 0px;
}

.step-inner dl.acMenu {
	width:90%;
	max-width:500px;
	padding-top:24px;
	margin:-20px auto 0;
	text-align:left;
}

.point-sp{
	width:50px;
	height:42px;
	position:absolute;
	top:-20px;
	left:-10px;
	z-index:9;
	}

.step-inner dl.acMenu dt{
	width:1000px;
	height:60px;
	margin:0 auto;
	padding:10px 50px 10px 35px;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	background:#2c4c9e url(/ja/assets/images/start/open_sp.gif) no-repeat 97% center;
	background-size:24px 11px;
	color:#fff;
	cursor:pointer;
	text-indent:-0.2em;
	position:relative;
	z-index:1;
	display:table-cell;
	vertical-align:middle;
	}

.step-inner dl.acMenu dt.active{
	background:#2c4c9e url(/ja/assets/images/start/close_sp.gif) no-repeat 97% center;
	background-size:24px 11px;
}

.step-inner dl.acMenu dd{
	width:100%;
	margin:0 auto;
	display:none;
	padding:4%;
	border:4px solid #2c4c9e;
	background:#fff;
	text-align:left;
	font-size:10px;
}

.ylw{
	background: #fffa38;
	}


/* 起案者の心構え */
.mind {
	width: 90%;
}

.mind h3 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight:bold;
}

.mind ul li {
	font-size: 15px;
	font-weight: bold;
	padding-left: 1.5em;
	line-height: 1.5;
	background: url(/ja/assets/images/start/check.gif) left top no-repeat;
	list-style: none;
}

.mind p {
	font-size: 10px;
	text-align:left;
}

/*** 選べる２つの資金調達法 ***/

.choice {
	width: 100%;
	margin: 30px auto 0;
	padding: 30px 0 20px;
}

.choice h3 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight:bold;
}

.choice p {
	font-size: 12px;
	font-weight: bold;
	width:90%;
	margin:0 auto 10px;
}

.tbl-wrap {
	width: 100%;
	max-width: 500px;
	margin: 20px auto;
	padding: 0;
	position: relative;
}

.icon-a,.icon-b {
	width:46px;
	height:46px;
	position: absolute;
	top: -10px;
	left: 10px;
	z-index:9;
}

.select-sp {
	width:71px;
	height:47px;
	position: absolute;
	top: 45%;
	left: 48%;
	z-index:9;
}

.choice table {
	width: 90%;
	height:auto;
	margin:0 auto 40px;
	border: 10px solid #4286c0;
	float: none;
	position: relative;
	z-index:1;
}

.choice table:last-child {
	float: none;
}

.choice table th {
	width: 90%;
	max-width: 560px;
	height: auto;
	padding: 5px 0 0px;
	margin-bottom: -10px;
	font-size: 25px;
	font-weight: bold;
}

.funding-type-txt {
	min-height: 0;
}

@media screen and (max-width: 767px){
.choice table th {
	font-size: 14px;
}
}

.choice table td span.yel {
	padding: 10px 10px ;
}

/*** FAQ ***/

.faq {
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 20px;
}

.faq h3 {
	width:88%;
	margin:0 auto;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight:bold;
}

.faq table {
	width: 90%;
	margin:0 auto;
}

.faq table td {
	display:block;
	width: 100%;
	margin:0 auto;
}

.faq dl.acMenu {
	width: 100%;
	margin: 0 0px 20px 0px;
}

.faq dl.acMenu dt {
	height:76px;
	padding: 5px 40px 5px 15px!important;
	background: #4286c0 url(/ja/assets/images/start/open.gif) no-repeat 97% center;
	background-size:19px 12px;
}

.faq dl.acMenu dt.active {
	background: #4286c0 url(/ja/assets/images/start/close.gif) no-repeat 97% center;
}

.faq dl.acMenu dd {
	padding: 15px;
	display: none;
	border-right: 4px solid #4286c0;
	border-bottom: 4px solid #4286c0;
	border-left: 4px solid #4286c0;
	font-weight: bold;
	text-align: left;
}

.faq p a{
	background:url(/ja/assets/images/start/more_sp.gif) no-repeat left 3px;
	background-size:12px 12px;
	}

.bottom p{
	margin:0 auto;
	}

.bottom p img{
	width:228px;
	height:41px;
	}

.choice table td.funding-type-txt ul {
	width: 84%;
}

.select-sp {
	top: 48%;
	left: 45%;
}

.choice table {
	width: 90%;
	max-width: 500px;
	height: auto;
	position: relative;
}

.intro ul {
	width: 90%;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

.choice table th h4 {
	font-size: 17px;
}

}

