/* *************************************
//
//   START-SPEPS
//
// *********************************** */

body{
  background-color: #FFF;
}

.pop-cnt-wrap{
  width: 590px;
  height: 500px;
  margin: 0 auto;
}

.step-number {
  width: 590px;
  margin: 0 auto;
  padding: 20px 0 20px 35px;
  font-weight: bold;
  border-bottom: 1px dotted #999;
  background: url(/ja/assets/images/start/icon_step2.png) left center no-repeat;
}

.step-number-3 {
  width: 590px;
  margin: 0 auto;
  padding: 20px 0 20px 35px;
  font-weight: bold;
  border-bottom: 1px dotted #999;
  background: url(/ja/assets/images/start/icon_step3.png) left center no-repeat;
}

dt.point-ttl {
  font-size: 22px;
  font-weight: bold;
  height: 130px;
  padding-left: 100px;
  margin: 35px 0;
  display: table-cell;
  vertical-align: middle;
  background: url(/ja/assets/images/start/icon_point.png) left center no-repeat;
}

dd.point-txt {
  line-height: 1.7;
}

.ylw{
  background-color: #ffff00;
}

/* *************************************
//   SLIDER　MODIFY
// *********************************** */

.bx-wrapper .bx-viewport {
  margin: 0 auto;
  width: 590px !important;
  height: 300px !important;
  background: #fff !important;
  box-shadow: none !important;
  border: none !important;
  left: 0px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
background: #E1E1E1!important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
background: #2c4c9e!important;
}


