@charset "UTF-8";
/* *************************************
//
//   BLOG WIDGET-MAIN
//
// *********************************** */

body{
	background-color: #FFF;
	text-align: left;
}

.project-widget-wrap{
	background-color: #FFF;
	max-width: 600px;
	border: solid 10px #e5e5e4;
	padding: 10px;
	margin: 0 auto;
	cursor: pointer;
}

.project-widget-wrap:hover{
	border: solid 10px #317ab7;
}

.project-img img {
	width: 100%;
}

.project-img img:hover {
  opacity: 1;
}

.project-title {
	height: auto !important;
	font-size: 16px;
	margin-bottom: 1em;
}

.project-tip {
	display: block;
	overflow: hidden;
}