		<div class="col-sub other-menu">
			<div class="col-inner">
				<ul class="other-menu">
					<li class="border-btm"><a href="{$pagelink_faq}" target="_self"><span class="txt">よくあるご質問</span></a></li>
					<li class="border-btm"><a href="{$pagelink_usage_project}" target="_self"><span class="txt">利用規約</span></a></li>
					<li class="border-btm"><a href="{$pagelink_privacypolicy}" target="_self"><span class="txt">プライバシーポリシー</span></a></li>
					<li class="border-btm"><a href="{$pagelink_tokusyo}" target="_self"><span class="txt">特定商取引法の表記</span></a></li>
					<li><a href="{$pagelink_inquiry}" target="_self"><span class="txt">お問い合わせ</span></a></li>
				</ul>
			</div>
		</div><!--/col-sub-->