{include file="{$lang}/sf-head.tpl"}
<link rel="stylesheet" href="{$smarty.const.C_ASSETS}css/common.css">
</head>
<body>
{include file="{$lang}/sf-header.tpl"}

<div class="wrapper">
  <div class="page-ttl-wrapper" style="padding-top:0px;">
    <div class="container page-ttl-inner cf">
      <h2 class="page-ttl">利用規約</h2>
    </div>
  </div>
  <div class="body">
    <div class="container container-offset cf">
      <div class="col-main">
        <div class="col-inner">
          <section class="clause">
            <h3 class="project-description-ttl pt20">第１条（利用規約）</h3>
            <ol class="list-style-first">
              <li>株式会社朝日新聞社（以下「当社」といいます）が提供するクラウドファンディングサービス「Ａ－ｐｏｒｔ」（以下「本サービス」といいます）は、プロジェクトの起案者（以下「実行者」といいます）とプロジェクトの支援者（以下「サポーター」といいます）を仲介、マッチングさせるサービス、ならびに付随するメール配信サービスや会員サービスによって構成されます。</li>
              <li>本利用規約（以下「本規約」といいます）は、本サービスを提供するＷＥＢサイト（以下「本サイト」といいます）を訪問した皆さま（以下「ユーザー」といいます）と当社との、本サービスの利用および運営等に関する事項に適用されるものとし、ユーザーは本規約を確認・承諾の上、本サービスを閲覧、利用するものとします。</li>
              <li>当社は株式会社モーションギャラリー（以下「ＭＧ社」といい、当社とあわせて「当社ら」といいます）と提携し本サービスを運営しています。ユーザーは本サービスの閲覧、利用にあたり、ＭＧ社の規約についても確認・承諾するものとします。ユーザーは、本サイトを閲覧し、または本サービスを利用することにより、本規約および当社のプライバシーポリシーその他の本サービスに関するガイドライン（以下「本規約等」といいます）のみならず、ＭＧ社の提供するクラウドファンディングサービス「MotionGallery」（以下「ＭＧ社サービス」といいます）に関する<a href="https://motion-gallery.net/term" target="_blank">利用規約</a>、プライバシーポリシーその他のガイドライン（以下「ＭＧ社規約等」といいます）のすべてにつき同意したものとみなされます。</li>
              <li>当社が本サービスの提供に際して実行者に提示する実行者利用規約および、当社と実行者が締結する「実行者契約書」は、本規約の一部を構成するものとします。</li>
              <li>当社が本規約等を変更する場合には、事前に本サイトのわかりやい位置に(a)本規約等を変更する旨、(b)変更後の本規約等の適用開始日、および(c)変更後の本規約等（またはそのURL）を掲載するものとします。この場合、掲載日以降に本サイトを閲覧し、またはその他本サービスを利用したユーザーに対して、適用開始日以降、変更後の本規約等が適用されるものとします。変更後の本規約等に同意できない会員は、たいへんお手数ですが、適用開始日までに当社所定の退会手続きをとっていただきますようお願いいたします。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第２条（通知）</h3>
            <ol class="list-style-first">
              <li>当社は、本サイト上で表示することにより、または電子メールその他の方法により、ユーザーに対し随時必要な事項を通知します。</li>
              <li>本サイト上に表示することによっておこなうユーザーに対する諸通知は、当社がその内容を本サイトに掲載した時点より効力を生じるものとします。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第３条（会員登録）</h3>
            <ol class="list-style-first">
              <li>「会員」とは、本サービスを利用するために会員登録をしたユーザーをいい、会員登録をおこなうことにより、本サービスおよびＭＧ社サービスの実行者やサポーターになることができます。また、会員はＭＧ社が提供する決済機能やコメント投稿機能などを利用することができます。</li>
              <li>会員登録を希望するユーザーは、本規約等およびＭＧ社規約等を承認の上、登録を申請するものとします。なお、ユーザーは複数の会員登録申請を行ってはならないものとします。また、会員登録手続の申込みは、本人が行わなければならないものとします。</li>
              <li>会員登録希望者が未成年者である場合、親権者の同意を得た上で入会を申し込むものとします。万が一、親権者の同意のないことが判明した場合は、遡って会員としての資格を喪失するものとします。これに関して当社が必要と判断した場合には、年齢を証明する書類の提出を求めることができるものとします。</li>
              <li>法人その他の事業体を代表または代理して会員登録する場合、本規約等における「ユーザー」または「会員」とは現に登録を行った本人たる個人およびその事業体を指すものとし、登録を行った者がその事業体を代表または代理して、その事業体を本規約等に拘束させる権限を付与されているものであること、および登録を行った者がその事業体を代表または代理して本規約等に合意するものであることをここに表明のうえ保証するものとします。</li>
              <li>ＩＤはＭＧ社より付与されます。会員は、自己の責任においてＩＤおよびパスワードを厳重に管理することとし、当社は会員の過失の有無にかかわらず、ＩＤおよびパスワードを他者が利用したことにより被った会員および第三者の損害について、責任を負わないものとします。</li>
              <li>会員は、会員登録申請時その他当社からの依頼により申告する際、虚偽の申告をしないものとします。また、ＩＤやニックネーム等を会員が自身の選択により定めることができる場合、当該ＩＤやニックネーム等に第三者に不快感を与えるような文言や第三者のプライバシー権を侵害するような文言を利用しないものとします。</li>
              <li>会員は、当社から、登録事項の確認、証明のための資料の提出を求められた場合には当社が指定する期間内にこれに応じるものとします。</li>
              <li>会員は本サービスの会員資格およびＩＤを第三者に貸与、譲渡および質入等してはいけません。</li>
              <li>会員は、全ての会員登録事項が正確かつ最新のものであることを保証し、会員登録事項に変更が生じた場合は速やかに当社に届け出るものとします。</li>
              <li>会員が前項の届出を怠った場合は、当社の判断により、会員資格を停止または抹消する可能性がありますのでご注意ください。</li>
              <li>会員は、変更情報の届け出がなかった場合に生じるトラブルについて、当社を免責するものとします。</li>
              <li>本規約に違反した等の理由により、当社が不適切と判断した会員については、当社は会員の事前の承諾なしに、そのサービスの利用停止または会員資格の抹消を行うことができるものとします。また、会員登録後一定期間に一度も本サービスにログインをしなかった場合には、本サービスのデータメンテナンスの際に会員登録が抹消されることがあります。</li>
              <li>会員は、随時退会することができます。ただし、その場合は本サイト上で案内される退会手続きに従ってください。</li>
              <li>会員が複数のＩＤ・パスワードを保有しているおそれがあると当社が判断した場合、当社は当該会員に対して第１１条第１項で定める不許諾等を講じることができ、会員はこれに対して異議を申し立てないものとします。</li>
              <li>当社は、次に掲げる事由がある場合には、会員登録手続の完了を認めないことができるものとします。
                <ol class="list-style-inner">
                  <li>（１）本規約等の規定に反する場合</li>
                  <li>（２）過去に本サービスの利用資格を一時的に停止され、または抹消されたことがある場合</li>
                  <li>（３）既に登録されているＩＤやメールアドレスで新たに会員登録を申し込んだ場合</li>
                  <li>（４）当社が、本サービスを提供するシステムにかかる負担軽減のために、新規の会員登録を制限している場合</li>
                  <li>（５）会員希望者が反社会的勢力の構成員もしくはその関係者である場合</li>
                  <li>（６）その他当社が会員登録手続の完了を認めないことが適切と判断した場合</li>
                </ol>
              </li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第４条（本サービスの内容）</h3>
            <ol class="list-style-first">
              <li>実行者とサポーターの間でのリターンの授受の機会を提供する立場にすぎず、リターンの授受に関する法律関係はすべて実行者とサポーターの間で成立することとなります。実行者は本サイト上にプロジェクトを掲載することができ、サポーターは本サイト上に実行者が提示したプロジェクトに対して、プレセンターが提供するリターンを購入することを約束し、これに対する支払いを行うことにより、金銭的な支援を行うことができます。実行者はプロジェクトを支援したサポーターに対し、サポーターの支払った金銭の対価として有形もしくは無形のリターンを提供します。</li>
              <li>実行者は、あらかじめ定めた期間（以下「募集期間」といいます）、サポーターを募ることができます。</li>
              <li>実行者は、複数のプロジェクトの支援を募ることができるものとします。実行者は、サポーターを選別することができません。ただし、当社または第１７条に定める諮問委員が特定のサポーターの拒絶を合理的であると判断した場合および別途当社と合意した場合は、この限りではありません。</li>
              <li>本サービスを通じて本サイトに掲載されたプロジェクトは、原則として当社の提携先であるＭＧ社の運営するウェブサイトにも掲載されることになります。当該プロジェクトについて、ＭＧ社の運営するウェブサイトを通じてサポーターが行った支払い、その他の支援、および当該プロジェクトに関する実行者ならびにサポーターの活動は、本サービスと同期され、当社および実行者とサポーターとの間において、本サービスを通じて行ったものとみなされるものとします。</li>
              <li>当社の故意または重過失によらずにプロジェクトが開始されず、またはプロジェクトの進行が中断したことによって損害が発生したとしても、当社は、その損害の責任を負わないものとします。実行者の故意または重過失によって、プロジェクトが開始されず、またはプロジェクトの進行が中断した場合、これによって当社に生じた損害は、実行者がこれを補償するものとします。</li>
              <li>プロジェクトに関して、なんらかのトラブルが発生した場合、実行者は、自らの責任においてトラブルの解決にあたるものとします。この場合、当社は、当社の故意または重過失によりトラブルが生じた場合以外は、当該トラブルに関して責任を負いません。</li>
              <li>次に掲げる事項のいずれかが含まれているプロジェクトの登録は禁止するものとします。
                <ol class="list-style-inner">
                  <li>（１）実行者自身が関わっていないプロジェクト</li>
                  <li>（２）法令等に抵触する内容を含むプロジェクト</li>
                  <li>（３）犯罪に使用されるおそれがある商品またはサービスを取り扱うプロジェクト</li>
                  <li>（４）特定の政治団体を支援する可能性があるプロジェクト</li>
                  <li>（５）その他当社が不適切であると判断したプロジェクト</li>
                </ol>
              </li>
              <li>当社は実行者が提示・推進する各プロジェクトに対してなんら責任を負いません。各プロジェクトに関するトラブル、返金要求、返品要求、その他紛争について、サポーターは、実行者に対して申し立てるものとし、当社は関与しないものとします。</li>
              <li>実行者がプロジェクトを開始後、何かしらの理由でプロジェクトが進行不可能に陥るか中止とした場合、サポーターに支援金の返金を行う責務は実行者にあり、当社は、その責任を負いかねます。</li>
              <li>当社は、本サービスを日本国内法に基づいて提供いたします。海外居住者の利用に関しては、プロジェクトによって受け取ることができるリターンが限られる場合があるものとします。</li>
              <li>実行者がリターンを提供する目的で取得する住所情報等、ユーザーの個人情報について、実行者はその目的以外には利用することはできないものとします。</li>
              <li>プロジェクトを提示し、実行者が本サイトでサポーターから金銭的な支援を募る方法は、「達成時実行型（All or Nothing型）」、「実行確約型」の２種類があります。</li>
              <li>実行者が「達成時実行型（All or Nothing型）」を選択した場合、サポーターから集めた支援額が、募集期間内もしくは募集期間終了時において実行者が設定した目標金額に達した時点でプロジェクトは成立し、サポーターに対するリターンを引き渡す責務が発生します。「実行確約型」を選択した場合は、設定した目標金額にかかわらず募集期間開始時にプロジェクトは成立し、集まった支援額にかかわらずサポーターに対するリターンを引き渡す責務が生じます。募集期間は、「達成時実行型（All or Nothing型）」を選択の場合は６０日以内、「実行確約型」を選択の場合は１２０日以内で実行者が設定する期間とします。</li>
              <li>プロジェクト公表後の募集期間の変更の申入れは受け付けられません。
                <ol class="list-style-inner">
                  <li><h4 class="sub-ttl">【達成時実行型（All or Nothing型）】<br />All or nothing（オール・オア・ナッシング）型</h4></li>
                  <li>（１）あらかじめ定められた目標金額を達成した時点でプロジェクトは成立し、サポーターの支払決済が行われます。このため、募集期間内であっても、プロジェクトが成立する場合があります。プロジェクトの成立により、実行者はサポーターにリターンを引き渡す義務を負います。</li>
                  <li>（２）目標支援金総額の変更の申入れは原則として受け付けられません。ただし、プロジェクトの公表後、当社がこれを適切と認めた場合には、目標支援総額の変更を行うことができるものとし、この場合、修正後の金額が目標支援総額となるものとします。なお、目標支援総額は、その時点における支援約束総額を下回ることはできません。</li>
                  <li>（３）募集期間内に目標金額に達しない場合にはプロジェクトは成立せず、サポーターの支払いの決済は行われず、実行者はサポーターに対してリターンを引き渡す義務を負いません。</li>
                  <li>（４）実行者はプロジェクトを開始後、サポーターに対してプロジェクトの進捗を、本サイト内の更新機能などを通じて、適宜報告する努力義務を負います。</li>
                  <li>（５）実行者はプロジェクトの掲載に際して、プロジェクトの内容、条件、リターンを提示します。実行者の提示に対して、自らの意思で同意をした会員は、所定の支払手続を完了することにより、サポーターとなるものとします。実行者とサポーターの間のリターンの授受につき当社は責任は負わず、リターンの受け渡しなどに関して万が一トラブルが生じた際には、サポーターと実行者との間で解決するものとします。</li>
                  <li>（６）サポーターは当社が定める方法により支払手続を行うものとします。プロジェクト成立後のキャンセル、返金要求、その他支払いの撤回は一切受け付けることはできません。リターンの引き渡し時期に関しては、実行者が提示する条件によるものとします。</li>
                  <li>（７）プロジェクトが成立した場合、実行者は、リターンの引渡しに関するサポーターとの約束の解消を求めることはできないものとし、サポーターも実行者に対し返金を求めることはしないものとします。ただし、実行者がやむを得ない事情で解消を求める場合または当社がプロジェクトの中止を決定した場合は、サポーターに対して十分な事情説明を行い、実行者の責任により支援金の返金を行うことをさまたげるものではありません。その際、実行者は返金の際の手数料を実費負担するものとします。</li>
                  <li>（８）実行者は、プロジェクトが募集期間内に目標額に達成した場合は、当社所定の方法により、当社に対して手数料を支払うものとします。</li>
                  <li><h4 class="sub-ttl">【実行確約型】<br />実行確約型</h4></li>
                  <li>（９）「実行確約型」において、プロジェクト掲載した実行者は、目標金額の達成の如何によらず、掲載時からプロジェクトを開始するものとします。また、プロジェクトに対して支払手続を実施したサポーターは、支援総額が目標金額に到達するか否かを問わず、その決済が行われるとともに、実行者はサポーターに対してリターンを引き渡す義務を負います。</li>
                  <li>（10）「実行確約型」において、目標金額とは実行者が希望する支援総額を意味するものに過ぎず、目標金額の達成の如何を問わず、実行者には決済を完了したサポーターに対してリターンの引渡し義務が生じ、支払い手続を完了したサポーターは、返金およびリターンの受領を拒絶することができないものとします。同様に、募集期間は、実行者が任意に設定する本サイト上での支援を募る期間を意味するものに過ぎず、プロジェクトの実行や開始の有無および時期を画するものではありません。なお、目標金額の達成の如何は、本サービスの利用につき適用される手数料率に影響を及ぼします。</li>
                  <li>（11）サポーターは、支援するプロジェクトにつき支払手続を行うことにより、ＭＧ社を通じて支払いの決済手続が行われ、実行者は、支払い手続を行ったサポーターに対して、掲載したプロジェクトに定めるリターンの引渡しに関する約束に従い、リターンを引き渡す義務を負うものとします。</li>
                  <li>（12）実行者は、プロジェクトを開始後、サポーターに対してプロジェクトの進捗を本サイト内の更新機能などを通じて適宜報告する努力義務を負います。</li>
                  <li>（13）実行者はプロジェクトの掲載に際して、プロジェクトの内容、条件、リターンを提示します。実行者の提示に対して、自らの意思で同意をした会員は、所定の支払手続を完了することにより、サポーターとなるものとします。実行者とサポーターの間のリターンの授受につき当社は責任を負わず、リターンの受け渡しなどに関して万が一トラブルが生じた際には、サポーターと実行者との間で解決するものとします。</li>
                  <li>（14）実行者は、プロジェクトを掲載後、いかなる場合であってもリターンの引渡しに関するサポーターとの約束の解消を求めることはできないものとし、サポーターも実行者に対し返金を求めることはしないものとします。ただし、実行者がやむを得ない事情で解消を求める場合または当社がプロジェクトの中止を決定した場合は、サポーターに対して十分な事情説明を行い、実行者の責任により支援金の返金を行うことをさまたげるものではありません。その際、実行者は返金の際の手数料を実費負担するものとします。</li>
                  <li>（15）実行者は、当社所定の方法により、当社に対して手数料を支払うものとします。</li>
                </ol>
              </li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第５条（支援のキャンセルについて）</h3>
            <ol class="list-style-first">
              <li>サポーターがプロジェクトの趣旨に賛同し、「この内容で応援する」ボタンを押すことにより支払い手続を行った後のキャンセルについては、その翌日を起算日として７日以内に当社所定の手続に従って行わない限り、効力を生じないものとします。ただし、既にプロジェクトが成立し決済されている場合はキャンセルできません。</li>
              <li>前項の規定に合致した場合であってもプロジェクトの募集期間が残り８日未満であった場合のキャンセルはできないものとし、仮に手続が行われたとしても、キャンセルの効力は生じないものとします。また、「達成時実行型（All or Nothing型）」において、プロジェクトが募集期間中に目標金額に達した場合、それ以前に支払い手続がなされたものはキャンセルできません。</li>
              <li>クラウドファンディングの性質上、サポーターへのリターンは受注生産品となりますので、サポーターが行った支払い手続につき決済が完了した時点以降のキャンセル、リターンの返品または返金はできません。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第６条（税・手数料について）</h3>
            <ol class="list-style-first">
              <li>実行者が消費税および地方消費税の納税義務者である場合、実行者が提示するリターンの価額には消費税および地方消費税が含まれます。</li>
              <li>実行者は、当社に対する手数料の支払い義務を担保するため、サポーターが実行者に対して支払う支援金を、当社が実行者に代わって受領する権限を、当社に対し撤回不能な形で付与するものとします。</li>
              <li>当社は、前項に定める権限を第三者に再授権することができるものとします。</li>
              <li>当社は、前項の授権に基づき、クレジットカードの取扱いなど支払い手続および決済手続にかかわる全ての業務をＭＧ社に委託しております。なお、ＭＧ社は決済システムとして、ソフトバンク・ペイメント・サービス株式会社が提供するソフトバンク・ペイメント・サービス（以下「ＳＢＰＳ」といいます）を使用しております。当社は、ＭＧ社に対する委託業務につき、ＭＧ社がこれを適切に遂行すること（ＭＧ社によるＳＢＰＳの適切な業務遂行の確保のための施策を講じることを含みます。）を確保するよう努力するものとしますが、ＭＧ社の業務遂行につき会員に加えた損害の発生の防止に努めた場合には、その責任を負わないものとします。</li>
              <li>サポーターおよび実行者は本サービスの利用に際し課税されることがあります。課税の有無や課税額等については、自ら専門家におたずねいただくようお願いします。</li>
              <li>６．銀行振込については、第４条で定義する「実行確約型」及び、目標金額に到達した「達成時実行型（All or Nothing型）」でのみ取扱いできるものとします。</li>
              <li>サポーターが銀行口座にて振込を行う際の振込手数料については、実行者が別に提示する場合を除いて、サポーターがこれを負担するものとします。</li>
              <li>プロジェクトにおける調達金額の表示はサポーターの支援約束額の単純合計であり、その後行われる決済により最終金額は確定します。サポーターのクレジットカードの与信などの状況により決済が実施できないことがあり、この理由によりプロジェクトにおける調達金額の表示と、サポーターによる実際の支払い金額の総額(以下「最終的な調達金額」といいます)とが完全に一致しない可能性があります。実行者は最終的な調達金額を受け入れることとします。最終的な調達金額はサポーターの支援状況とあわせて、当社から実行者に連絡するものとします。</li>
              <li>本サービスの利用により、最終的な調達金額から差し引かれる手数料は合計で２０％ (ＳＢＰＳに支払う決済代行手数料含む)とします。ただし、「実行確約型」の場合、最終的な調達金額の合計が目標金額を下回る場合における手数料率は２５％(ＳＢＰＳに支払う決済代行手数料含む)とします。</li>
              <li>当社から実行者への入金の際の振込手数料は、当社が負担するものとします。</li>
              <li>当社から実行者への入金タイミングは、プロジェクト概要書の定めに従い取り扱われるものとします。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第７条（閲覧・利用環境・アクセス制限）</h3>
            <ol class="list-style-first">
              <li>本サイトは、コンテンツの表示制御にクッキーおよびJavaScriptを使用しております。ユーザーが設定を変更することにより、クッキーおよびJavaScriptの機能を停止することも可能ですが、その場合は、本サービスを最適な状態で受けることができなくなりますのでご了承ください。</li>
              <li>当社は、本サイトおよび本サービスへの利用が著しく集中し、システムに過度の負担がかかっていると判断した場合には、サービス品質を保つため、以下（１）または（２）のアクセス制限を行うことができるものとし、ユーザーはこれを了承するものとします。
                <ol class="list-style-inner">
                  <li>（１）ログイン制限<br />
                    当社が指定する一定の時間帯において、ログインできる人数を制限することをいいます。従って、ログイン制限を実施している時間帯においては、ログインできる場合と、全くログインできない場合があることをあらかじめご了承ください。</li>
                  <li>（２）アップロード制限<br />
                    一つの会員ＩＤにつき、アップロード可能なコンテンツの容量は１００ＭＢまでとします。かかる容量を超えるコンテンツのアップロードについては、アップロードを制限させていただく場合があることをあらかじめご了承ください。</li>
                </ol>
              </li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第８条（コメント投稿ルール）</h3>
            <ol class="list-style-first">
              <li>当社が、本サービス上にて、会員からのコメント、写真、情報等（以下総称して「コメント」といいます）の投稿を受け付ける場合、本条の規定が適用されるものとします。</li>
              <li>当社は、会員が投稿するコメントを、本サービスの円滑な提供、当社システムの構築、改良、メンテナンスに必要な範囲内で、使用および改変することができるものとします。</li>
              <li>当社は、会員から投稿されたコメントについて、会員の許諾なく、以下の処理を無償で行うことができるものとします。また、当社は会員に対し、投稿されたコメントに関して連絡を行うことがあります。
                <ol class="list-style-inner">
                  <li>（１）内容について審査すること。</li>
                  <li>（２）本サイト上に掲載したコメントを、掲載後に削除すること。</li>
                  <li>（３）本サイト以外のメディアに転載すること。</li>
                </ol>
              </li>
              <li>会員は、コメントの内容に責任を負い、以下に掲げる事項を含むコメントを投稿してはならないものとします。
                  <ol class="list-style-inner2">
                          <li>&#9312本サービスと関係のない内容を含むもの。</li>
                          <li>&#9313会員自身の体験に基づかない内容を含むもの。</li>
                          <li>&#9314プロジェクトと無関係の広告・宣伝、営業活動。</li>
                          <li>&#9315事実と反する内容・虚偽の内容を含むもの。</li>
                          <li>&#9316多数の同一内容のコメント。</li>
                          <li>&#9317本サービスのサービス・機能に関するお問い合せやクレームを含むもの。</li>
                          <li>&#9318著作権、商標権、プライバシー権、肖像権、名誉等、第三者の権利を侵害するまたはそのおそれのある内容を含むもの。</li>
                          <li>&#9319他人のプライバシーにかかわる事項を含むもの。</li>
                          <li>&#9320他人の名称・メールアドレス・住所・電話番号等個人を特定しうる情報を含むもの（投稿者名や投稿内容において使用される場合を含みますが、これらに限りません）。</li>
                          <li>&#9321公職選挙運動、特定の思想・宗教への勧誘、またはそれらに類する内容を含むもの。</li>
                          <li>&#9322ポルノ小説・写真、性的交渉の勧誘、その他猥褻な内容を含むもの。</li>
                          <li>&#9323児童や青少年に対し著しく粗暴性、残虐性または犯罪を誘発助長し、その健全な育成を阻害する内容を含むもの。</li>
                          <li>&#9324法令等、公序良俗に反するまたはそのおそれのある内容を含むもの。</li>
                          <li>&#9325差別的表現を含むもの。</li>
                          <li>&#9326本サービスにおけるテーマや目的に反するまたはそのおそれのある内容を含むもの。</li>
                          <li>&#9327ナンセンス、グロテスクな内容を含むもの。</li>
                          <li>&#9328当社または第三者を差別または誹謗中傷するような内容を含むもの。</li>
                          <li>&#9329その他、本サービスに不適切な内容、表現であると当社が判断したもの。</li>
                        </ol>
                 </li>
              
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第９条（基準時間）</h3>
            <ol class="list-style-first">
              <li>本サービスの提供にあたって基準となる時刻は、全て本サービスを処理するサーバ内で管理されている時刻によるものとし、本サービスにて表示される時間情報について、当社はその精緻さや有用性を保証しないものとします。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第10条　当社の免責</h3>
            <ol class="list-style-first">
              <li>当社は、コンテンツや、ユーザーが本サービスを利用する際に形成、開示、提供または送付する情報等を現状有姿で提供するものであり、当社は、かかる情報等を管理・監視する義務を負わないものとします。従って、本サービス上で提供されるコンテンツその他の情報の確実性、正確性、安全性、有用性、および特定目的への適合性のいずれについても保証するものではありません。</li>
              <li>当社は、ユーザーが使用する機器、設備またはソフトウェアが本サービスの利用に適さない場合であっても、サービスの変更、改変等を行う義務を負わないものとします。</li>
              <li>当社は、ユーザーが本サービスを利用する際に発生する通信費用や設備投資について、一切負担しないものとします。</li>
              <li>当社は、本サービスに関連して送信される電子メールおよびＷＥＢコンテンツに、コンピュータウィルス等の有害なものが含まれていないことを保証しないものとします。</li>
              <li>当社が相当の安全策を講じたにもかかわらず、以下の事由により損害が生じた場合、当社はいかなる責任も負わないものとします。
                <ol class="list-style-inner">
                  <li>（１）アクセス過多、その他予期せぬ要因に基づく本サービスの表示速度の低下や障害等によって発生した損害</li>
                  <li>（２）通信回線やコンピュータ等に障害が生じたことにより、本サービスのシステムの中断・遅滞・中止等によって発生した損害</li>
                  <li>（３）本サイトが改竄されたことにより生じた損害</li>
                  <li>（４）本サービスに関するデータへの不正アクセスにより生じた損害</li>
                </ol>
              </li>
              <li>当社は、ユーザーが本サービスを利用できなかったことにより発生した損害について責任を負わないものとします。</li>
              <li>当社は、登録メールアドレスまたはパスワードの不正使用等により会員に発生した損害について、責任を負いません。</li>
              <li>本サイトからリンクされている外部のサイトは、当社が管理するものではありません。従って、当社は、当社の管理外にあるリンク先の外部サイト上で利用が可能となっているコンテンツ、広告、商品、役務などの確実性、正確性、安全性、有用性および特定目的への適合性について、一切責任を負いません。また、当社は、ユーザーがリンク先の外部サイト上を利用したことにより、またはかかるサイト上で利用が可能になっているコンテンツ、広告、商品、役務などに起因または関連して、ユーザーに生じた損害（間接的、直接的を問いません。）についても、一切責任を負いません。</li>
              <li>当社は、プロジェクトが成立した後に実行者がプロジェクトの変更または中止した場合における責任を負わないものとします。</li>
              <li>本サービスを離れて、会員同士が集まるための会合の告知を行い、広く参加者を集めるなどした場合、このような行為や会合で生じた事項は、会員同士で解決するものとし、当社はその責任を負いません。</li>
              <li>上記各項記載事項のほか、本サービスのご利用にあたり会員に発生した損害については、当社に故意または重過失がある場合を除き、当社は責任を負いません。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１１条（本サービス利用の不許諾）</h3>
            <ol class="list-style-first">
              <li>当社は会員に以下各号の事由が認められると判断した場合、本サービスの利用を許諾せず、また会員の退会処置、本サービスの全部または一部の利用停止、その他当社が必要と判断する措置（以下「不許諾等」という）を講じることができるものとし、会員はこれに対して異議を申し立てないものとします。
                <ol class="list-style-inner">
                  <li>（１）過去を含め本規約等または法令等に違反したとき。</li>
                  <li>（２）ＩＤまたはパスワードおよび本サービスを不正に使用しまたは使用させた場合。</li>
                  <li>（３）会員登録事項に虚偽の内容または不足があったときまたはそのおそれがあるとき。</li>
                  <li>（４）指定アドレスに電子メールアドレスが不通のとき、または当社からの照会、資料提出等の要請に対して速やかに対処しないとき。</li>
                  <li>（５）クレジットカードの与信確認に問題が生じたとき。</li>
                  <li>（６）反社会的勢力もしくは反社会的活動を行う団体に所属し、またはこれらと密接な関係を有するとき。</li>
                  <li>（７）会員に対し、差押、仮差押、仮処分、強制執行、破産等の申し立てがなされた場合、または、会員が自ら破産、債務整理の申し立てをした場合。</li>
                  <li>（８）会員が一定期間の間に本サービスのログインを行わなかった場合。</li>
                  <li>（９）その他、当社が不許諾等を行うのが相当と判断した場合。</li>
                </ol>
              </li>
              <li>当社は、前項に基づきおこなった不許諾等の措置につき、その理由を開示することができませんので、あらかじめご了承ください。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１２条（本サービスの停止または中止）</h3>
            <ol class="list-style-first">
              <li>当社は、以下各号の事由に起因する場合、本サービスの全部または一部を停止することができ、停止に起因してユーザーまたは第三者に損害が発生した場合、当社は責任を負わないものとします。ただし、当社の故意または重過失に基づいて損害が発生した場合には、この限りではないものとします。
                <ol class="list-style-inner">
                  <li>（１）定期的または緊急に本サービス提供のためのシステムの保守または点検を行う場合。</li>
                  <li>（２）火災、停電、天災地変等の非常事態により本サービスの運営が不能となった場合。</li>
                  <li>（３）戦争、内乱、暴動、騒擾、労働争議等により、本サービスの運営が不能となった場合。</li>
                  <li>（４）本サービス提供のためのシステムの不良および第三者からの不正アクセス、コンピュータウィルスの感染等により本サービスを提供できない場合。</li>
                  <li>（５）法令等に基づく措置により本サービスが提供できない場合。</li>
                  <li>（６）その他当社が止むを得ないと判断した場合。</li>
                </ol>
              </li>
              <li>当社は、前項により本サービスの運用を停止する場合、事前に本サイト上でその旨を通知するものとします。ただし、緊急の場合はこの限りではありません。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１３条（本サービスの変更）</h3>
            <ol class="list-style-first">
              <li>当社は、いつでも本サービスの内容を変更することができるものとします。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１４条（本サービスの廃止）</h3>
            <ol class="list-style-first">
              <li>当社は、都合により本サービスを廃止することがあります。</li>
              <li>当社は、本サービスを廃止する場合には、ユーザーに対し、廃止する日の１か月前までにその旨を本サイト等にて告知するものとします。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１５条（個人情報の取り扱い）</h3>
            <ol class="list-style-first">
              <li>当社は、別途定めるプライバシーポリシーにしたがい、適正にユーザーの個人情報を取得します。なお、本サービスについての提携先であるＭＧ社は、プライバシーポリシーにもとづきユーザーの個人情報を管理します。また、当社は本サービスの運営についてＭＧ社以外の第三者に全部または一部を委託する場合がありますが、その場合もプライバシーポリシーにのっとりユーザーの個人情報を管理します。当社は、ユーザーから当社へいただいたご意見やお問い合せ内容をもとに、個人を特定できない形式による統計データを作成し、これらのデータを利用させていただくことがあります。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１６条（知的財産権）</h3>
            <ol class="list-style-first">
              <li>会員は、会員が著作権を保有している著作物または正当な権限を有する権利者から適法に利用許諾を得ている著作物に限り、当サイトに掲載することができるものとします。</li>
              <li>本サイトに掲載されているプロジェクトについて、ユーザーは次に掲げるものをインターネット上で転載できるものとします。ただし、実行者その他の者の権利または利益を侵害する場合は、この限りではないものとします。
                <ol class="list-style-inner">
                  <li>（１）プロジェクトのURL</li>
                  <li>（２）プロジェクトのタイトル</li>
                  <li>（３）プロジェクトの概要に関するテキストおよび画像</li>
                  <li>（４）実行者のプロフィール</li>
                  <li>（５）プロジェクトのブログパーツ・ウィジェット</li>
                </ol>
              </li>
              <li>本サービスで会員が掲載したコンテンツまたは送信、発信したコンテンツについては、特許権、実用新案権、育成者権、意匠権、著作権、商標権その他の知的財産に関して法令により定められた権利および法律上保護される利益に関する権利（以下「知的財産権」といいます）は、その会員に帰属します。</li>
              <li>前項のコンテンツは、会員により、当社に対し、非独占的に使用する（複製、公開、送信、頒布、譲渡、貸与、出版、翻訳、翻案を含みます）こと、および利用に当たり内容の真実性を損なわない範囲で当該コンテンツの編集・加工等（内容の同一性を損なわない範囲の改変を含みます）を行うこと、その際に氏名表示が省略される場合があることを許諾していただいたものとします。なお、利用についての対価は無償とさせていただきますのでご了承ください。</li>
              <li>会員が本サイトに掲載、送信、または、発信したコンテンツを除き、本サイトおよび本サービスにて提供される情報（映像、音声、文章、写真などを含みます）、ソフトウェア、商標、コーポレートマーク等に関する著作権・商標権その他の知的財産権（以下「当社知的財産権等」といいます）は、当社または当社にこれらの情報を提供している提携先に帰属します。 また、ユーザーは、当社知的財産権等の全部または一部を、当社または当社の提携先の事前の書面による承諾を得ずに利用しないものとします。なお、本サイトのレイアウト、デザインに関する権利は当社に帰属しています。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１７条 （諮問委員）</h3>
            <ol class="list-style-first">
              <li>当社は、本サービスを運営するにあたって、諮問委員を任命します。</li>
              <li>諮問委員は、２人以上６人以下とします。</li>
              <li>諮問委員の任期は、期間の定めのないものとします。</li>
              <li>諮問委員は、次に掲げる事項を行うことができるものとします。
                <ol class="list-style-inner">
                  <li>（１）プロジェクトの審査や本サービス運営に関する当社への助言。</li>
                  <li>（２）プロジェクトの内容が法令等や公序良俗に反すると考えられる場合のその旨の当社への指摘と助言。</li>
                  <li>（３）その他、会員から照会を受けた本サービス運営に関する事項についての当社への助言。</li>
                </ol>
              </li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１８条（禁止事項）</h3>
            <ol class="list-style-first">
              <li>ユーザーは、本サービスを利用するにあたり、以下の各行為をしないものとします。本サイトおよび本サービスを利用したユーザーの行為は、ユーザー自身が責任を負い、当社らもしくは他のユーザーまたはそれらの関係者（当社らの役職員、関連会社、本サイトおよび本サービス運営上の関係会社を含みます）に一切の損害が生じないように対処してください。
                <ol class="list-style-inner">
                  <li>（１）犯罪行為もしくは犯罪行為に結びつく行為またはそのおそれのある行為。</li>
                  <li>（２）当社または第三者の著作権、商標権等の知的財産権を侵害する行為またはそのおそれのある行為。</li>
                  <li>（３）当社または第三者の財産権、プライバシー権、肖像権その他の権利を侵害する行為またはそのおそれのある行為。</li>
                  <li>（４）当社または第三者を差別または誹謗中傷する行為。</li>
                  <li>（５）プロジェクトと無関係の広告・宣伝、営業行為。</li>
                  <li>（６）システムへの不正アクセス等本サービスの運営を妨げる行為。</li>
                  <li>（７）当社または第三者の信用を損なう行為。</li>
                  <li>（８）他人になりすまして情報等を送信する行為。</li>
                  <li>（９）法令、公序良俗もしくは本規約に違反する行為またはそのおそれのある行為。</li>
                  <li>（10）本サービスとは関係のない団体やサービス、活動に対しての勧誘行為。</li>
                  <li>（11）支援を行う際に本サイト上に掲示されるリターンの利用条件や注意事項等に反する行為、またはそのおそれのある行為。</li>
                  <li>（12）１ユーザーが複数の会員登録申請を行う行為、またはそのおそれがある行為。</li>
                  <li>（13）ＩＤまたはパスワードを譲渡または転売する行為。 </li>
                  <li>（14）会員以外の者にＩＤまたはパスワードを利用させる行為。</li>
                  <li>（15）無限連鎖講（ねずみ講）を開設し、またはこれを勧誘する行為。</li>
                  <li>（16）本サービスにより利用可能な情報を改ざんし、または消去する行為。</li>
                  <li>（17）有害なコンピュータプログラム等を送信し、または他人が受信可能な状態のまま放置する行為。 </li>
                  <li>（18）他人が嫌悪感を抱くまたはそのおそれのあるコメントやキーワードを付与、リンクを張る行為 。</li>
                  <li>（19）当社もしくは他人の電気通信設備の利用もしくは運営に支障を与える、または与えるおそれのある行為。</li>
                  <li>（20）ウェブサイトまたは電子メール等を利用する方法により、登録メールアドレス、パスワード、その他個人または法人に属する情報を、当該個人または法人の意図に反して取得する行為またはそのおそれのある行為 。</li>
                  <li>（21）サブリミナル効果を意図したコンテンツをアップロードする行為。</li>
                  <li>（22）その他当社が不適切と判断する行為。</li>
                </ol>
              </li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第１９条（本規約の有効性）</h3>
            <ol class="list-style-first">
              <li>本規約等に掲げる各条項の見出しや項目名は、参照の便宜を図るために付されているに過ぎず、本規約等の一部を構成するものではなく、また、本規約等の解釈のために利用され、または参照されるものではないものとします。</li>
            </ol>
          </section>
          <section class="clause">
            <h3 class="project-description-ttl pt30">第２０条（準拠法および管轄裁判所）</h3>
            <ol class="list-style-first">
              <li>本規約の準拠法は、日本法とします。</li>
              <li>ユーザーと当社の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
            </ol>
          </section>
          <section>
            <p class="end">以上<br />
              <span class="txt-caption">※本規約は2015年1月15日から全てのユーザーに適用されます。</span></p>
          </section>
        </div>
      </div>
      <!--/col-main-->

	{include file="{$lang}/other-sub.tpl"}
      <ol class="breadcrumb cf">
        <li><a href="/">サイトトップ</a></li>
        <li>利用規約</li>
      </ol>
    </div>
    <!--/container-->
  </div>
</div>
<!--/#wrapper-->

{include file="{$lang}/sf-footer.tpl"}
<script src="{$smarty.const.C_ASSETS}js/common.js"></script>
{literal}
<!--twitter-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{/literal}
</body>
</html>
