@charset "UTF-8";
/* Reset　and setup */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* *************************************
//
//   RESET
//
// *********************************** */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

article, aside, figcaption, figure, picture, source,
footer, header, nav, section, details, summary {
  display: block;
}

h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

pre {
  white-space: pre-wrap;
}

svg,
input,
select,
textarea,
label {
  vertical-align: middle;
}

*,
*:before,
*:after {
  word-break: break-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333333;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f5f5f5;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
}

@media all and (orientation: landscape) {
  body, html {
    width: 100%;
  }
}
a {
  color: #333;
}

a:hover,
input[type="submit"]:hover {
  opacity: 0.7;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.roboto-b {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/* *************************************
//
//   LAYOUT
//
// *********************************** */
.cf:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container,
.container-wide {
  width: 93.75%;
  margin: 0 auto;
  position: relative;
}

.col-sub {
  margin-top: 20px;
}

.col-inner {
  background: #fff;
  padding: 10px;
}

.container-single .col-inner{
  padding: 20px;
}

.col-sub .col-inner {
  padding: 20px;
}

.col-sub .col-inner + .col-inner {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .body {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container,
  .container-wide {
    width: 750px;
  }

  .header-container {
    width: 93.75%;
    margin: 0 auto;
    position: relative;
  }

  .container-offset {
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-inner {
    padding: 25px;
  }

  .container-single .col-inner{
    padding: 50px;
  }
}
@media screen and (min-width: 992px) {
  .container,
  .container-wide,
  .header-container {
    width: 980px;
  }

  .col-main {
    width: 635px;
    float: left;
  }

  .col-sub {
    width: 304px;
    float: right;
    margin-top: 0;
  }

  .container-column .col-main {
    width: 654px;
  }
}
@media screen and (min-width: 1281px) {
  .container-wide,
  .header-container {
    width: 1280px;
  }
}
/* *************************************
//
//   FORM
//
// *********************************** */
/* components */
/* *************************************
//
//   HEADER
//
// *********************************** */
.header {
  position: relative;
  z-index: 10000;
  border-bottom: solid 1px #eee;
  background: #fff;
}
@media screen and (min-width:992px) {
.header {
	  width: 100%;
	  //position: fixed;
}
}

.header-navbar {
  background: url(/ja/assets/images/common/bg-stripe.png) repeat;
  display: table;
  width: 100%;
}

.header-tag-line {
  padding-left: 37px;
}

.header-logo-a-port {
  position: absolute;
  top: 0;
  z-index: 1;
}

.header-logo-a-port a:hover {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .header-navbar {
    display: block;
    padding-top: 7px;
  }

  .header-logo-a-port {
    left: 15px;
  }

  .header-logo-a-port img {
    width: 68px;
  }

  .header-keywords,
  .header-mymenu-wrapper,
  .header-g-nav-wrapper,
  .header-g-nav-login {
    display: none;
  }

  .header-mymenu-wrapper,
  .header-g-nav-wrapper {
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    padding: 34px 0 23px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E672acd7,endColorstr=#E672acd7);
    background-color: rgba(114,172,215, 0.95);
  }

  .header-mymenu-wrapper:before,
  .header-g-nav-wrapper:before {
    content: "";
    display: block;
    width: 9.5px;
    height: 4.5px;
    position: absolute;
    top: -4.5px;
    right: 145px;
    background: url(/ja/assets/images/sp/bg-header-menu-arrow.png) no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
  }

  .header-g-nav-wrapper:before {
    right: 108px;
  }

  .header-mymenu,
  .header-g-nav-projects,
  .header-g-nav {
    width: 82.8% !important;
    margin: 0 auto;
    padding: 0 !important;
    display: block !important;
    float: none !important;
  }

  .header-mymenu > li,
  .header-g-nav-projects > li,
  .header-g-nav > li {
    margin-bottom: 15px;
    position: relative;
  }

  .header-mymenu > li a,
  .header-g-nav-projects > li a {
    display: block;
    background: #fff;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
  }

  .header-g-nav > li a {
    display: block;
    border: solid  2px #fff;
    color: #fff;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
  }

  .header-search-project img {
    width: auto;
    max-width: 200px;
    padding: 10px 0;
  }

  .header-start-project img {
    width: auto;
    max-width: 220px;
    padding: 10px 0;
  }

  .header-g-nav-about img {
    height: 100%;
    vertical-align: baseline;
  }

  .header-g-nav-crowd-funding img {
    height: 100%;
    vertical-align: baseline;
  }


  .header-g-nav-column img {
    height: 100%;
    vertical-align: baseline;
  }

/*  .header-search-project a {
    height: 47px;
  }*/

/*  .header-start-project a {
    height: 47px;
  }*/

  .header-g-nav-about a {
    background: #FFF;
    height: 35px;
  }

  .header-g-nav-crowd-funding a{
    background: #FFF;
    height: 35px;
  }

  .header-g-nav-column a{
    background: #FFF;
    height: 35px;
  }

  .header-g-nav-question,
  .header-g-nav-terms,
  .header-g-nav-privacy,
  .header-g-nav-tks {
    width: 47.1%;
    float: left;
  }

  .header-g-nav-question,
  .header-g-nav-privacy {
    margin-right: 5.66%;
  }

  .header-g-nav > li.header-g-nav-privacy a {
    font-size: 11px;
  }

  .header-g-nav-inquiry {
    clear: both;
  }

  .header-mymenu > li a:before,
  .header-g-nav-projects > li a:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 3px;
    left: -6px;
  }

  .header-mymenu-login a:before {
    width: 15px;
    height: 16.5px;
    background: url(/ja/assets/images/sp/ico-login.png) no-repeat;
    -webkit-background-size: 15px 15px;
            background-size: 15px;
  }

  .header-mymenu-mypage a:before {
    width: 16px;
    height: 16px;
    background: url(/ja/assets/images/sp/ico-mypage.png) no-repeat;
    -webkit-background-size: 16px 16px;
            background-size: 16px;
  }

  .header-mymenu-signup a:before {
    width: 15.5px;
    height: 16.5px;
    margin-top: -8.25px;
    background: url(/ja/assets/images/sp/ico-signup.png) no-repeat;
    -webkit-background-size: 15.5px 15.5px;
            background-size: 15.5px;
  }

  .header-search-project a:before {
    width: 15px;
    height: 15px;
  }

  .header-start-project a:before {
    width: 13.5px;
    height: 17.5px;
  }

  .header-mymenu-motion-gallery {
    width: 106.5px;
    margin: 0 auto;
    background: url(/ja/assets/images/sp/logo-motion-gallery.png) no-repeat;
    -webkit-background-size: 106.5px 106.5px;
            background-size: 106.5px;
    text-indent: -999px;
  }

  .header-g-nav-wrapper {
    display: none;
  }

  .header-g-nav-fbLike {
    display: none !important;
  }

  /*
  // toggle
  // ------------------------------- */
  .header-toggle-wrapper {
    background: #fff;
    padding: 5px 12px;
  }

  .header-toggle {
    float: right;
  }

  .header-toggle > li {
    float: left;
  }

  .header-mymenu-toggle {
    margin-right: 7px;
  }

  .header-mymenu-toggle img {
    width: 30px;
  }

  .header-g-nav-toggle img {
    width: 30px;
  }

  .header-g-nav-login {
    display: none;
  }

  .header-g-nav-login-sp {
    padding-bottom: 20px;
    text-align: center;
  }

  .header-g-nav-login-sp a {
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
  }

  .fbLike-sp{
    margin: 4px 3px 0 13px;
    overflow: hidden;
  }
}
@media screen and (min-width: 992px) {
  .header-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header-tag-line {
    margin-left: 37px;
    display: table-cell;
    vertical-align: middle;
  }

  .header-logo-a-port {
    left: 37px;
  }

  .header-logo-a-port img {
    width: 150px;
  }

  .header-keywords {
    display: inline-block;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    margin-left: 182px;
  }

  /*
  // mymenu
  // ------------------------------- */
  .header-mymenu-wrapper {
    width: 440px;
    display: table-cell;
    padding-right: 26px;
    vertical-align: middle;
  }

  .header-mymenu {
    float: right;
    display: inline-block;
  }

  .header-mymenu > li {
    float: left;
    font-size: 10px;
    font-weight: bold;
  }

  .header-mymenu > li a {
    color: #000;
  }

  .header-mymenu > li a:hover {
    color: #FFF;
  }

  .header-mymenu-motion-gallery {
    float: right;
    display: block;
    background: url(/ja/assets/images/pc/logo-motion-gallery.png) no-repeat;
    width: 118px;
    height: 19px;
    margin-right: 27px;
    text-indent: -9999px;
  }

  .header-mymenu-login {
    background: url(/ja/assets/images/pc/ico-login.png) no-repeat;
    margin-right: 20px;
    padding-left: 18px;
  }

  .header-mymenu-mypage {
    background: url(/ja/assets/images/pc/ico-user.png) no-repeat;
    margin-right: 20px;
    padding-left: 18px;
  }

  .header-mymenu-signup {
    background: url(/ja/assets/images/pc/ico-signup.png) no-repeat;
    padding-left: 18px;
  }

  .header-toggle-wrapper {
    display: none;
  }
.loggedIn {
	background: none;
}

  /*
  // g-nav
  // ------------------------------- */

  #jsi-header-g-nav img {
    width: 100%;
  }

  .header-g-nav-wrapper {
    display: table;
    padding: 12px 18px 12px 37px;
    width: 100%;
  }

  .header-g-nav-projects {
    width: 565px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 181px;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .header-g-nav-projects > li {
    float: left;
    font-size: 14px;
    font-weight: bold;
  }

  .header-g-nav-projects > li a {
    display: block;
  }

  .header-search-project {
    margin-right: 25px;
  }

  .header-search-project > a {
    background-size: cover;
    width: 156px;
    height: 24px;
  }

  .header-start-project > a {
    width: 175px;
    height: 24px;
  }

  .header-g-nav {
    display: table-cell;
    float: right;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 12px;
    width: 480px;
  }

  .header-g-nav-question,
  .header-g-nav-terms,
  .header-g-nav-privacy,
  .header-g-nav-tks,
  .header-g-nav-inquiry {
    display: none;
  }

  .header-g-nav > li {
    float: left;
    font-size: 12px;
  }

.header-g-nav-fbLike{
  margin: 0 0 0 18px;
  display: block;
  overflow: hidden;
  }

  .header-g-nav > li a {
    display: block;
  }

  .header-g-nav-about,
  .header-g-nav-crowd-funding {
    border-right: solid 1px #d2d2d2;
    padding-right: 14px;
    margin-right: 14px;
  }

  .header-g-nav-about > a {
    width: 99px;
    height: 24px;
  }

  .header-g-nav-crowd-funding > a {
    width: 161px;
    height: 24px;
  }

  .header-g-nav-column > a {
    width: 38px;
    height: 23px;
  }
}

@media screen and (max-width: 1090px) {

  .header-g-nav {
    display: table-cell;
    float: right;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 360px;
  }

  .header-g-nav-fbLike{
    margin: 5px 0 0 0;
    display: block;
    float: right !important;
  }

}
/* *************************************
//
//   FOOTER
//
// *********************************** */
/*
// prj-sub-nav
// ------------------------------- */
.prj-sub-nav-wrapper {
  border-top: solid 1px #e5e5e5;
  background: #fff;
}

.prj-sub-nav-wrapper-ttl {
  margin: 0 auto;
}

.prj-sub-nav-wrapper-ttl img {
  width: 100%;
}

.prj-sub-nav > li a {
  color: #333;
}

@media screen and (max-width: 767px) {
  .prj-sub-nav-wrapper .container {
    width: 100%;
  }

  .prj-sub-nav-wrapper-ttl {
    width: 195px;
    padding: 24px 0 20px;
  }

  .prj-sub-nav-inner {
    border-top: solid 1px #e5e5e5;
    overflow: hidden;
  }

  .prj-sub-nav {
    margin-top: -1px;
    margin-right: -2px;
    margin-bottom: -1px;
  }

  .prj-sub-nav > li {
    float: left;
    width: 50%;
    margin-top: -1px;
    margin-left: -1px;
    border: solid 1px #e5e5e5;
    text-align: center;
  }

  .prj-sub-nav > li a {
    display: block;
    padding: 10px 0;
  }
}
@media screen and (min-width: 768px) {
  .prj-sub-nav-wrapper {
    padding: 35px 0 50px;
    border-top: dotted 1px #c3c3c3;
  }

  .prj-sub-nav-wrapper-ttl {
    width: 237px;
  }

  .prj-sub-nav-inner {
    margin-top: 32px;
  }

  .prj-sub-nav {
    font-size: 0;
    text-align: center;
    margin-top: -20px;
    padding-left: 35px;
  }

  .prj-sub-nav > li {
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    margin-top: 20px;
    margin-right: 25px;
    padding-right: 25px;
    border-right: solid 1px #dbdbdb;
  }

@media screen and (max-width: 1023px) {
    .prj-sub-nav > li {
      border-right: none;
    }
}


  .prj-sub-nav > li a:hover { color: #2FA2CB; }
  .prj-sub-nav > li a:active { color: #2FA2CB; }

}
@media screen and (min-width: 992px) {
  .prj-sub-nav-inner {
    margin-right: auto;
    margin-left: auto;
  }
  .prj-sub-nav > li.no-border{
    border: none;
  }
}
/*
// social-bottom
// ------------------------------- */
.social-bottom-wrapper {
  background-color: #317ab7;
}

.social-bottom {
  width: 112px;
  margin: 0 auto;
}

.social-bottom-inner {
  padding: 24px 0 20px;
}

.social-bottom-ttl img {
  width: 100%;
}

.social-bottom > li {
  width: 43px;
}

.social-bottom > li img {
  width: 100%;
}

.social-bottom > .fb {
  float: left;
}

.social-bottom > .tw {
  float: right;
}


@media screen and (max-width: 767px) {
  .social-bottom-ttl {
    background: url(/ja/assets/images/sp/ttl-social-bottom.png) no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    width: 278px;
    height: 29px;
    margin: 0 auto 10px;
  }

  .social-bottom-ttl img {
    /*display: none;*/
  }
}
@media screen and (min-width: 768px) {
  .social-bottom-inner {
    padding: 13px 0;
  }

  .social-bottom-ttl {
    margin-top: 11px;
    width: 665px;
    margin-right: auto;
    margin-left: auto;
  }

  .social-bottom {
    width: 100px;
    margin: 20px auto;
  }

  .social-bottom > li img {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .social-bottom-ttl {
    float: left;
    margin-right: 25px;
    margin-left: 95px;
  }

  .social-bottom {
    float: left;
    margin: 0;
  }
}
/*
// footer
// ------------------------------- */
@media screen and (max-width: 991px) {
  .scroll-top {
    background: #def0f7;
  }

  .scroll-top-arrow {
    display: block;
    height: 50px;
    text-indent: -9999px;
    background: url(/ja/assets/images/sp/arrow-page-top.png) no-repeat 50%;
    -webkit-background-size: 116px 116px;
            background-size: 116px;
  }
}
@media screen and (min-width: 992px) {
  .scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 1;
  }

  .scroll-top-arrow {
    display: block;
    background: url(/ja/assets/images/pc/arrow-page-top.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 82px;
    height: 82px;
  }

  .scroll-top-arrow:hover {
    opacity: 0.6;
  }
}
/*
// footer
// ------------------------------- */
.footer {
  background-color: #3b3b3b;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer-logo-inner {
  font-size: 10px;
}

.footer-logo img {
  width: 100%;
}

.copyright {
  font-size: 10px;
}
.footer-social .fb img {
  width: 69px;
  display: block;
}
.footer-social .fb:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .footer-g-nav-wrapper .container {
    width: 100%;
  }

  .footer-g-nav-wrapper {
    border-bottom: solid 1px #e5e5e5;
  }

  .footer-g-nav-list > li {
    border-bottom: solid 1px #616161;
    position: relative;
  }

  .footer-g-nav-list > li:last-child {
    border-bottom: none;
  }

  .footer-g-nav-list > li a {
    display: block;
    padding: 14px 44px 14px 18px;
  }

  .footer-g-nav-list > li a:after {
    content: "";
    display: block;
    width: 8px;
    height: 15px;
    background: url(/ja/assets/images/sp/arrow-link.png) no-repeat;
    -webkit-background-size: 8px 8px;
            background-size: 8px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 18px;
  }

  .footer-inner {
    padding-top: 28px;
    padding-bottom: 28px;
    width: 90%;
    margin: 0 auto;
  }

  .footer-social {
    text-align: center;
  }

  .footer-social > li {
    display: inline-block;
    height: 21px;
    margin: 0 5px 10px;
    vertical-align: top;
    font-size: 0;
  }

  .footer-logo {
    margin: 23px auto 10px;
  }

  .footer-logo-asahi-shinbun {
    width: 143px;
  }

  .footer-logo-motion-gallery {
    width: 133.5px;
  }

  .footer-logo-txt {
    text-align: center;
  }

  .copyright {
    text-align: center;
    margin-top: 14px;
  }
}
@media screen and (min-width: 768px) {
  .footer-g-nav-wrapper {
    border-bottom: solid 1px #484848;
  }

  .footer-g-nav {
    padding: 40px 0 30px;
  }

  .footer-g-nav-list {
    font-size: 0;
    text-align: center;
    margin-top: -23px;
    margin-left: -40px;
  }

  .footer-g-nav-list > li {
    font-size: 12px;
    display: inline-block;
    margin-top: 23px;
    margin-left: 40px;
  }

  .footer-g-nav-list > li a:hover {
    color: #317ab7;
  }

  .footer-inner {
    padding: 30px 37px 35px;
  }

  .footer-social {
    float: right;
  }

  .footer-social > li {
    float: left;
    height: 21px;
    margin-left: 10px;
  }

  .footer-logo-wrapper {
    float: left;
  }

  .footer-social-wrapper + .footer-logo-wrapper {
    margin-top: -20px;
  }

  .footer-logo-inner + .footer-logo-inner {
    margin-top: 15px;
  }

  .footer-logo-asahi-shinbun {
    width: 127px;
  }

  .footer-logo-motion-gallery {
    width: 113px;
  }

  .footer-logo-txt {
    margin-top: 5px;
  }

  .copyright {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  .footer-g-nav {
    padding-right: 70px;
    padding-left: 70px;
  }

  .footer-logo-inner {
    margin-top: 0;
  }

  .footer-logo {
    float: left;
    margin-top: 3px;
  }

  .footer-logo-txt {
    float: left;
    margin-top: 7px;
    margin-left: 20px;
  }
}
/* *************************************
//
//  BREADCRUMB
//
// *********************************** */
.breadcrumb {
  clear: both;
  font-size: 12px;
  padding-top: 35px;
}

.breadcrumb > li {
  float: left;
}

.breadcrumb > li + li:before {
  content: ">";
  margin-left: 13px;
  margin-right: 13px;
}

.breadcrumb > li > a {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .breadcrumb {
    display: none;
  }
}

/* *************************************
//
//  SNS btn style
//
// *********************************** */

.sns-btn-set {
  display: block;
}

.sns-btn-set ul {
  margin: 30px 0 0;
}

.sns-btn-set ul li {
  display: block;
  height: 20px;
  margin: 0 15px 15px 0;
  float: left;
  line-height: 1;
}

.sns-btn-set .blog a {
    display: block;
    text-indent: -9999px;
    background: url(/ja/assets/images/pc/blog-embed.png) no-repeat;
    width: 113px;
    height: 20px;
  }

.clearfix:after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}

@media screen and (max-width: 767px) {
  .sns-btn-set {
    display: none;
  }
}



/* *************************************
//
//   FORM
//
// *********************************** */
/*
// form-submit
// ------------------------------- */
.form-submit-wraper {
  background: url(/ja/assets/images/common/bg-slant.png) center center;
  padding-top: 43.5px;
  padding-bottom: 41px;
  margin: 20px -20px;
}

.input-form + .form-submit-wraper {
  margin-top: 20px;
}

.form-submit-btn {
  width: 78.79%;
  margin: 0 auto;
  position: relative;
}

.form-submit-btn input[type="submit"],
.form-submit-btn a {
  font-size: 13px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(/ja/assets/images/common/arrow-btn.png) no-repeat 93% 50%  #317ab7;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.form-submit-btn a {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .form-submit-wraper {
    padding-top: 35px;
    padding-bottom: 30px;
    margin: 20px -50px;
  }

  .input-form + .form-submit-wraper {
    margin-top: 60px;
  }

  .form-submit-btn {
    width: 266px;
  }

  .form-submit-btn input[type="submit"],
  .form-submit-btn a {
    font-size: 18px;
  }
}


/*
// form-control
// ------------------------------- */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 11px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #afcad4;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.checkbox {
  position: relative;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaa;
}

textarea.form-control {
  height: auto;
}

@media screen and (min-width: 768px) {
  .form-control {
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
  }
}

/* *************************************
//
//   PAGE-TITLE
//
// *********************************** */
/*
// main-ttl
// ------------------------------- */
.main-wrapper {
  padding-bottom: 9px;
  background: url(/ja/assets/images/common/wave-line.png) repeat-x bottom center;
  background-color: #317ab7;
}
/*@media screen and (min-width: 992px) {
	.main-wrapper {
  padding-top: 109px;
}
}*/
.main-inner {
  background: #317ab7;
  text-align:center;
}

.main-wrapper .pc {
  display: none;
}

.main-wrapper .sp {
  display: block;
}

@media screen and (min-width: 768px) {
  .main-inner {
    min-height: 176px;
  }
  .main-wrapper .pc {
    display: block;
  }

  .main-wrapper .sp {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .main-inner {
    min-height: 230px;
  }
}
@media screen and (min-width: 1281px) {
  .main-inner {
    min-height: 300px;
  }
}
/*
// page-ttl
// ------------------------------- */
.page-ttl-wrapper {
  background: #fff;
}
@media screen and (min-width: 992px) {
.page-ttl-wrapper {
  padding-top: 109px;
}
}
.page-ttl-inner {
  padding: 30px 0;
}

.page-ttl {
  text-align: center;
  font-size: 20px;
}

.page-ttl-inner .sub-text{
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .page-ttl-inner {
    padding:50px 10px;
  }

  .page-ttl {
    font-size: 24px;
  }

  .page-ttl-inner .sub-text{
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.7;
  }
}
/* *************************************
//
//   PROJECT-project-list
//
// *********************************** */
.project-list-index-wrapper {
  padding-bottom: 27px;
}

.project-list-wrapper {
  margin-top: 20px;
}

.project-list,
.project-list-index {
  font-size: 0;
}

.project-list-index {
  margin-right: -1%;
  margin-left: -1%;
}

.project-list > li,
.project-list-index > li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  border: solid 10px #e5e5e4;
  padding: 10px;
}

.project-list-index > .pickup1,
.project-list-index > .pickup2 {
  border-color: #317ab7;
}

.btn-project-more {
  width: 170px;
  margin: 13px auto 0;
}

.btn-project-more img {
  width: 100%;
}

/*
// project-block-style
// ------------------------------- */
.project-img img {
  width: 100%;
  height: auto;
}

.project-img img:hover {
  opacity: 0.8;
}

.project-box {
  padding: 10px 0;
}

.project-title {
  font-size: 12px;
  font-weight: bold;
  height: 36px;
}

.project-title a {
  color: #333;
}

.project-title a:hover {
  color: #317ab7;
  text-decoration: underline;
}

.project-tip {
  margin-top: 10px;
  font-size: 10px;
}

.project-tip > li {
  float: left;
  margin-right: 20px;
  padding-left: 15px;
}

.project-tip > li a {
  color: #333;
}

.project-tip > li a:hover {
  text-decoration: underline;
}

.project-tip-presenter {
  background: url(/ja/assets/images/pc/ico-user.png) no-repeat 0 0;
}

.project-tip-category {
  background: url(/ja/assets/images/pc/ico-tag.png) no-repeat 0 0;
}

.project-start {
  margin-top: 5px;
  font-size: 10px;
  font-weight: bold;
}

.project-start-date {
  font-weight: normal;
  color: #333;
}

.progress {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #f3f3f3;
  height: 6px;
}

.project-list-index .progress {
  margin-top: 18px;
  margin-bottom: 19px;
}

.gauge {
  background-color: #f3f3f3;
  height: 6px;
}

.gauge2 {
  background-color: #5493c9;
  height: 6px;
}

.gauge3 {
  background-color: #35579c;
  height: 6px;
}

.project-status {
  display: table;
  width: 100%;
  font-weight: bold;
}

.project-status > li {
  display: table-cell;
  font-size: 10px;
}

.project-status-var > span {
  font-size: 16px;
}

.project-status-fund {
  width: 64%;
  padding-right: 10px;
}

.project-status-per {
  padding-right: 10px;
}

.funded .progress {
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #317ab7;
  text-align: center;
  line-height: 1;
  color: #fff;
}

.project-list-index .funded .progress{
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-list-index .funded .project-status-fund,
.project-list .funded .project-status-fund {
  width: 47%;
  padding-right: 0;
}

.project-list-index .funded {
  margin: 0;
}

.not_funded .progress {
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #959595;
  text-align: center;
  line-height: 1;
  color: #fff;
}

.project-list-index .not_funded .progress{
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-list-index .not_funded .project-status-fund,
.project-list .not_funded .project-status-fund {
  width: 47%;
  padding-right: 0;
}

.project-list-index .not_funded {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .project-tip {
    display: none;
  }

  .project-title {
    height: 54px;
  }

  .project-list-index .funded .project-status-var > span,
  .project-list .funded .project-status-var > span {
    font-size: 13px;
  }

  .project-list-index .not_funded .project-status-var > span,
  .project-list .not_funded .project-status-var > span {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .project-list {
    margin-right: -1%;
    margin-left: -1%;
  }

  .project-list > li {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .project-list-index > li {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .btn-project-more {
    width: 226px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .project-list-wrapper {
    margin-top: 40px;
  }

  .project-list-index-wrapper {
    padding-bottom: 50px;
  }

  .project-list {
    margin-right: -1%;
    margin-left: -1%;
  }

  .project-list > li {
    width: 31.333%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
  }

  .project-list-index > li {
    width: 23%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
  }

  .project-list-index > .pickup1,
  .project-list-index > .pickup2 {
    width: 48%;
  }

  .project-list-index > .pickup2 {
    float: right;
    margin-top: -169px;
  }

  .project-title,
  .project-list-index .project-title {
    height: 44px;
  }

  .project-list-index > .pickup1 .project-title,
  .project-list-index > .pickup2 .project-title {
    font-size: 16px;
    height: 48px;
  }

  .project-list-index .project-status {
    display: block;
    width: 100%;
    font-weight: bold;
  }

  .project-list-index .project-status > li {
    display: block;
    font-size: 10px;
  }

  .project-list-index .project-status > li > span {
    font-size: 16px;
  }

  .project-list-index .project-status-fund {
    width: 100%;
    padding-right: 0;
  }

  .project-list-index .project-status-per {
    padding-right: 0;
    float: left;
  }

  .project-list-index .project-status-last {
    float: right;
  }

  .project-list-index .project-status-per > p,
  .project-list-index .project-status-last > p {
    display: inline;
  }

  .project-list-index .pickup1 .project-status-per,
  .project-list-index .pickup1 .project-status-last,
  .project-list-index .pickup2 .project-status-per,
  .project-list-index .pickup2 .project-status-last {
    float: none;
  }

  .project-list-index .pickup1 .project-status-per > p,
  .project-list-index .pickup1 .project-status-last > p,
  .project-list-index .pickup2 .project-status-per > p,
  .project-list-index .pickup2 .project-status-last > p {
    display: block;
  }

  .project-list-index > .pickup1 .project-status,
  .project-list-index > .pickup2 .project-status {
    display: table;
    width: 100%;
    font-weight: bold;
  }

  .project-list-index > .pickup1 .project-status > li,
  .project-list-index > .pickup2 .project-status > li {
    display: table-cell;
    font-size: 10px;
  }

  .project-list-index > .pickup1 .project-status > li > span,
  .project-list-index > .pickup2 .project-status > li > span {
    font-size: 16px;
  }

  .project-list-index > .pickup1 .project-status-fund,
  .project-list-index > .pickup2 .project-status-fund {
    width: 64%;
    padding-right: 10px;
  }

  .project-list-index > .pickup1 .project-status-per,
  .project-list-index > .pickup2 .project-status-per {
    padding-right: 10px;
  }

  .funded .project-status-var {
    margin: 0 0 5px;
  }

  .project-list-index .funded .project-status-var > span,
  .project-list .funded .project-status-var > span {
    font-size: 13px;
  }

  .not_funded .project-status-var {
    margin: 0 0 5px;
  }

  .project-list-index .not_funded .project-status-var > span,
  .project-list .not_funded .project-status-var > span {
    font-size: 13px;
  }

  .pickup1 .project-summary.funded .progress,
  .pickup2 .project-summary.funded .progress {
    margin: 12px 0;
  }


}
@media screen and (min-width: 1281px) {
  .project-list-index > li {
    height: auto;
  }

  .project-list-index > .pickup1 .project-title,
  .project-list-index > .pickup2 .project-title {
    font-size: 17px;
    height: 50px;
  }

  .project-list-index > .pickup2 {
    float: right;
    margin-top: -240px;
  }

  .project-list-index .project-status,
  .project-list-index .project-status {
    display: table;
    width: 100%;
    font-weight: bold;
  }

  .project-list-index .project-status > li,
  .project-list-index .project-status > li {
    display: table-cell;
    font-size: 10px;
  }

  .project-list .project-status-fund,
  .project-list-index .project-status-fund {
    width: 60%;
    padding-right: 10px;
  }

  .project-list .project-status-per,
  .project-list-index .project-status-per {
    padding-right: 10px;
  }

  .project-list-index .project-status-per,
  .project-list-index .project-status-last {
    float: none;
  }

  .project-list-index .project-status-per > p,
  .project-list-index .project-status-last > p {
    display: block;
  }

  .project-list-index .funded .progress{
    margin-top: 12px;
    margin-bottom: 13px;
  }

  .funded .project-status-var {
    margin: 5px 0 0;
  }

  .project-list-index .not_funded .progress{
    margin-top: 12px;
    margin-bottom: 13px;
  }

  .not_funded .project-status-var {
    margin: 5px 0 0;
  }

}
/* *************************************
//
//   PAGINATION
//
// *********************************** */
.pagination-wrapper {
  padding: 40px 0;
  background: #fff;
}

.pagination {
  font-size: 0;
  text-align: center;
}

.pagination > li {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

.pagination > .page > a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  background: #eee;
}

.pagination > .first > a,
.pagination > .last > a {
  display: block;
  padding-right: 8px;
  padding-left: 8px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  background: #eee;
}

.pagination .active > a {
  color: #fff;
  background: #317ab7;
}
.pagination .column{
    margin-right: 25px;
    margin-left: 25px;
}
.pagination .column > a {
  padding-right: 8px;
  padding-left: 8px;
  width: auto;
}

.prev:before {
  content: "<";
  margin-right: 5px;
}

.next:after {
  content: ">";
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .pagination > li.page,
  .pagination > li.first,
  .pagination > li.last {
    display: none;
  }

  .pagination > li.active {
    display: inline-block;
  }
}

@media screen and (max-width: 991px) {
  .pagination-sp-hide {
    display: none;
  }

  .pagination-sp-screen {
    display: block;
    margin-top: 20px;;
  }

  .project-list-index .funded .progress{
    margin-top: 12px;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 992px) {
  .pagination-sp-screen {
    display: none;
  }

  .pagination .column {
    margin-right: 50px;
    margin-left: 50px;
  }

}

/* *************************************
//
//   LIST　STYLE
//
// *********************************** */

.project-description-ttl {
  font-size: 16px;
  font-weight: bold;
  color: #317ab7;
  padding-bottom: 7px;
  border-bottom: dotted 1px #317ab7;
}

.list-style-first {
  list-style-type: decimal;
  margin-left: 20px;
  font-size: 12px;
}

.list-style-first li {
  margin: 12px 0;
}

.list-style-inner {
  padding-left: 3em;
  text-indent: -3em;
  font-size: 12px;
}

.list-style-inner li {
  margin: 10px 0;
}

.list-style-inner2 {
  padding-left: 1em;
  text-indent: -1em;
  font-size: 12px;
}

.sub-ttl {
  padding-top: 15px;
  font-weight: bold;
  color: #317ab7;
  text-indent: 0;
  margin-left: -3em;
}

.end{
  text-align: right;
  padding: 30px 0;
}

.txt-caption{
  font-size: 10px;
}

.list-line {
  margin: 10px 0 30px;
}

.ttl-blue {
  background-color: #E4F0F9;
  padding: 4px 0 4px 16px;
  font-weight: bold;
}

.list-line dd {
  margin: 15px 5px 0 16px;
  font-size: 13px;
}

.dt-inner {
  font-weight: bold;
}

.dd-inner {
  margin: 5px 5px 15px 0 !important;
}

.list-line .numbers{
  padding-left: 3em;
  text-indent: -3em;
}

.list-line a {
  text-decoration: none;
}

.list-line a:hover {
  color: #317ab7;
  text-decoration: underline;
}

.clause a{
  color: #317ab7;
  text-decoration: none;
}

.clause a:hover{
  color: #317ab7;
  text-decoration: underline;
}


/* *************************************
//
//   OHTER PAGES SUB MENU
//
// *********************************** */

.other-menu .col-inner {
  padding: 5px 20px;
}

ul.other-menu li{
  padding: 15px 0;
}

span.txt {
margin-left: 1em;
}

ul.other-menu li a{
  background: url(/ja/assets/images/common/arrow_list_off.gif) center left no-repeat;
}

.border-btm{
  border-bottom: 1px dotted #CDCDCD;
}

ul.other-menu li a:hover {
  color: #317ab7;
  background: url(/ja/assets/images/common/arrow_list_on.gif) center left no-repeat;
}

@media screen and (max-width: 768px){
  .other-menu {
    display: none;
  }
}


/* utility & js control class */
/* *************************************
//
//   UTILITIES
//
// *********************************** */
.tal{
  text-align: left;
}
.tar{
  text-align: right;
}
.tac {
  text-align: center;
}
.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
/* *************************************
//
//   JS CONTROL
//
// *********************************** */
.jsc-dn {
  display: none !important;
}

.jsc-op {
  display: block !important;
}



/*#u_0_6 {
  display: none !important;
}*/