/* *************************************
//
//   faq.html
//
// *********************************** */

/* anchor link
// ------------------------------- */

#faq .col-inner #navi {
	margin: 15px 0 15px 0;
	padding: 10px 0 0 0;
	border-top: 4px solid #e5e5e5;
	border-bottom: 4px solid #e5e5e5;
}
#faq .col-inner h3 {
	font-size: 20px;
	margin: 0px 0 7px;
	padding-left: 10px;
}
#faq .col-inner #navi ul {
	padding: 12px 25px 12px 25px;
	border-top: 1px dotted #a8a8a8;
}
#faq .col-inner #navi ul li{
	margin: 10px 0;
	padding: 0 0px 0 0px;
	font-weight: bold;
}
#faq .col-inner #navi ul li a{
	background: url(/ja/assets/images/list_mark.gif) no-repeat 0px 3px;
}
#faq .col-inner #navi ul li a:hover {
	background: url(/ja/assets/images/list_mark_on.gif) no-repeat 0px 3px;
	color: #317ab7;
}
#faq .col-inner #navi ul li span{
	margin-left:25px;
}

/* accordion
// ------------------------------- */

#faq .col-inner .ac-wrap {
	padding-top: 10px;
	margin-bottom: 35px;
}
#faq .col-inner h4 {
	margin-top: 10px;
	padding: 8px 10px 5px;
	color: #317ab7;
}
#faq .col-inner dl {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #909090;
}
#faq .col-inner dl dt {
	display: block;
	cursor: pointer;
	padding: 25px 70px 25px 58px;
	background: url(/ja/assets/images/open.gif) no-repeat 96% center;
	text-indent: -2em;
	font-weight: bold;
}
#faq .col-inner dl dt.active {
	background: url(/ja/assets/images/close.gif) no-repeat 96% center;
}
#faq .col-inner dl dd {
	margin: 0 auto 2px;
	padding: 25px 30px;
	background: #f5f5f5;
	font-size: 14px;
	display: none;
}
#faq .col-inner dl dd a {
	color: #317ab7;
}
#faq .col-inner dl dd table th {
	width: 30px;
	padding: 0;
	vertical-align: text-top;
	text-align: left;
	color: #e60056;
	font-weight: bold;
}
#faq .col-inner .indent {
	text-indent: -1em;
	padding-left: 1em;
}
#faq .col-inner .tel-link {
	color: #333;
}

#faq .nomal{
	font-weight: normal;
	font-size: 13px;
	display: block;
	padding: 15px 0 0 1em;
}

#faq .nomal a {
	color: #317ab7;
}

#faq .nomal a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 767px) {
#faq .col-inner #navi ul {
	padding: 12px 20px 12px 20px;
}
#faq .col-inner #navi ul li{
	margin: 15px 0px;
	padding: 0 0px 0 20px;
	font-weight: bold;
	text-indent:-20px;
	line-height:1.4;
}
#faq .col-inner #navi ul li a{
	background: url(/ja/assets/images/sp_list_mark.gif) no-repeat 0px 1px;
	background-size:12px 13px;
}
#faq .col-inner #navi ul li a:hover {
	background: url(/ja/assets/images/sp_list_mark_on.gif) no-repeat 0px 1px;
	background-size:12px 13px;
}
#faq .col-inner #navi ul li span{
	margin-left:20px;
}
#faq .col-inner dl dt {
	padding: 5% 38px 5% 38px;
	background: url(/ja/assets/images/open.gif) no-repeat 98% center;
}
#faq .col-inner dl dt.active {
	background: url(/ja/assets/images/close.gif) no-repeat 98% center;
}
#faq .col-inner dl dd {
	padding: 3%;
}
}

