/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* FlexSlider Necessary Styles
*********************************/
#mainSliderPc {
	width: 100%;
	min-width: 320px;
	 overflow: hidden;
	 position: relative;
	 min-height: 300px;
}
#mainSliderSp {
	display: none;
}
@media screen and (max-width: 768px){
#mainSliderPc {
	display: none;
}
#mainSliderSp {
	display: block;
	width: 100%;
	min-width: 320px;
	 overflow: hidden;
	 position: relative;
}
}
.wave {
	background: url(/ja/assets/images/common/wave-line.png) repeat-x bottom center;
	width: 100%;
	min-width: 320px;
	z-index: 999;
	position: absolute;
	bottom: 0;
	display: block;
	height: 9px;
}
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	background: #fff;
	position: relative;
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 320px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 0;
}
/* Direction Nav */
.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
	display: block;
	width: 40px;
	height: 40px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.flex-direction-nav .flex-prev {
	left: -50px;
	background: url(/ja/assets/images/btn_prev.png) no-repeat left top;
	height: 40px;
	width: 17px;
	text-indent:-9999px;
	font-size: 0px;
}
.flex-direction-nav .flex-next {
	right: -50px;
	text-align: right;
	background: url(/ja/assets/images/btn_next.png) no-repeat left top;
	height: 40px;
	width: 17px;
	text-indent:9999px;
	font-size: 0px;
}
.flexslider:hover .flex-prev {
	opacity: 1;
	left: 10px;
}
.flexslider:hover .flex-next {
	opacity: 1;
	right: 10px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
}
.flex-direction-nav a:before {
	font-family: "flexslider-icon";
	font-size: 40px;
	display: inline-block;
	content: '\f001';
}
.flex-direction-nav a.flex-next:before {
	content: '\f002';
}
/* Pause/Play */
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:before {
	font-family: "flexslider-icon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}
.flex-pauseplay a:hover {
	opacity: 1;
}
.flex-pauseplay a.flex-play:before {
	content: '\f003';
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
	display: none;
}
.flex-control-nav li {
	margin: 0;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	width: 125px;
	height: 2px;
	display: block;
	background: #f6f4ef;
	cursor: pointer;
	text-indent: -9999px;
}
.flex-control-paging li a:hover {
	background: #f68d71;
}
.flex-control-paging li a.flex-active {
	background: #f68d71;
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}