@charset "UTF-8";

#myPage {
	width: 100%;
	max-width: 1280px;
	margin: 80px auto;
	color: #645D5B;
}
#myPage:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#myProfile {
	width: 100%;
	padding: 20px 20px;
	background: #fff;
	margin-bottom: 30px;
	border-bottom: solid 3px #DBDBDB;
	box-sizing: border-box;
}
#myProfile:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#myProfile #myThumb {
	width: 180px;
	height: 180px;
	background: #DBDBDB;
	float: left;
	overflow: hidden;
	border-radius: 8px;
	border-bottom: solid 3px #317AB7;
}
#myProfile #myThumb img {
	width: 100%;
	height: auto;
}
#myProfile #myDescription {
	float: left;
	padding-left: 20px;
	width: 85%;
	box-sizing: border-box;
}
#myProfile #myDescription h2 {
	font-size: 24px;
}
#myProfile #myDescription ul {
	font-size: 12px;
	color: #999;
	padding-top: 6px;
}
#myProfile #myDescription ul a {
	color: #999;
}
#myProfile #myDescription ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#myProfile #myDescription ul li#myPlace {
	background: url(/ja/assets/images/icon_place.png) no-repeat left center;
	background-size: 8px 12px;
	padding: 0 14px 0 14px;
	float: left;
}
#myProfile #myDescription ul li#myUrl {
	background: url(/ja/assets/images/icon_link.png) no-repeat left center;
	background-size: 12px 12px;
	padding-left: 17px;
	float: left;
}
#myProfile #myDescription p {
	padding-top: 18px;
}


#myPageSide {
	float: left;
	width: 23%;
	background: #fff;
	margin-right: 2%;
	border-bottom: solid 3px #DBDBDB;
}
#myPageSide dl {
	padding-bottom: 20px;
}
#myPageSide dl dt {
	padding: 8px 20px;
	background: #317AB7;
	border-bottom: solid 3px #DBDBDB;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	margin-bottom: 10px;
}
#myPageSide dl dd {
	padding: 6px 20px 6px 38px;
	background: url(/ja/assets/images/icon_arrow.png) no-repeat 20px center;
}
#myPageSide dl dd a:hover{
	opacity: 1;
	color: #317AB7;
}


#myPageContents {
	float: left;
	width: 75%;
	padding: 30px 20px 10px;
	background: #fff;
	border-bottom: solid 3px #DBDBDB;
}
/*応援したプロジェクト*/
#myPageContents h2 {
	font-weight: bold;
}
#myPageContents .project-list-index {
	padding-top: 25px;
}
#myPageContents .project-list-index li {
	width: 31.3%;
}
/*プロフィール編集*/
#myPageContents #myProfileEdit h2 {
	font-weight: bold;
}
#myPageContents #myProfileEdit form dl dt {
	margin: 25px 0 10px 0;
	padding-left: 7px;
	font-size: 15px;
	border-left: solid 5px #317AB7;
}
#myPageContents #myProfileEdit form dl dd {
	padding-bottom: 8px;
}
#myPageContents #myProfileEdit form dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
}
#myPageContents #myProfileEdit form dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#myPageContents #myProfileEdit form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
/*プロフィール編集*/
#myPageContents #myMailEdit h2 {
	font-weight: bold;
	margin-bottom: 25px;
}
#myPageContents #myMailEdit form {
	margin-top: 25px;
}
#myPageContents #myMailEdit form dl dt {
	margin: 25px 0 10px 0;
	padding-left: 7px;
	font-size: 15px;
	border-left: solid 5px #317AB7;
}
#myPageContents #myMailEdit form dl dd {
	padding-bottom: 8px;
}
#myPageContents #myMailEdit form dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
}
#myPageContents #myMailEdit form dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#myPageContents #myMailEdit form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
/*パスワード編集*/
#myPageContents #myPwEdit h2 {
	font-weight: bold;
	margin-bottom: 25px;
}
#myPageContents #myPwEdit form {
	margin-top: 25px;
}
#myPageContents #myPwEdit form dl dt {
	margin: 25px 0 10px 0;
	padding-left: 7px;
	font-size: 15px;
	border-left: solid 5px #317AB7;
}
#myPageContents #myPwEdit form dl dd {
	padding-bottom: 8px;
}
#myPageContents #myPwEdit form dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
}
#myPageContents #myPwEdit form dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#myPageContents #myPwEdit form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
#myPageContents #myPwEdit form label {
	padding-right: 10px;
	cursor: pointer;
}
/*配送先情報*/
#myPageContents #myAddress h2 {
	font-weight: bold;
	margin-bottom: 25px;
}
#myPageContents #myAddress form {
	margin-top: 25px;
}
#myPageContents #myAddress form dl dt {
	margin: 25px 0 10px 0;
	padding-left: 7px;
	font-size: 15px;
	border-left: solid 5px #317AB7;
}
#myPageContents #myAddress form dl dd {
	padding-bottom: 8px;
}
#myPageContents #myAddress form dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
}
#myPageContents #myAddress form dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#myPageContents #myAddress form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
#myPageContents #myAddress form label {
	padding-right: 10px;
	cursor: pointer;
}
/*メール*/
#myPageContents #myMailBox {
	position: relative;
}
#myPageContents #myMailBox h2 {
	font-weight: bold;
	margin-bottom: 25px;
}
#myPageContents #myMailBox table {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
#myPageContents #myMailBox table tr:nth-child(2n+1) {
	background: #F3F3F3;
}
#myPageContents #myMailBox table th {
	background: #E6E6E6;
	font-size: 12px;
	color: #8D8D8D;
	padding: 6px 20px;
	text-align: left;
	border-bottom: solid 1px #C4C4C4;
}
#myPageContents #myMailBox table th.mAdd {
	width: 25%;
}
#myPageContents #myMailBox table th.subject {
	width: 50%;
}
#myPageContents #myMailBox table th.create_time {
	width: 25%;
}
#myPageContents #myMailBox table td {
	padding: 10px 20px;
}
#myPageContents #myMailBox .userIcBr {
    margin: 0 10px 0 0;
    width: 42px;
    height: 42px;
    text-align: center;
    overflow: hidden;
    float: left;
}
#myPageContents #myMailBox .userIcon  {
    height: 42px;
}
#myPageContents #myMailBox textarea  {
    width: 560px;
    padding: 5px;
    font-size: 14px;
    font-family: 'Verdana', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'Osaka', 'MS P Gothic', 'Sans-Serif';
    line-height: 1.3;
    color: #333333;
    border: 1px solid #ebebeb;
    background: #f9f9f9;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}
#myPageContents #myMailBox form .actions input {
    border: none;
    color: #fff;
    line-height: 100%;
    padding: 12px 32px;
    background: #317AB7;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px){
#myPage {
	width: 100%;
	min-width: 320px;
	margin: 40px auto;
	color: #645D5B;
}
#myPage:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#myProfile {
	width: 100%;
	padding: 20px;
	background: #fff;
	margin-bottom: 10px;
	border-bottom: solid 3px #DBDBDB;
	box-sizing: border-box;
}
#myProfile:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#myProfile #myThumb {
	width: 180px;
	height: 180px;
	background: #DBDBDB;
	float: none;
	overflow: hidden;
	border-radius: 8px;
	border-bottom: solid 3px #317AB7;
	margin: 0 auto;
}
#myProfile #myThumb img {
	width: 100%;
	height: auto;
}
#myProfile #myDescription {
	float: none;
	padding-left: 0;
	width: 100%;
	min-width: 288px;
}
#myProfile #myDescription h2 {
	font-size: 16px;
	text-align: center;
	padding-top: 8px;
}
#myProfile #myDescription ul {
	font-size: 12px;
	color: #999;
	padding-top: 6px;
}
#myProfile #myDescription ul a {
	color: #999;
}
#myProfile #myDescription ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#myProfile #myDescription ul li#myPlace {
	background: url(/ja/assets/images/icon_place.png) no-repeat left center;
	background-size: 8px 12px;
	padding: 0 14px 0 14px;
	float: left;
}
#myProfile #myDescription ul li#myUrl {
	background: url(/ja/assets/images/icon_link.png) no-repeat left center;
	background-size: 12px 12px;
	padding-left: 17px;
	float: left;
}
#myProfile #myDescription p {
	padding-top: 18px;
}
#myPageSide {
	float: none;
	width: 100%;
	min-width: 320px;
	background: #fff;
	margin-right: 0;
	border-bottom: solid 3px #DBDBDB;
}
#myPageSide dl {
	padding-bottom: 20px;
}
#myPageSide dl dt {
	padding: 8px 20px;
	background: #317AB7;
	border-bottom: solid 3px #DBDBDB;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	margin-bottom: 10px;
	box-sizing: border-box;
}
#myPageSide dl dd {
	padding: 6px 20px 6px 32px;
	background: url(/ja/assets/images/icon_arrow.png) no-repeat 20px center;
	background-size: 6px 6px;
	box-sizing: border-box;
}
#myPageSide dl dd a:hover{
	opacity: 1;
	color: #317AB7;
}
#myPageContents {
	float: none;
	width: 100%;
	padding: 30px 0 10px;
	background: #fff;
	border-bottom: solid 3px #DBDBDB;
	box-sizing: border-box;
	overflow: hidden;
}
/*応援したプロジェクト*/
#myPageContents h2 {
	font-weight: bold;
	text-align: center;
}
#myPageContents .project-list-index {
	padding-top: 25px;
}
#myPageContents .project-list-index > li {
	width: 100%;
}
/*プロフィール編集*/
#myPageContents #myProfileEdit {
	width: 90%;
	min-width: 320px;
	padding: 0 5%;
}
#myPageContents #myProfileEdit h2 {
	font-weight: bold;
}
#myPageContents #myProfileEdit form dl dt {
	margin: 25px 0 10px 0;
	padding-left: 7px;
	font-size: 15px;
	border-left: solid 5px #317AB7;
	box-sizing: border-box;
}
#myPageContents #myProfileEdit form dl dd {
	padding-bottom: 8px;
}
#myPageContents #myProfileEdit form dl dd input[type=text] {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
#myPageContents #myProfileEdit form dl dd input#user_family_name,
#myPageContents #myProfileEdit form dl dd input#user_first_name {
	width: 85px;
}
#myPageContents #myProfileEdit form dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 100%;
	box-sizing: border-box;
}
#myPageContents #myProfileEdit form .actions {
	text-align: center;
}
#myPageContents #myProfileEdit form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
/*プロフィール編集*/
#myPageContents #myMailEdit {
	width: 90%;
	padding: 0 5%;
	min-width: 320px;
}
#myPageContents #myMailEdit h2 {
	font-weight: bold;
	margin-bottom: 25px;
}
#myPageContents #myMailEdit form {
	margin-top: 25px;
}
#myPageContents #myMailEdit form dl dt {
	margin: 25px 0 10px 0;
	padding-left: 7px;
	font-size: 15px;
	border-left: solid 5px #317AB7;
}
#myPageContents #myMailEdit form dl dd {
	padding-bottom: 8px;
}
#myPageContents #myMailEdit form dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
#myPageContents #myMailEdit form dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#myPageContents #myMailEdit form .actions {
	text-align: center;
}
#myPageContents #myMailEdit form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
/*パスワード編集*/
#myPageContents #myPwEdit {
	width: 90%;
	padding: 0 5%;
	min-width: 320px;
}
#myPageContents #myPwEdit h2 {
	font-weight: bold;
	margin-bottom: 25px;
}
#myPageContents #myPwEdit form {
	margin-top: 25px;
}
#myPageContents #myPwEdit form dl dt {
	margin: 25px 0 10px 0;
	padding-left: 7px;
	font-size: 15px;
	border-left: solid 5px #317AB7;
}
#myPageContents #myPwEdit form dl dd {
	padding-bottom: 8px;
}
#myPageContents #myPwEdit form dl dd label {
	display: block;
}
#myPageContents #myPwEdit form dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
#myPageContents #myPwEdit form dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#myPageContents #myPwEdit form .actions {
	text-align: center;
}
#myPageContents #myPwEdit form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
#myPageContents #myPwEdit form label {
	padding-right: 10px;
	cursor: pointer;
}
/*配送先情報*/
#myPageContents #myAddress {
	width: 90%;
	padding: 0 5%;
	min-width: 320px;
}
#myPageContents #myAddress h2 {
	font-weight: bold;
	margin-bottom: 25px;
}
#myPageContents #myAddress form {
	margin-top: 25px;
}
#myPageContents #myAddress form dl dt {
	margin: 25px 0 10px 0;
	padding-left: 7px;
	font-size: 15px;
	border-left: solid 5px #317AB7;
}
#myPageContents #myAddress form dl dd {
	padding-bottom: 8px;
}
#myPageContents #myAddress form dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
#myPageContents #myAddress form dl dd input#zip_code {
	width: 30%;
}
#myPageContents #myAddress form dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 100%;
}
#myPageContents #myAddress form .actions {
	text-align: center;
}
#myPageContents #myAddress form .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
#myPageContents #myAddress form label {
	padding-right: 10px;
	cursor: pointer;
}
/*メール*/
#myPageContents #myMailBox {
	width: 100%;
	min-width: 320px;
	position: relative;
}
#myPageContents #myMailBox h2 {
	font-weight: bold;
	margin-bottom: 25px;
}
#myPageContents #myMailBox table {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
#myPageContents #myMailBox table tr:nth-child(2n+1) {
	background: #F3F3F3;
}
#myPageContents #myMailBox table th {
	background: #E6E6E6;
	font-size: 12px;
	color: #8D8D8D;
	padding: 6px 10px;
	text-align: left;
	border-bottom: solid 1px #C4C4C4;
	box-sizing: border-box;
}
#myPageContents #myMailBox table th.mAdd {
	width: 25%;
}
#myPageContents #myMailBox table th.subject {
	width: 50%;
}
#myPageContents #myMailBox table th.create_time {
	width: 25%;
}
#myPageContents #myMailBox table td {
	padding: 10px 10px;
	box-sizing: border-box;
}
#myPageContents #myMailBox textarea {
    width: 94%;
}
#myPageContents input, textarea, select {
    font-size: 16px;
    word-wrap: break-word;
}
}