@charset "UTF-8";
.prj-sub-nav-wrapper,
.social-bottom-wrapper,
.footer-g-nav-wrapper,
.footer-social-wrapper,
#jsi-header-mymenu,
.header-g-nav-projects,
.header-g-nav {
	display: none;
}
#jsi-header-g-nav {
	height: 75px;
}
.header-toggle-wrapper {
	height: 40px;
}
.header-toggle {
	display: none;
}
.copyright {
	margin-top: -16px;
}
@media screen and (max-width: 768px) {
	.copyright {
	margin-top: 10px;
}
}

ul#step {
	width: 960px;
	margin: 0 auto;
	padding-top: 80px;
	position: relative;
}
ul#step:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
ul#step li {
	font-size: 12px;
	width: 240px;
	float: left;
	text-align: center;
	font-weight: bold;
	background: #fff;
	color: #6C6C6C;
	padding: 10px;
	border-left: solid 2px #F5F5F5;
	border-right: solid 2px #F5F5F5;
}
ul#step li.active {
	background: #19A9E3;
	color: #fff;
}

#projectStart {
	width: 920px;
	margin: 20px auto 40px;
	padding: 30px 20px;
	background: #fff;
	color: #645D5B;
	box-sizing: content-box;
}
#projectStart:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart h2 {
	font-size: 19px;
	font-weight: bold;
	vertical-align: middle;
}
#projectStart h2 img {
	height: 22px;
	width: auto;
	display: inline-block;
	padding-right: 6px;
}
#projectStart .pageDescription {
	font-size: 13px;
}
#projectStart #projectContents {
	width: 600px;
	float: left;
	padding: 0 20px 0 0;
}
#projectStart .side {
	width: 300px;
	float: left;
	overflow: hidden;
}
#projectStart h3 {
	font-weight: bold;
	padding: 30px 0 10px;
}
#projectStart ul#ticketSelect {
	padding: 20px 0 0 0;
}
#projectStart ul#ticketSelect > li {
	clear: both;
	position: relative;
	background: #F5F2F0;
	border-bottom: solid 3px #fff;
}
#projectStart ul#ticketSelect > li.checked {
	background: #D5EBF4;
}
#projectStart ul#ticketSelect > li > label > dl {
	/*width: 600px;*/
	display: table;
	cursor: pointer;
}
#projectStart ul#ticketSelect > li > label > dl > dt {
	width: 190px;
	display: table-cell;
	padding: 24px 0 24px 10px;
	border-right: 3px dotted #fff;
}
#projectStart ul#ticketSelect > li > label > dl > dd {
	width: 380px;
	display: table-cell;
	padding: 24px 0 24px 20px;	
}
#projectStart ul#ticketSelect > li > label > dl .ticketMarkList {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 6px;
	background: #00A1E1;
	color: #fff;
	font-size: 11px;
}
#projectStart ul#ticketSelect > li > label > dl > dd > ul > li {
background: transparent url("https://mg-img.s3.amazonaws.com/static/icon_li.png") no-repeat scroll left top;
    padding-left: 1em;
	font-size: 13px;
}
#projectStart #moreFunding {
	background: #F5F2F0;
	padding: 20px;
	vertical-align: middle;
	
}
#projectStart #moreFunding .selectTicket {
	font-size: 20px;
	font-weight: bold;
	padding: 0 3px;
	display: inline-block;
}
#projectStart #moreFunding input {
	border: solid 1px #bbb;
	padding: 5px 14px;
	font-size: 20px;
	border-radius: 4px;
}
#projectStart #moreFunding .caution {
	font-size: 13px;
	padding-top: 14px;
}
#projectStart #moreFunding .note {
	font-size: 13px;
}

#projectStart ul#paymentSelect li.paySelect {
	background: #F5F2F0;
	margin-bottom: 4px;
	padding: 10px;
	border-bottom: solid 3px #fff;
	
}
#projectStart ul#paymentSelect li.checked {
	background: #D5EBF4;
}
#projectStart ul#paymentSelect li dl {
	display: table;
	cursor: pointer;
}

#projectStart ul#paymentSelect li dl dt {
	display: table-cell;
	vertical-align: middle;
	width: 360px;
}
#projectStart ul#paymentSelect li dl label {
	cursor: pointer;
	display: table-cell;
}
#projectStart ul#paymentSelect li dl dt span.iconCredit {
	background: rgba(0, 0, 0, 0) url("/ja/assets/images/icon_credit.png") no-repeat left center;
	background-size: 24px 24px;
    font-weight: bold;
    padding: 8px 0 8px 28px;
}
#projectStart ul#paymentSelect li dl dt span.iconConvenience {
background: rgba(0, 0, 0, 0) url("/ja/assets/images/icon_convenience.png") no-repeat left center;
background-size: 24px 24px;
font-weight: bold;
padding: 8px 0 8px 28px;
}
#projectStart ul#paymentSelect li dl dt span.iconPayeasy {
background: rgba(0, 0, 0, 0) url("/ja/assets/images/icon_payeasy.png") no-repeat left center;
background-size: 24px 24px;
font-weight: bold;
padding: 8px 0 8px 28px;
}
#projectStart ul#paymentSelect li dl dd {
	width: 370px;
	vertical-align: middle;
	background: #fff;
	padding: 10px;
	font-size: 12px;
	padding-top: 14px;
	border-radius: 5px;
	text-align: left;
}
#projectStart ul#paymentSelect li dl dd ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart ul#paymentSelect li dl dd ul label {
	padding: 7px;
	display: block;
}
#projectStart ul#paymentSelect li dl dd ul label li {
	cursor: pointer;
}
#projectStart ul#paymentSelect li dl dd ul label li span {
	padding-left: 2px;
}
#projectStart .attentionBox {
	margin-bottom: 20px;
	font-size: 13px;
	padding: 20px;
	background: #FFDEDE;
	color: #454545;
}
#projectStart .attentionBox h4 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #DE4648;
	border-bottom: double 3px #DE4648;
	border-top: double 3px #DE4648;
	line-height: 100%;
	padding: 8px 0;
}
#projectStart .attentionBox h5 {
	font-size: 13px;
	line-height: 150%;
	padding-top: 12px;
	margin-bottom: 12px;
	font-weight: bold;
}
#projectStart .attentionBox p {
	font-size: 12px;
}
#projectStart .attentionBox ul {
	font-size: 11px;
	margin-top: 12px;
}
#projectStart .attentionBox ul li {
	text-indent: -1.3em;
	padding-left: 1.3em;
}

#projectStart .attentionBox strong {
	font-weight: bold;
	font-style: 15px;
	color: #222;
	background: #FDEE90;
}
#projectStart .actions {
	text-align: center;
}
#projectStart .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}


#projectStart .side #projectSideSummary {
	background: #fff;
	border: solid 1px #CFCFCF;
	padding: 10px;
}
#projectStart .side #projectSideSummary .pjtImage {
	margin: 0 auto;
	width: 280px;
	overflow: hidden;
	padding-bottom: 14px;
}
#projectStart .side #projectSideSummary .pjtImage img {
	width: 100%;
	height: auto;
}
#projectStart .side #projectSideSummary .pjtTitle {
	font-size: 12px;
	padding-bottom: 8px;
	font-weight: bold;
}
#projectStart .side #projectSideSummary .presenter {
	font-weight: bold;
	background: rgba(0, 0, 0, 0) url("https://mg-img.s3.amazonaws.com/static/icon_presenter.png") no-repeat scroll left 50% / 11px auto;
    padding-left: 16px;
}

#projectStart .side #pledge_howto {
	font-size: 13px;
	margin-top: 30px;
}
#projectStart .side #pledge_howto dl dt {
	background: #F5F2F0;
	font-weight: bold;
	padding: 10px;
}
#projectStart .side #pledge_howto dl dd {
	padding: 10px 10px 20px 10px;
	font-size: 12px;
}
#projectStart #projectContents form#paymentForm {
	margin-top: 25px;
}
#projectStart dl.confirmList dd {
	width: 380px;
	padding: 24px 0 24px 20px;
	display: table-cell;
}

#projectStart #projectContents form#paymentForm dl {
	background: #F5F2F0;
	display: table;
	border-bottom: 3px solid #fff;
}
#projectStart #projectContents form#paymentForm dl dt {
	width: 190px;
	padding: 24px 0 24px 10px;
	border-right: 3px dotted #fff;
	display: table-cell;
}
#projectStart #projectContents form#paymentForm dl dd {
	width: 390px;
	padding: 24px 0 24px 20px;
	display: table-cell;
}
#projectStart #projectContents form#paymentForm dl dd span#securityCode {
	display: block;
	padding: 10px 90px 10px 10px;
	width: 340px;
	font-size: 12px;
	margin-top: 10px;
	border-radius: 5px;
	background: url(/ja/assets/images/icon_security.png) no-repeat 260px center #fff;
}
#projectStart #projectContents form#paymentForm dl dd .note {
	font-size: 11px;
	padding-top: 8px;
	padding-left: 1.2em;
}
#projectStart #projectContents form#paymentForm dl dd #get_address_by_zipcode {
	background: #444;
	color: #fff;
	padding: 8px 18px;
	border-radius: 5px;
	vertical-align: middle;
	font-weight: bold;
}
#projectStart #projectContents form#paymentForm dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
}
#projectStart #projectContents form#paymentForm dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#projectStart #projectContents form#paymentForm .actions:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart #projectContents form#paymentForm .actions li {
	float: left;
	padding-right: 10px;
}
#projectStart #projectContents form#paymentForm .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
#projectStart #projectContents form#paymentForm .actions li input.return {
	background: #888;
}
#projectStart #projectContents form#paymentForm label {
	padding-right: 10px;
	cursor: pointer;
}

#projectStart #projectContents #forPresenter {
	margin-top: 20px;
}
#projectStart #projectContents #forPresenter:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart #projectContents #forPresenter h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	border-bottom: solid 2px #045E9A;
	color: #045E9A;
}
#projectStart #projectContents #forPresenter .presenterThumb {
	width: 90px;
	height: 90px;
	overflow: hidden;
	float: left;
	margin-right: 18px;
}
#projectStart #projectContents #forPresenter .presenterThumb img {
	width: 100%;
	height: auto;
}

#projectStart #projectContents #forSupporter {
	margin-top: 30px;
	clear: both;
}
#projectStart #projectContents #forSupporter:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart #projectContents #forSupporter h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	border-bottom: solid 2px #FFB60A;
	color: #FFB60A;
}
#projectStart #projectContents #forSupporter .note {
	font-size: 12px;
	margin-bottom: 20px;
}
#projectStart #projectContents #forSupporter .note a {
	color: #307AAB;
}
#projectStart #projectContents #forSupporter .supporterThumb {
	width: 90px;
	height: 90px;
	overflow: hidden;
	float: left;
	margin-right: 18px;
}
#projectStart #projectContents #forSupporter .supporterThumb img {
	width: 100%;
	height: auto;
}
#projectStart #projectContents #forSupporter #supporterComment {
	float: left;
}
#projectStart #projectContents #forSupporter textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
	height: 90px;
}
#projectStart #projectContents #forSupporter #snsLink {
	clear: both;
	padding: 8px 0 0 106px;
}
#projectStart #projectContents #forSupporter #snsLink:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart #projectContents #forSupporter #snsLink li {
	float: left;
	margin-right: 14px;
	font-size: 13px;
}
#projectStart #projectContents #forSupporter #snsLink li label {
	cursor: pointer;
}
#projectStart #projectContents #forSupporter #snsLink li .fb {
	color: #39599f;
}
#projectStart #projectContents #forSupporter #snsLink li .tw {
	color: #45b0e3;
}
#projectStart #projectContents #forSupporter .actions {
	clear: both;
}




#projectStart dl#bankFlow {
	margin: 20px 0 0;
	padding: 20px;
	background: #FFDEDE;
	border-radius: 5px;
}
#projectStart h4 {
	font-size: 13px;
	padding-bottom: 6px;
}
#projectStart dl#bankFlow dt {
	font-size: 16px;
	font-weight: bold;
	color: #F46C6E;
	padding-bottom: 5px;
	border-bottom: dashed 1px #F46C6E;
}
#projectStart dl#bankFlow dt span {
	display: inline-block;
	background: #F46C6E;
	line-height: 100%;
	color: #fff;
	font-size: 14px;
	width: 20px;
	text-align: center;
	padding: 3px 0;
	border-radius: 4px;
	margin-right: 8px;
}
#projectStart dl#bankFlow dd {
	margin-top: 12px;
}
#projectStart dl.confirmList {
	cursor: pointer;
	background: #F5F2F0;
	display: table;
	border-bottom: 3px solid #fff;
}
#projectStart dl.confirmList dt {
	width: 180px;
	padding: 24px 0 24px 20px;
	border-right: 3px dotted #fff;
	display: table-cell;
}
#projectStart dl.confirmList dd {
	width: 400px;
	padding: 24px 20px 24px 20px;
	display: table-cell;
}
#projectStart dl.confirmList dd img {
	background: #fff;
	padding: 15px;
}
#projectStart #changeAddress {
	margin-top: 8px;
}
#projectStart #paymentLink a {
	color: #19A9E3;
}
#projectStart .caution {
	font-size: 12px;
	color: #B2B2B2;
}
#projectStart dl.confirmList dd table {
	background: #fff;
	font-size: 13px;
}
#projectStart dl.confirmList dd table td {
	padding: 10px 10px 10px 0;
}
#projectStart dl.confirmList dd table td span {
	font-size: 11px;
	display: inline-block;
	padding-top: 4px;
	color: #777;
}
#projectStart dl.confirmList dd table td span a {
	color: #045E9A;
}
#projectStart #available {
	text-align: right;
	margin-top: -40px;
}
.sub-ticketlist-inner .sub-ticketlist-img {
	padding: 10px 0;
}
.sub-ticketlist-inner .sub-ticketlist-img img {
	width: 100%;
}

@media screen and (max-width: 768px) {
ul#step {
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding-top: 40px;
	position: relative;
}
ul#step:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
ul#step li {
	font-size: 12px;
	width: 100%;
	float: none;
	text-align: center;
	font-weight: bold;
	background: #fff;
	color: #6C6C6C;
	padding: 10px;
	border-left: solid 6px #F5F5F5;
	border-right: solid 6px #F5F5F5;
	border-bottom: solid 1px #F5F5F5;
	box-sizing: border-box;
}
ul#step li.active {
	background: #19A9E3;
	color: #fff;
}
#projectStart {
	width: 90%;
	min-width: 320px;
	margin: 20px auto;
	padding: 20px 5%;
	background: #fff;
	color: #645D5B;
	box-sizing: border-box;
}
#projectStart:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart h2 {
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}
#projectStart h2 img {
	height: 22px;
	width: auto;
	display: inline-block;
	padding-right: 6px;
}
#projectStart .pageDescription {
	font-size: 13px;
}
#projectStart #projectContents {
	width: 100%;
	float: none;
	padding: 0 0 0 0;
}
#projectStart .side {
	width: 100%;
	min-width: 288px;
	margin: 0 auto;
	float: none;
	overflow: hidden;
}
#projectStart h3 {
	font-weight: bold;
	padding: 30px 0 10px;
	font-size: 15px;
}
#projectStart ul#ticketSelect {
	padding: 20px 0 0 0;
}
#projectStart ul#ticketSelect > li {
	clear: both;
	position: relative;
	background: #F5F2F0;
	border-bottom: solid 6px #fff;
}
#projectStart ul#ticketSelect > li.checked {
	background: #D5EBF4;
}
#projectStart ul#ticketSelect > li > label > dl {
	display: block;
	cursor: pointer;
}
#projectStart ul#ticketSelect > li > label > dl > dt {
	width: 100%;
	display: block;
	padding: 12px 10px;
	border-right: none;
	border-bottom: 3px dotted #fff;
	box-sizing: border-box;
}
#projectStart ul#ticketSelect > li > label > dl > dd {
	width: 100%;
	display:block;
	padding: 12px 10px;
	box-sizing: border-box;
}
#projectStart ul#ticketSelect > li > label > dl .ticketMarkList {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 6px;
	background: #00A1E1;
	color: #fff;
	font-size: 11px;
}
#projectStart ul#ticketSelect > li > label > dl > dd > ul > li {
	background: transparent url("https://mg-img.s3.amazonaws.com/static/icon_li.png") no-repeat scroll left top;
	padding-left: 1em;
	font-size: 13px;
}
#projectStart #moreFunding {
	background: #F5F2F0;
	padding: 20px;
	vertical-align: middle;
}
#projectStart #moreFunding .selectTicket {
	font-size: 20px;
	font-weight: bold;
	padding: 0 3px;
	display: inline-block;
}
#projectStart #moreFunding input {
	border: solid 1px #bbb;
	padding: 5px 14px;
	font-size: 20px;
	border-radius: 4px;
}
#projectStart #moreFunding input,#pledged_amount_plus {
	width: 75%;
}
#projectStart #moreFunding .caution {
	font-size: 13px;
	padding-top: 14px;
}
#projectStart #moreFunding .note {
	font-size: 13px;
}
#projectStart ul#paymentSelect li.paySelect {
	background: #F5F2F0;
	margin-bottom: 4px;
	padding: 10px;
	border-bottom: solid 3px #fff;
}
#projectStart ul#paymentSelect li.checked {
	background: #D5EBF4;
}
#projectStart ul#paymentSelect li dl {
	display: table;
	cursor: pointer;
	width: 100%;
	position: relative;
}
#projectStart ul#paymentSelect li dl dt {
	display: table-cell;
	vertical-align: middle;
	width: 40%;
	font-weight: normal;
	font-size: 12px;
}
#projectStart ul#paymentSelect li dl label {
	cursor: pointer;
	display: table-cell;
}
#projectStart ul#paymentSelect li dl dt span.iconCredit {
	background: none;
	background-size: 24px 24px;
	font-weight: bold;
	padding: 8px 0 8px 0;
}
#projectStart ul#paymentSelect li dl dt span.iconConvenience {
	background: none;
	background-size: 24px 24px;
	font-weight: bold;
	padding: 8px 0 8px 0;
	width: 90%;
}
#projectStart ul#paymentSelect li dl dt span.iconPayeasy {
	background: none;
	background-size: 24px 24px;
	font-weight: bold;
	padding: 8px 0 8px 0;
}
#projectStart ul#paymentSelect li dl dd {
	width: 60%;
	display: table-cell;
	vertical-align: middle;
	background: #fff;
	padding: 6px;
	font-size: 12px;
	padding-top: 14px;
	border-radius: 5px;
	text-align: left;
}
#projectStart ul#paymentSelect li dl dd ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart ul#paymentSelect li dl dd ul label {
	padding: 7px;
	display: block;
}
#projectStart ul#paymentSelect li dl dd ul label li {
	cursor: pointer;
}
#projectStart ul#paymentSelect li dl dd ul label li span {
	padding-left: 2px;
}
#projectStart .attentionBox {
	margin-bottom: 20px;
	font-size: 13px;
	padding: 20px;
	background: #FFDEDE;
	color: #454545;
}
#projectStart .attentionBox h4 {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #DE4648;
	border-bottom: double 3px #DE4648;
	border-top: double 3px #DE4648;
	line-height: 100%;
	padding: 8px 0;
}
#projectStart .attentionBox h5 {
	font-size: 13px;
	line-height: 150%;
	padding-top: 12px;
	margin-bottom: 12px;
	font-weight: bold;
}
#projectStart .attentionBox p {
	font-size: 12px;
}
#projectStart .attentionBox ul {
	font-size: 11px;
	margin-top: 12px;
}
#projectStart .attentionBox ul li {
	text-indent: -1.3em;
	padding-left: 1.3em;
}
#projectStart .attentionBox strong {
	font-weight: bold;
	font-style: 15px;
	color: #222;
	background: #FDEE90;
}
#projectStart .actions {
	text-align: center;
}
#projectStart .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}
#projectStart .side #projectSideSummary {
	background: #fff;
	border: solid 1px #CFCFCF;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}
#projectStart .side #projectSideSummary .pjtImage {
	margin: 0 auto;
	width: 260px;
	overflow: hidden;
	padding-bottom: 14px;
}
#projectStart .side #projectSideSummary .pjtImage img {
	width: 100%;
	height: auto;
}
#projectStart .side #projectSideSummary .pjtTitle {
	font-size: 12px;
	padding-bottom: 8px;
	font-weight: bold;
}
#projectStart .side #projectSideSummary .presenter {
	font-weight: bold;
	background: rgba(0, 0, 0, 0) url("https://mg-img.s3.amazonaws.com/static/icon_presenter.png") no-repeat scroll left 50% / 11px auto;
	padding-left: 16px;
}
#projectStart .side #pledge_howto {
	font-size: 13px;
	margin-top: 30px;
}
#projectStart .side #pledge_howto dl dt {
	background: #F5F2F0;
	font-weight: bold;
	padding: 10px;
}
#projectStart .side #pledge_howto dl dd {
	padding: 10px 10px 20px 10px;
	font-size: 12px;
}
#projectStart #projectContents form#paymentForm {
	margin-top: 15px;
}
#projectStart dl.confirmList dd {
	width: 380px;
	padding: 24px 0 24px 20px;
	display: table-cell;
}
#projectStart #projectContents form#paymentForm dl {
	background: #F5F2F0;
	display: block;
	border-bottom: 3px solid #fff;
}
#projectStart #projectContents form#paymentForm dl dt {
	width: 100%;
	padding: 12px 10px 6px;
	border-right: none;
	border-bottom: 3px dotted #fff;
	display: block;
	box-sizing: border-box;
}
#projectStart #projectContents form#paymentForm dl dd {
	width: 100%;
	padding: 8px 10px 12px;
	display: block;
	box-sizing: border-box;
}
#projectStart #projectContents form#paymentForm dl dd span#securityCode {
	display: block;
	padding: 10px 10px 10px 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	margin-top: 10px;
	border-radius: 5px;
	background: #fff;
}
#projectStart #projectContents form#paymentForm dl dd .note {
	font-size: 11px;
	padding-top: 8px;
	padding-left: 1.2em;
}
#projectStart #projectContents form#paymentForm dl dd #get_address_by_zipcode {
	background: #444;
	color: #fff;
	padding: 8px 18px;
	border-radius: 5px;
	vertical-align: middle;
	font-weight: bold;
}
#projectStart #projectContents form#paymentForm dl dd input {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
#projectStart #projectContents form#paymentForm dl dd textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 80%;
}
#projectStart #projectContents form#paymentForm .actions:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart #projectContents form#paymentForm .actions li {
	float: none;
	padding-right: 0;
}
#projectStart #projectContents form#paymentForm .actions input {
	border: none;
	color: #fff;
	line-height: 100%;
	padding: 12px 32px;
	background: #317AB7;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
#projectStart #projectContents form#paymentForm .actions li input.return {
	background: #888;
	margin: 10px 0 15px;
}
#projectStart #projectContents form#paymentForm .actions li input.confirmation {
	margin-bottom: 30px;
}
#projectStart #projectContents form#paymentForm label {
	padding-right: 10px;
	cursor: pointer;
}
#projectStart #projectContents #forPresenter {
	margin-top: 20px;
}
#projectStart #projectContents #forPresenter:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart #projectContents #forPresenter h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	border-bottom: solid 2px #045E9A;
	color: #045E9A;
}
#projectStart #projectContents #forPresenter .presenterThumb {
	width: 90px;
	height: 90px;
	overflow: hidden;
	float: left;
	margin-right: 18px;
}
#projectStart #projectContents #forPresenter .presenterThumb img {
	width: 100%;
	height: auto;
}
#projectStart #projectContents #forSupporter {
	margin-top: 30px;
	clear: both;
}
#projectStart #projectContents #forSupporter:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart #projectContents #forSupporter h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	border-bottom: solid 2px #FFB60A;
	color: #FFB60A;
}
#projectStart #projectContents #forSupporter .note {
	font-size: 12px;
	margin-bottom: 20px;
}
#projectStart #projectContents #forSupporter .note a {
	color: #307AAB;
}
#projectStart #projectContents #forSupporter .supporterThumb {
	width: 90px;
	height: 90px;
	overflow: hidden;
	float: none;
	margin-right: 18px;
	display: none;
}
#projectStart #projectContents #forSupporter .supporterThumb img {
	width: 100%;
	height: auto;
}
#projectStart #projectContents #forSupporter #supporterComment {
	float: none;
	width: 100%;
}
#projectStart #projectContents #forSupporter textarea {
	border: solid 1px #bbb;
	padding: 4px 8px;
	font-size: 14px;
	border-radius: 4px;
	resize: none;
	width: 100%;
	height: 90px;
}
#projectStart #projectContents #forSupporter #snsLink {
	clear: both;
	padding: 8px 0 0 106px;
}
#projectStart #projectContents #forSupporter #snsLink:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#projectStart #projectContents #forSupporter #snsLink li {
	float: left;
	margin-right: 14px;
	font-size: 13px;
}
#projectStart #projectContents #forSupporter #snsLink li label {
	cursor: pointer;
}
#projectStart #projectContents #forSupporter #snsLink li .fb {
	color: #39599f;
}
#projectStart #projectContents #forSupporter #snsLink li .tw {
	color: #45b0e3;
}
#projectStart #projectContents #forSupporter .actions {
	clear: both;
}
#projectStart dl#bankFlow {
	margin: 20px 0 0;
	padding: 20px;
	background: #FFDEDE;
	border-radius: 5px;
}
#projectStart h4 {
	font-size: 13px;
	padding-bottom: 6px;
}
#projectStart dl#bankFlow dt {
	font-size: 16px;
	font-weight: bold;
	color: #F46C6E;
	padding-bottom: 5px;
	border-bottom: dashed 1px #F46C6E;
}
#projectStart dl#bankFlow dt span {
	display: inline-block;
	background: #F46C6E;
	line-height: 100%;
	color: #fff;
	font-size: 14px;
	width: 20px;
	text-align: center;
	padding: 3px 0;
	border-radius: 4px;
	margin-right: 8px;
}
#projectStart dl#bankFlow dd {
	margin-top: 12px;
}
#projectStart dl.confirmList {
	cursor: pointer;
	background: #F5F2F0;
	display: table;
	border-bottom: 3px solid #fff;
	width: 100%;
	position: relative;
}
#projectStart dl.confirmList dt {
	width: 45%;
	box-sizing: border-box;
	padding: 12px 0 12px 20px;
	border-right: 3px dotted #fff;
	display: table-cell;
}
#projectStart dl.confirmList dd {
	width: 55%;
	box-sizing: border-box;
	padding: 12px 10px 12px 20px;
	display: table-cell;
}
#projectStart dl.confirmList dd img {
	background: #fff;
	padding: 5px;
	height: 80%;
}
#projectStart #changeAddress {
	margin-top: 8px;
}
#projectStart #paymentLink a {
	color: #19A9E3;
}
#projectStart .caution {
	font-size: 12px;
	color: #B2B2B2;
}
#projectStart #available {
	text-align: left;
	margin-top: 0px;
	font-size: 13px;
}
#projectStart #available img {
	width: 55px;
	height: auto;
}
.sub-ticketlist-inner .sub-ticketlist-img {
	padding: 10px 0;
}
.sub-ticketlist-inner .sub-ticketlist-img img {
	width: 100%;
}
}
