*{
	/*font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;*/
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;	
}

body{
	-webkit-text-size-adjust: 100%;
	color: #fff;
}

a{
	color:#e60012;
}

.wrapper{
	width:100%;
	min-height: 100%;
	background:#010602 url('/ja/assets/images/background.jpg') no-repeat top center;
}

@media screen and (max-width: 1920px){
	.wrapper {
		background-size: cover;
	}
}

.contents_container{
	overflow: hidden;
	width:960px;
	margin: 0 auto;
}

/*ロゴ部分ここから*/
.header_container{
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}

.header{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 164px;
	margin: 0 auto;
	color:#010602;
	text-align: center;
}

.logo_container{
	position: absolute;
	width: 234px;
	height: 45px;
	margin-left: 30px;
	margin-top: 45px;
}

.logo_container img{
	width: 100%;
}

/*h1のテキストを隠して、画像を使用する際指定*/
.hide_text{
	height: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.header_text_container { 
	width: 860px;
	margin-right: auto;
	margin-left: auto ;
}

.site_description{
	margin-top: 32px;
	font-size: 28px;
	letter-spacing: .08rem;
	text-align: center;
}

.header_text{
	clear: both;
	width: 860px;
	margin-top: 22px;
	font-size: 22px;
	line-height: 1.4;
	letter-spacing: .2rem;
	text-align: center;
}

/*ブラウザ幅が1280px以下の時、headerを960固定*/
@media screen and (max-width: 1280px) {
	.header { width:960px; }
	.logo_container { margin-top:0; position: relative; margin-right: auto; margin-left:auto ; }
	.header_text_container { margin-top: 0; }

	.site_description{
		clear: both;
		margin-top: 0px;
		margin-left: 36px;
		font-size: 30px;
	}

	.header_text{
		clear: both;
		margin-top: 16px;
		margin-left: 60px;
		line-height: 1.2;
		letter-spacing: 0rem;
	}
}

@media screen and (min-width: 1380px){
	.site_description{
		font-size: 30px;
	}

	.header_text{
		font-size: 24px;
	}
}

@media screen and (min-width: 1600px){

	.logo_container{
		width: 334px;
	}
}
/*ロゴ部分ここまで*/


/*動画付近のブロック　ここから*/
.movie_container{
	margin-top: 102px;
	text-align: center;
}

.movie_container_head{
	width: 494px;
	margin: 0 auto;
	text-align: center;
	font-size: 60px;
	line-height: 1.4;
}


.movie{
	width:756px;
	height: 490px;
	margin-top: 74px;
}
/*動画付近のブロック　ここまで*/

.tokuten_container{
	width: 960px;
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tokuten_container_head { 
	width: 900px;
	margin-left: 72px;
	font-size: 54px; 
	line-height: 1.1;
	letter-spacing: .1rem;
}

.tokuten_list{
	overflow: hidden;
	width: 960px;
}

.toukou_list_first { 
	margin-top: 106px; 
	margin-bottom: 96px; 
}

.tokuten_list li { 
	display:inline-block;
	float: left; 
}

.first { 
	width: 300px;
	margin-right:40px;
}

.second {
	width: 324px;
	margin-right: 28px;
}

.third { width: 246px; }

.icon_container { height: 152px; }

.tokuten_text{
	height: 60px;
	font-size: 22px;
	line-height: 1.2;
}

.nado{
	width: 100%;
	text-align: right;
	margin-top: 32px;
	/*margin-right: 12px;*/
	font-size: 24px;
}

/*事前登録受付付近　ここから*/
.register_container { 
	width: 960px;
	margin-top: 100px;
}
.uketuke_img_container{
	text-align: center;
}

.five_end{
	margin-top: 8px;
	margin-left: -72px;
	text-align: left;
	font-size: 20px;
}

.fs_30{
	color:#fff;
	font-weight: normal;
	font-size:30px;
}

.red{
	color:#ec2323;
}

.present_text{
	width: 900px;
	font-size: 40px;
	margin-top: 20px;
	background-image:url(image);
	margin-left: -94px;
	line-height: 1.4;
}

.form_container{
	width: 900px;
	margin-left: 128px;
}

.fake_target { display: none; }

.thanks{	
	display: none;
	width: 680px;
	color:#000;
	border-radius:4px ;
	padding:16px 0;
	border:solid 4px #ec2323;
	background: #fff;
}

.thanks_text{
	margin-left: 24px;
	color:#010602;
	font-size: 20px;
	line-height: 1.6;

}
.input_container{
	position: relative;
	margin-top: 16px;
}

.email_input{
	-webkit-appearance: none;
	width:552px;
	height: 58px;
	border:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	padding:14px 0;
	border-radius:4px;
	font-size: 24px;
	text-indent:1rem;
}

.submit_btn{
	-webkit-text-size-adjust: 100%;
	-webkit-appearance: none;
	width: 98px;
	height:58px;
	margin-left: 16px;
	border: none;
	border-radius:4px ;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#ec2323;
	color:#fff;
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;	
	>font-family: “MS UI Gothic”;
	font-size: 28px;
	vertical-align: middle;
	cursor: pointer;
}

@media screen and (max-device-width: 768px) {
	.submit_btn{
		font-size: 150%;
	}
}

.submit_btn:hover{
	background-color: #ed4f4f;
}

.jusin_kyoka{
	width: 416px;
	margin: 0;
	margin-top: 4px;
	font-size: 18px;
	background-image:url(image);
}
.read_text{
	position: absolute;
	right: 130px;
	bottom:-6px;
	-webkit-transform: rotate(-4deg);
	-moz-transform   : rotate(-4deg);
	-ms-transform    : rotate(-4deg);
	-o-transform     : rotate(-4deg);
	transform        : rotate(-4deg);
	font-size: 18px;
}

.tyui_text{
	width: 732px;
	margin-top: 96px;
	font-size: 20px;
	line-height: 1.5;
	background-image:url(image);
}
/*事前登録受付付近　ここまで*/

.footer{
	margin-top: 178px;
	padding-bottom: 16px;
	font-size: 24px;
	text-align: center;
}
